<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [sticky]="false" [title]="'Estimated Budget Detail'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
          <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
          <button [routerLink]="'/' + ESTIMATED_BUDGET.ID_BASED_ROUTE('print', estimatedBudgetMaster?.id)" type="button" mat-raised-button
            class="btn_white mr-3">
            Print Estimated Budget
          </button>
          <button *ngIf="(permission.isGranted(permissions.ESTIMATED_BUDGET_EDIT))"
            [disabled]="!(permission.isGranted(permissions.ESTIMATED_BUDGET_EDIT))"
            [ngClass]="!(permission.isGranted(permissions.ESTIMATED_BUDGET_EDIT)) ? 'disable' : '' "
            [routerLink]="'/' + ESTIMATED_BUDGET.ID_BASED_ROUTE('edit', estimatedBudgetMaster?.id)" [queryParams]="{q: estimatedBudgetMaster?.id, 'isEstimatedBudget': true}"
            type="button" mat-raised-button class="btn_white mr-3">
            Edit
          </button>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <div class="col-md-12 col-lg-12 mx-auto  mb-5">
  
          <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
              <div class="table-responsive">
  
                <table class="table" style="border-collapse: separate; border-spacing:6px 6px;">
                  <tbody>
                    <tr rowspan="1">
                      <th class="" style="border: 1px solid #8babdb;width: 15%;">From:</th>
                      <td class="" style="background: #595e791c; width: 20%;">
                        {{estimatedBudgetMaster?.from | date: 'MMM d, y'}}</td>
  
                      <th class="" style="border: 1px solid #8babdb;width: 15%;">To:</th>
                      <td style="background: #595e791c; width: 20%;">
                        {{estimatedBudgetMaster?.to | date: 'MMM d, y'}}</td>
                    </tr>
                    <tr rowspan="1">
                      <th class="" style="border: 1px solid #8babdb; width: 15%;">Estimated Budget Name:</th>
                      <td class="" style="background: #595e791c; width: 20%;">
                        {{estimatedBudgetMaster?.estimatedBudgetName}}</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12 col-12">
              <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;padding: 0px 6px;"
                class="ag-theme-alpine" [rowData]="estimatedBudgetLines" [columnDefs]="columnDefs"
                (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
              </ag-grid-angular>
            </div>
          </div>
  
          <!-- <div class="row mt-5">
            <div class="col-lg-4 ml-auto">
              <table class="table table-bordered small_table_box" style="margin: 0px -6px;">
                <tr>
                  <th class="text-right"
                    style="background-image: linear-gradient(to right, #20222a, #2b335d); color: #fff;">Total Amount :
                  </th>
                  <td class="text-right" style="background-color: #f2f2f2; font-weight: bold;">
                    {{valueFormatter(totalAmount || 0)}}</td>
                </tr>
              </table>
            </div>
          </div> -->
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>