<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'" [sticky]="false"  [title]="'Quotation Comparative Detail'">
        <ng-container class="" ktPortletTools>
          <div class="ribbon-target"><span class="ribbon-inner {{docStatus[quotationComparativeMaster?.state]}}"></span> {{quotationComparativeMaster?.status}}</div>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <div class="col-md-12 col-lg-12 mx-auto  mb-5">
          <div class="row ">
            <div class="btn_container">
              <div class="col-md-6 col-6">
                <ng-container ktPortletTools >
                    <button *ngIf="(quotationComparativeMaster?.state === docStatus.Draft || quotationComparativeMaster?.state === docStatus.Rejected)
                        && (permission.isGranted(permissions.QUOTATION_COMPARATIVE_EDIT))"
                      [routerLink]="'/' + QUOTATION_COMP.ID_BASED_ROUTE('edit', quotationComparativeMaster?.id)" [queryParams]="{q: quotationComparativeMaster?.id, 'isQuotationComparative': true}"
                      type="button"  class="mr-3 btn_public" id="quotation_edit"> <i class="fa fa-edit icon-e-p-a"></i>
                      Edit
                    </button>

                    <button [routerLink]="'/' + QUOTATION_COMP.ID_BASED_ROUTE('print', quotationComparativeMaster?.id)" type="button"
                      class="btn_public" id="quotation_print">
                      <i class="fa fa-print icon-e-p-a"></i> Print Quotation Comparative
                    </button>
                </ng-container>
              </div>
              <div class="col-lg-6 text-right" *ngIf="checkBoxSelection">
                <button (click)="openDialog()" id="quotation_award" class="btn btn-outline-success font-weight-bold " >Award Vendor</button>
              </div>
            </div>
  
            <div class="col-md-5 col-lg-5  mt-3">
              <div class="print-box">
                  <h4 class="print-box-detail-1"><b>Doc No:</b>
                      <span class="float-right" style="font-weight: 400;">{{quotationComparativeMaster?.docNo}}</span></h4>
                  <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box">
                  <h4 class="print-box-detail-2"><b>Quotation Comparative Date: </b>
                  <span class="float-right" style="font-weight: 400;">{{quotationComparativeMaster?.quotationComparativeDate | date: 'MMM d, y'}}</span></h4>
              </div>
              <div class="print-box">
                <h4 class="print-box-detail-2"><b>Remarks: </b>
                <span class="float-right" style="font-weight: 400;">{{quotationComparativeMaster?.remarks || 'N/A'}}</span></h4>
              </div>
            </div>
          </div>

          <div class="row mt-10 quotation-comparitive">
            <div class="col-lg-12 col-md-12 my-5">
              <ag-grid-angular
                style="width: 100%; height: 400px; margin-top: 10px;"
                class="ag-theme-alpine"
                [columnDefs]="columnDefs"
                [masterDetail]="true"
                [isRowMaster]="isRowMaster"
                [gridOptions]="gridOptions"
                [detailCellRendererParams]="detailCellRendererParams"
                (firstDataRendered)="onFirstDataRendered($event)"
                [rowData]="quotationList"
                (gridReady)="onGridReady($event)"
                [defaultColDef]="defaultColDef">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </kt-portlet-body>
  
      <mat-divider class="mt-10"></mat-divider>
    </kt-portlet>
  </div>
  
  