<div [ktBusy]="isLoading">
  <kt-portlet>

    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'" [sticky]="false"
                       [title]="'Asset Detail'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        <div class="ribbon-target"><span
          class="ribbon-inner {{docStatus[assetMaster?.state]}}"></span> {{assetMaster?.status}}</div>
        <!-- <h4 class="overall_statuses {{docStatus[requestRequisitionMaster?.state]}}"> Status: {{requestRequisitionMaster?.status}} </h4> -->
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">
        <div class="row ">
          <div class="btn_container">
            <div class="col-md-6 col-6">
              <ng-container ktPortletTools>
                <button [routerLink]="'/' + ASSET.ID_BASED_ROUTE('print', assetMaster?.id)" class="btn_public"
                        id="asset_print" type="button">
                  <i class="fa fa-print"></i> Print Asset
                </button>
                <button (click)="editAsset(assetMaster?.id)"
                        *ngIf="(assetMaster?.state === docStatus.Draft || assetMaster?.state === docStatus.Rejected)
                  && (permission.isGranted(permissions.ASSET_EDIT))" class="mr-2 btn_public" id="asset_edit" type="button">
                  <i class="fa fa-edit"></i> Edit
                </button>
                <button (click)="editAsset(assetMaster?.id)"
                        *ngIf="assetMaster?.state === docStatus.Unpaid && permission.isGranted(permissions.ASSET_EDIT)" class="mr-2 btn_public" id="asset_edit" type="button">
                  <i class="fa fa-edit"></i> Edit
                </button>
                <button *ngIf="shouldShowDepreciationButton()" (click)="depreciationSchedule()" class="mr-2 btn_public" id="asset_disposed" type="button">
                  <i class="fa fa-edit"></i> Depreciation Schedule
                </button>
                <button (click)="activationDetail()" class="mr-2 btn_public" id="asset_disposed" type="button">
                  <i class="fa fa-edit"></i> Activation Detail
                </button>
                <button (click)="conformationDailog()"
                        *ngIf="(!assetMaster?.isIssued && !assetMaster?.isReserved && !assetMaster?.isHeldforSaleOrDisposal &&  !assetMaster?.isDisposed && assetMaster?.state !== docStatus.Draft)"
                        class="mr-2 btn_public" id="asset_disposed" type="button">
                        <i class="fa fa-edit"></i> Held for Disposal
                </button>
              </ng-container>
            </div>
            <!--<div class="col-md-6 col-6 text-right">
              <button
                (click)="conformationDailog()"
                *ngIf="(!assetMaster?.isIssued && !assetMaster?.isReserved && !assetMaster?.isHeldforSaleOrDisposal &&  !assetMaster?.isDisposed && assetMaster?.state !== docStatus.Draft)" class="app-default-btn" id="asset_disposed" mat-raised-button
                mat-raised-buttontype="submit"> Held For Disposed
              </button>
            </div>-->
            <div *ngIf="assetMaster?.isAllowedRole" class="col-lg-6 text-right">
              <button (click)="remarksDialog(action.Reject)" class="mr-2 btn btn-outline-danger" id="request_reject">
                Reject
              </button>
              <button (click)="remarksDialog(action.Approve)" class="btn btn-outline-success" id="request_approve">
                Approve
              </button>
            </div>
          </div>

          <div class="col-md-6 col-lg-6  mt-3">
            <div class="print-box">
              <h4>Name:
                <span class="float-right">{{assetMaster?.id}} - {{assetMaster?.name}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Employee:
                <span class="float-right">{{assetMaster?.employee}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Acquisition Date:
                <span class="float-right">{{assetMaster?.dateofAcquisition | date: 'MMM d, y'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Cost:
                <span class="float-right">{{valueFormatter(assetMaster?.cost)}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Product:
                <span class="float-right">{{assetMaster?.product}}</span></h4>
            </div>
            <div class="print-box">
              <h4>Salvage Value:
                <span class="float-right">{{valueFormatter(assetMaster?.salvageValue)}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Depreciation Applicability:
                <span
                  class="float-right">{{assetMaster?.depreciationApplicability ? "Applicable" : 'Not Applicable'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>Depreciation Model :
                <span class="float-right">{{assetMaster?.depreciationModel || 'N/A'}}</span></h4>
            </div>
            <div class="print-box">
              <h4>Model Type:
                <span class="float-right">{{modelType[assetMaster?.modelType]}}</span></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-6  mt-3">
            <div class="print-box">
              <h4>
                Store:
                <span class="float-right">{{assetMaster?.warehouse || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                Asset Account:
                <span class="float-right">{{assetMaster?.assetAccount || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                Depreciation Expense Account:
                <span class="float-right">{{assetMaster?.depreciationExpense || 'N/A'}}</span>

              </h4>
            </div>
            <div class="print-box">
              <h4>
                Accumulated Depreciation Account:
                <span class="float-right">{{assetMaster?.accumulatedDepreciation || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                UseFull Life:
                <span class="float-right">{{valueFormatter(assetMaster?.useFullLife || 0)}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                Declining Rate:
                <span class="float-right">{{valueFormatter(assetMaster?.decLiningRate || 0)}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                Prorata Basis:
                <span class="float-right">{{assetMaster?.prorataBasis ? "Applicable" : 'Not Applicable'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4>
                Active:
                <span class="float-right">{{assetMaster?.isActive ? "Applicable" : 'Not Applicable'}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mb-10"></mat-divider>

    <div *ngIf="remarksList.length > 0" class="col-md-7 col-7">
      <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
    </div>

    <mat-divider *ngIf="remarksList.length > 0" class="mt-10 mb-10"></mat-divider>

    <!-- <mat-divider class="mt-10"></mat-divider> -->

    <!-- <div class="kt-portlet__foot p-5">
      <div class="kt-form__actions kt-form__actions mb-0">
        <div class="row ">
          <div class="col-lg-12 text-right" *ngIf="assetMaster?.isAllowedRole">
            <button (click)="workflow(action.Reject)" id="invoice_reject" class="mr-5 btn btn-outline-danger" mat-raised-button>Reject</button>
            <button (click)="workflow(action.Approve)" id="invoice_approve" class="btn btn-outline-success" mat-raised-button>Approve</button>
          </div>
        </div>
      </div>
    </div> -->
  </kt-portlet>
</div>
