<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [sticky]="false" [title]="'Asset Detail'" [class]="'card-head-lg'">
        <!-- <ng-container ktPortletTools>
          <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
          
          <h4 class="overall_statuses {{docStatus[assetMaster?.state]}}"> Status: {{assetMaster?.status}} </h4>
        </ng-container> -->
      </kt-portlet-header>
      <kt-portlet-body>
        <div class="col-md-12 col-lg-12 mx-auto  mb-5">
          <div class="row ">
            <div class="col-md-12 col-12 pb-3">
              <ng-container ktPortletTools >
                  <!-- <button *ngIf="(assetMaster?.state === docStatus.Draft || assetMaster?.state === docStatus.Rejected)"
                    [disabled]="!(permission.isGranted(permissions.INVOICE_EDIT))"
                    [ngClass]="!(permission.isGranted(permissions.INVOICE_EDIT)) ? 'disable' : '' "
                    [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('edit', assetMaster?.id)" [queryParams]="{q: assetMaster?.id, 'isInvoice': true}"
                    type="button"  class="mr-3 btn_public" id="invoice_edit"> <i class="fa fa-edit"></i>
                    Edit
                  </button>
                  <button [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('print', assetMaster?.id)" type="button" 
                    class="btn_public" id="invoice_print">
                    <i class="fa fa-print"></i> Print Invoice
                  </button> -->
                  <button *ngIf="(permission.isGranted(permissions.ASSET_EDIT))" 
                    type="button" class="mr-2 btn_public" id="asset_edit" (click)="editAsset()" >
                    <i class="fa fa-edit" ></i> Edit
                 </button>
                  
  
                  <mat-divider class="mt-5"></mat-divider>
              </ng-container>
              
            </div>
  
            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 >Employee Name: 
                  <span class="float-right" >{{assetMaster?.name || 'N/A'}}</span>
                </h4>
                <!-- <h6 style="font-weight: 400; color: #65c18c; font-size: 12px">{{assetMaster?.name || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >Domicile: 
                  <span class="float-right" >{{assetMaster?.domicile || 'N/A' }}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.domicile || 'N/A' }}</h6> -->
              </div>
              <div class="print-box">
                <h4 >Nationality: 
                  <span class="float-right" >{{assetMaster?.nationality || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.nationality || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >Place Of Birth: 
                <span class="float-right" >{{assetMaster?.placeofBirth}}</span></h4>
              </div>
              <div class="print-box">
                  <h4 >Date Of Joining: 
                    <span class="float-right" >{{assetMaster?.dateofJoining | date: 'MMM d, y'}}</span>
                  </h4>
                  <!-- <h6 >{{assetMaster?.dateofJoining | date: 'MMM d, y'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >Role: 
                  <span class="float-right" >{{assetMaster?.role || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.role || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >Basic Pay: 
                <span class="float-right" >{{valueFormatter(assetMaster?.basicPay)}}</span></h4>
              </div>
              <div class="print-box">
                <h4 >Increment: 
                <span class="float-right" >{{valueFormatter(assetMaster?.increment)}}</span></h4>
              </div>
            </div>
  
            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 >
                  Father Name: 
                  <span class="float-right" >{{assetMaster?.fatherName || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.fatherName || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Contact: 
                  <span class="float-right" >{{assetMaster?.contact || 'N/A'}}</span>
                  
                </h4>
                <!-- <h6 >{{assetMaster?.contact || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Martial Status: 
                  <span class="float-right" >{{assetMaster?.maritalstatus || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.maritalstatus || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Designation: 
                  <span class="float-right" >{{assetMaster?.designationName || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.designationName || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Address: 
                  <span class="float-right" >{{assetMaster?.address || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.address || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Date Of Retirement: 
                  <span class="float-right" >{{assetMaster?.dateofRetirment | date: 'MMM d, y'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.dateofRetirment | date: 'MMM d, y'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Faculty: 
                  <span class="float-right" >{{assetMaster?.faculty || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.faculty || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  No of Increment: 
                  <span class="float-right" >{{assetMaster?.noOfIncrements || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.noOfIncrements || 'N/A'}}</h6> -->
              </div>
            </div>
  
            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 >
                  Cnic: 
                  <span class="float-right" >{{assetMaster?.cnic || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.cnic || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Religion: 
                  <span class="float-right" >{{assetMaster?.religion}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.religion || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Gender: 
                  <span class="float-right" >{{assetMaster?.gender || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.gender || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Department: 
                  <span class="float-right" >{{assetMaster?.departmentName}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.departmentName || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Date Of Birth: 
                  <span class="float-right" >{{assetMaster?.dateofBirth || 'N/A'}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.dateofBirth || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Shift: 
                  <span class="float-right" >{{assetMaster?.dutyShift}}</span>
                </h4>
                <!-- <h6 >{{assetMaster?.dutyShift || 'N/A'}}</h6> -->
              </div>
              <div class="print-box">
                <h4 >
                  Is Active: 
                  <span class="float-right" >{{(assetMaster?.isActive === true) ? 'Yes' : "No"}}</span>
                </h4>
                <!-- <h6 >{{(assetMaster?.isActive === true) ? 'Yes' : "No"}}</h6> -->
              </div>
            </div>
          </div>
        </div>
      </kt-portlet-body>
  
      <mat-divider class="mt-10"></mat-divider>
  
      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions kt-form__actions mb-0">
          <div class="row ">
            <!-- <div class="col-lg-12 text-right" *ngIf="assetMaster?.isAllowedRole">
              <button (click)="workflow(action.Reject)" id="invoice_reject" class="mr-5 danger__btn" mat-raised-button>Reject</button>
              <button (click)="workflow(action.Approve)" id="invoice_approve" class="success__btn" mat-raised-button>Approve</button>
            </div> -->
          </div>
        </div>
      </div>
    </kt-portlet>
  </div>