<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
        printSectionId="main"
        printTitle="Estimated Budget"
        id="budget_print"
        ngxPrint
        type="button"
        [useExistingCss]="true"
        class="app-default-btn"
        style="margin-bottom: 20px;"><i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div class="row">
      <div class="bg-whitee">
        <div class="print_header_area p-s-1">
          <div class="print-col-6 p-s-1-one">
            <div class="logo_and_title">
              <div class="print-logo"></div>
              <!-- <img src="../../../../../../assets/media/logos/logo-wr.png" style="height: 100px;" alt=""> -->
              <span class="top-heading">ESTIMATED BUDGET</span>
            </div>
            
          </div>
          <div class="print-col-5 ml-auto p-s-1-one">
            <div class="id_num">
              <div class="print-box-one">
                <h4>From Date: <span class="float-right" style="font-weight: 400;">{{budgetMaster?.from | date: 'MMM d, y'}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box-two">
                <h4>to Date: <span class="float-right" style="font-weight: 400;">{{budgetMaster?.to | date: 'MMM d, y'}}</span></h4>
              </div>
            </div>
          </div>
        </div>

        
        <div class="print_body_area p-s-2">

          <div class="print-col-5 p-s-2-one">
            
            <div class="print-box" >
              <h4>{{budgetMaster?.budgetName}}</h4>
              <p>24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
            </div>
          </div>

          <div class="print-col-12 p-s-2-two">
            <div class="table-responsive">
              <table class="table ">
                <thead class="thead-dark_color">
                  <tr>
                    <th>S.No</th>
                    <th>Account</th>
                    <th  class="text-center">Amount</th>
                    
                    
                  </tr>
                  <tr *ngFor="let line of budgetLines; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{line?.accountName || '---'}}</td>
                    <td class="text-right"><b>{{valueFormatter(line?.amount)}}</b></td>
                  </tr>
                  
                  
                </thead>
              </table>
            </div>
          </div>


          <div class="print-col-5  ml-auto p-s-3">
            <div class="print-box p-s-3-two">
              <h4>Total Amount:
                <span class="float-right">{{totalAmount?.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
              </h4>
            </div>
          </div>


          <div class="print-col-12 p-s-4">
            
            <div class="print-box p-s-4-one">
              <p>Terms and conditions:</p>
            </div>
            <div class="print-box p-s-4-two">
              <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </h4>
            </div>

            <div class="print-box p-s-4-three">
              <p>Thankyou for your Business</p>
            </div>
            
          </div>

          

          <div class="print-col-4 p-s-5">
            _________________________________
            <p class="text-center">Authorised Sign</p>
          </div>
          
        </div>


      </div>
    </div>
  </div>
</div>