<div class="container">
  <div class="row">
    <!--region Widgets-->
    <div class="col-md-3 col-sm-6 mb-5">
      <div class="card" style="height: 150px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="row mx-auto my-auto">
          <div class="col-3">
            <i class="fas fa-chart-line all-text-primary" style="font-size: 30px; vertical-align: middle;"></i>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 h1 recivable-amount">Rs {{300000 | shortNumber}}</div>
              <div class="col-12 h6 recivable-heading">Total Receivable</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-5">
      <div class="card" style="height: 150px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="row mx-auto my-auto">
          <div class="col-3">
            <i class="far fa-chart-bar text-success" style="font-size: 30px; vertical-align: middle;"></i>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 h1 recivable-amount">Rs {{30000 | shortNumber}}</div>
              <div class="col-12 h6 recivable-heading">Total Payable</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-5">
      <div class="card" style="height: 150px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="row mx-auto my-auto">
          <div class="col-3">
            <i class="fas fa-signal text-warning" style="font-size: 30px; vertical-align: middle;"></i>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 h1 recivable-amount">Rs {{390000 | shortNumber}}</div>
              <div class="col-12 h6 recivable-heading">Net Profit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-5">
      <div class="card" style="height: 150px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="row mx-auto my-auto">
          <div class="col-3 text-center">
            <i class="fas fa-chart-area text-danger" style="font-size: 30px; vertical-align: middle;"></i>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 h1 recivable-amount">Rs {{90000 | shortNumber}}</div>
              <div class="col-12 h6 recivable-heading">Gross Profit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--endregion-->
    <!--region Graphs-->
    <div class="col-md-6 mb-5">
      <div id="chart" class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div id="pie-chart" class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <apx-chart
          [series]="pieChartOptions.series"
          [chart]="pieChartOptions.chart"
          [labels]="pieChartOptions.labels"
          [responsive]="pieChartOptions.responsive"
          [legend]="pieChartOptions.legend"
          [title]="pieChartOptions.title"
          [fill]="pieChartOptions.fill"
          [dataLabels]="pieChartOptions.dataLabels"
          [colors]="pieChartOptions.colors"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
