<div [ktBusy]="isLoading">
    <kt-portlet>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        <kt-portlet-header [sticky]="false" [title]="formName + ' Detail'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <h4 class="overall_statuses  {{docStatus[paymentMaster?.state]}}">Status:  {{paymentMaster?.status}}</h4>
        </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
        <div class="col-md-12 col-lg-12 mb-5">
            <div class="row">
                <div class="col-md-12 col-12 pb-3">
                    <ng-container ktPortletTools >
                        <button  *ngIf="(paymentMaster?.state === docStatus.Draft  || paymentMaster?.state === docStatus.Rejected) && (showButtons)"
                               
                            (click)="addPaymentDialog(paymentId)"   id="payment_edit" class="mr-3 btn_public" type="button" ><i class="fa fa-edit"></i> Edit
                        </button>
                        
                        <button  class="btn_public" [routerLink]="'/payment/'+ printRoute + '/print/' + paymentMaster?.id" id="payment_print" type="button" >
                           <i class="fa fa-print"></i> Print {{formName}}
                        </button>

                        <mat-divider class="mt-5"></mat-divider>
                    </ng-container>
                    
                </div>

                <div class="col-md-4 col-lg-4  mt-3">
                    <div class="print-box">
                        <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;">Payment ID: 
                            <span class="float-right" style="font-weight: 400;">{{paymentMaster?.docNo}}</span></h4>
                        <p style="margin-bottom: 0px;"></p>
                    </div>
                        <div class="print-box">
                        <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Payment Date: 
                            <span class="float-right" style="font-weight: 400;">{{paymentMaster?.paymentDate | date: 'MMM d, y'}}</span></h4>
                    </div>
                    <div class="print-box" style="margin-top: 5%;margin-top: 6%;background-color: #bbd3db4d;padding: 10px;">
                        <h4 style="font-size: 22px;font-weight: 600;color: #1a6b85;">{{paymentMaster?.businessPartnerName}}</h4>
                        <p class="mb-0" style="font-size: 15px;font-weight: 400;color: #1a6b85;">24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
                    </div>
                </div>
                
                <div class="col-md-12 mt-10">
                    <table class="table">
                        <tr style="    background-color: #eaf2f4;">
                            <th class="">Account</th>
                            <th class="text-left">Description</th>
                            <th class="">Campus</th>
                            <th class="text-right" style="width: 15%;">Gross Payment</th>
                           
                        </tr>
                        <tr>
                            <td class="">{{paymentMaster?.accountName}}</td>
                            <td class="text-left">{{paymentMaster?.description}}</td>
                            <td class="">{{paymentMaster?.campusName}}</td>
                            <td class="text-right" >{{valueFormatter(paymentMaster?.grossPayment || 0)}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-4 col-lg-4  ml-auto mt-3" >

                    <div class="print-box">
                      <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Sales Tax:
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(paymentMaster?.salesTax || 0)}}</span>
                      </h4>
                    </div>
                    <div class="print-box">
                      <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Income Tax:
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(paymentMaster?.incomeTax || 0)}}</span>
                      </h4>
                    </div>
                    <div class="print-box">
                      <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;">SRB Tax:
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(paymentMaster?.srbTax || 0)}}</span>
                      </h4>
                    </div>
                    <div class="print-box">
                      <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;border-top: 2px solid #1a6b85;
                      padding-top: 10px;">Net Payment: 
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(paymentMaster?.netPayment || 0)}}</span>
                      </h4>
                    </div>

                    <div>
                        <table *ngIf="paidAmountList?.length > 0" class="table  small_table_box" style="margin: 0px -6px;">
                                <tr>
                                <td colspan="2">
                                  <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                                      font-weight: bold;">
                                          References 
                                        </mat-panel-title>
                                        <!-- <mat-panel-description style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                                      font-weight: bold; flex-grow: 0;">
                                          {{valueFormatter(paidAmount || 0)}}
                                        </mat-panel-description> -->
                                      </mat-expansion-panel-header>
                                      <table class="table text-center table-bordered">
                                        <tr>
                                          <th>Doc #</th>
                                          <th>Amount</th>
                                        </tr>
                                        <tr *ngFor="let pay of paidAmountList">
                                          <td><a [routerLink]="(pay?.docType === 3) ? ('/' + INVOICE.ID_BASED_ROUTE('details', pay?.id)) : (pay?.docType === 4) ? ('/' + BILL.ID_BASED_ROUTE('details' , pay?.id)) : ('/' + PAYROLL_TRANSACTION.ID_BASED_ROUTE('details' , pay?.id))"
                                              class="links">{{pay?.docNo}}</a></td>
                                          <td>
                                            <a [routerLink]="(pay?.docType === 3) ? ('/' + INVOICE.ID_BASED_ROUTE('details', pay?.id)) : (pay?.docType === 4) ? ('/' + BILL.ID_BASED_ROUTE('details' , pay?.id)) : ('/' + PAYROLL_TRANSACTION.ID_BASED_ROUTE('details' , pay?.id))"
                                              class="links">{{valueFormatter(pay?.amount || 0)}}</a>
                                          </td>
                                        </tr>
                                      </table>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                                </td>
                              </tr>
                        </table>
                    </div>

                    <div>
                      <table *ngIf="paymentMaster?.documentReconcile" class="table  small_table_box" style="margin: 0px -6px;">
                        <tr>
                        <td colspan="2">
                          <mat-accordion>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                              font-weight: bold;">
                                  References 
                                </mat-panel-title>
                                <!-- <mat-panel-description style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                              font-weight: bold; flex-grow: 0;">
                                  {{valueFormatter(paidAmount || 0)}}
                                </mat-panel-description> -->
                              </mat-expansion-panel-header>
                              <table class="table text-center table-bordered">
                                <tr>
                                  <th>Doc #</th>
                                  <th>Amount</th>
                                </tr>
                                <tr>
                                  <td>
                                   <ng-container
                                     *ngIf="(paymentMaster?.documentReconcile?.docType === docType.Invoice); else payrollTransaction">
                                     <a [routerLink]="('/' + INVOICE.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                        class="links"
                                        style="margin-left: 3px;">{{paymentMaster?.documentReconcile.docNo}}</a>
                                   </ng-container>
                                   <ng-template #payrollTransaction>
                                    <a
                                       *ngIf="(paymentMaster?.documentReconcile?.docType === docType.PayrollTransaction); else bill"
                                      [routerLink]="('/' + PAYROLL_TRANSACTION.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                      class="links"
                                       style="margin-left: 3px;">{{paymentMaster?.documentReconcile.docNo}}</a>
                                  </ng-template>
                                  <ng-template #bill>
                                     <a *ngIf="(paymentMaster?.documentReconcile?.docType === docType.Bill); else bill"
                                        [routerLink]="('/' + BILL.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                        class="links"
                                       style="margin-left: 3px;">{{paymentMaster?.documentReconcile.docNo}}</a>
                                   </ng-template>
                                  </td>

                                  <td>
                                    <ng-container
                                      *ngIf="(paymentMaster?.documentReconcile.docType === docType.Invoice); else payrollTransactionAmount">
                                      <a [routerLink]="('/' + INVOICE.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                         class="links"
                                         style="margin-left: 3px;">{{valueFormatter(paymentMaster?.documentReconcile.amount)}}</a>
                                    </ng-container>
                                    <ng-template #payrollTransactionAmount>
                                     <a
                                        *ngIf="(paymentMaster?.documentReconcile.docType === docType.PayrollTransaction); else billAmount"
                                       [routerLink]="('/' + PAYROLL_TRANSACTION.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                       class="links"
                                        style="margin-left: 3px;">{{valueFormatter(paymentMaster?.documentReconcile.amount)}}</a>
                                   </ng-template>
                                   <ng-template #billAmount>
                                      <a *ngIf="(paymentMaster?.documentReconcile.docType === docType.Bill); else billAmount"
                                         [routerLink]="('/' + BILL.ID_BASED_ROUTE('details', paymentMaster?.documentReconcile.id))"
                                         class="links"
                                        style="margin-left: 3px;">{{valueFormatter(paymentMaster?.documentReconcile.amount)}}</a>
                                    </ng-template>
                                   </td>
                                </tr>
                              </table>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </td>
                      </tr>
                </table>
                  </div>
                </div>
            </div>
        </div>
        </kt-portlet-body>

        <mat-divider ></mat-divider>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
            <div class="row ">
                <div class="col-lg-12 text-right" *ngIf="paymentMaster?.isAllowedRole">
                    <button (click)="workflow(action.Reject)" class="mr-5 danger__btn" id="payment_reject" mat-raised-button>Reject</button>
                    <button (click)="workflow(action.Approve)" class="success__btn" id="payment_approve" mat-raised-button>Approve</button>
                </div>
            </div>
            </div>
        </div>
    </kt-portlet>
</div>
  

