<div class="container " >
  <div class="col-lg-10 mx-auto text-end">
    <div class="row">
      <button
        printSectionId="main"
        id="payroll_trans_print"
        printTitle="Payroll Transaction"
        (click)="printForm()"
        type="button"        
        class="app-default-btn" mat-raised-button
        style="margin-bottom: 20px; width: auto;"><i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div [class]="className">
      <div class="print-bg-white">

        <div class="print_header_area p-s-1">
          <div class="print-col-6 p-s-1-one">
            <div class="logo_and_title">
              <div class="print-logo"></div>
              <span class="top-heading">Salary Slip</span>
            </div>
            
          </div>
          <div class="print-col-5 ms-auto p-s-1-two">
            <div class="id_num">
              <div class="print-box-one">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #fff;">Doc No: <span class="float-right" style="font-weight: 400;">{{payrollTransactionMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box-two">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #fff;margin-top: 10px;">Transaction Date: <span class="float-right" style="font-weight: 400;">{{payrollTransactionMaster?.transDate | date: 'MMM d, y'}}</span></h4>
              </div>
            </div>
          </div>
        </div>

        
        <div class="print_body_area p-s-2">
          <div class="print-col-5 p-s-2-one" style="margin-top: 3%;">
            <div class="print-box" >
              <h4>{{payrollTransactionMaster?.employee}}</h4>
              <p>24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
            </div>
          </div>

          <div class="print-col-12 p-s-2-two" style="margin-top: 3%;">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-dark_color">
                  <tr>
                    <th>S.No</th>
                    <th>Payroll Item</th>
                    <th>Account</th>
                    <th class="text-center">Amount</th>
                  </tr>
                  <tr *ngFor="let line of payrollTransactionLines; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{line?.payrollItem || '---'}}</td>
                    <td>{{line?.account}}</td>
                    <td class="text-end"><b>{{valueFormatter(line?.amount || 0)}}</b></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>


          <div class="print-col-5 ms-auto p-s-3">
            <div class="print-box p-s-3-one">
              <h4>Basic Salary:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.basicSalary || 0)}}</span>
              </h4>
            </div>
            <div class="print-box p-s-3-one">
              <h4>Total Allowances:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.totalAllowances || 0)}}</span>
              </h4>
            </div>
            <div class="print-box p-s-3-one">
              <h4>Gross Pay:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.grossPay || 0)}}</span>
              </h4>
            </div>
            <div class="print-box p-s-3-one">
              <h4>Total Deduction:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.totalDeductions || 0)}}</span>
              </h4>
            </div>
            <div class="print-box p-s-3-one">
              <h4>Tax Deduction:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.taxDeduction || 0)}}</span>
              </h4>
            </div>
    
            <div class="print-box p-s-3-two">
              <h4>Net Salary:
                <span class="float-right">{{valueFormatter(payrollTransactionMaster?.netSalary || 0)}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>