<kt-portlet>
	<kt-portlet-header [sticky]="false" [title]="'Requisitions'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
			<!-- <button (click)="agingReport()" mat-raised-button class="btn_white"  matTooltip="Aging Report">View Aging Report</button> -->
      <button (click)="addRequisition()" id="add_requisition" class="ml-3 btn_white" mat-raised-button  matTooltip="Add Requisition">Add Requisition</button>
		</ng-container>
	</kt-portlet-header>
  <kt-portlet-body>
    <div class="col-md-12 col-sm-12 col-lg-12 my-5">
      <!-- <ag-grid-angular style="width: 100%; height: 500px; " class="ag-theme-alpine" 
        [defaultColDef]="defaultColDef"
        [rowData]="invoiceList"
        [columnDefs]="columnDefs" 
        (firstDataRendered)="onFirstDataRendered($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)" 
        [frameworkComponents]="frameworkComponents"
        [tooltipShowDelay]="5"
        [gridOptions]="gridOptions">
      </ag-grid-angular> -->
      <ag-grid-angular 
        style="width: 100%; height: 440px; margin-top: 10px;"
        class="ag-theme-alpine"
        [components]="components"
        [columnDefs]="columnDefs"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        (paginationChanged)="paginationHelper.onPaginationChanged('requisitionPageName', gridApi, $event)"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        [defaultColDef]="defaultColDef"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [tooltipShowDelay]="5"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </kt-portlet-body>
</kt-portlet>