<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'issuance Detail'" [class]="'card-head-lg ribbon ribbon-clip ribbon-right'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        <div class="ribbon-target " ><span class="ribbon-inner {{issuanceMaster?.status}}"></span> {{issuanceMaster?.status}}</div>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 ps-4 pe-4 mx-auto mb-5">
        <div class="row ">
          <div class="btn_container">
            <div class="col-md-6 col-6">
              <ng-container ktPortletTools >
                <button *ngIf="(issuanceMaster?.state === docStatus.Draft || issuanceMaster?.state === docStatus.Rejected)
                    && (permission.isGranted(permissions.ISSUANCE_EDIT))"
                  [routerLink]="'/' + ISSUANCE.ID_BASED_ROUTE('edit', issuanceMaster?.id)" [queryParams]="{q: issuanceMaster?.id, 'isIssuance': true}"
                  type="button"  class="me-3 btn_public" id="issuance_edit"> <i class="fa fa-edit icon-e-p-a"></i>
                  Edit
                </button>

                <button *ngIf="(issuanceMaster?.state === docStatus.Unpaid || issuanceMaster?.state === docStatus.Partial) && (permission.isGranted(permissions.ISSUANCE_RETURN_CREATE))"
                  [routerLink]="'/' + ISSUANCE_RETURN.ID_BASED_ROUTE('edit', issuanceMaster?.id)" [queryParams]="{q: issuanceMaster?.id, 'isIssuance': true}"
                  type="button"  class="me-3 btn_public" id="issuance_edit"> <i class="fa fa-edit icon-e-p-a"></i>
                  Return Issuance
                </button>

                <button [routerLink]="'/' + ISSUANCE.ID_BASED_ROUTE('print', issuanceMaster?.id)" type="button"
                  class="btn_public" id="issuance_print">
                  <i class="fa fa-print icon-e-p-a"></i> Print issuance
                </button>
              </ng-container>

            </div>
            <div class="col-lg-6 text-end" *ngIf="issuanceMaster?.isAllowedRole">
              <button (click)="remarksDialog(action.Reject)" id="issuance_reject" class="me-2 btn btn-outline-danger" >Reject</button>
              <button (click)="remarksDialog(action.Approve)" id="issuance_approve" class="btn btn-outline-success" >Approve</button>
            </div>
          </div>


          <div class="col-md-4 col-lg-4  mt-3">
            <div class="print-box">
                <h4 class="print-box-detail-1">Issuance No:
                    <span class="float-right" style="font-weight: 400;">{{issuanceMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2">Employee Name:
              <span class="float-right" style="font-weight: 400;">{{issuanceMaster?.employeeName}}</span></h4>
            </div>
            <div class="print-box">
                <h4 class="print-box-detail-2">Issuance Date:
                <span class="float-right" style="font-weight: 400;">{{issuanceMaster?.issuanceDate | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box" *ngIf="this.currentClient?.isCampus">
              <h4 class="print-box-detail-2">Campus:
              <span class="float-right" style="font-weight: 400;">{{issuanceMaster?.campusName}}</span></h4>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;"
              class="ag-theme-alpine" [rowData]="issuanceLines" [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-7 col-7"  *ngIf="remarksList.length > 0">
            <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
          </div>

          <div class="col-lg-4 ms-auto">
            <table class="table  small_table_box" style="margin: 0px -6px;">

              <tr *ngIf="(showReference && issuanceMaster?.requisitionId) || (issuanceMaster?.references)">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="paid-amount">
                          Reference
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                        </tr>
                        <tr *ngIf="issuanceMaster?.requisitionId">
                          <td><a [routerLink]="('/' + REQUISITION.ID_BASED_ROUTE('details', issuanceMaster?.requisitionId))"
                            class="links">{{issuanceMaster?.requisitionDocNo}}</a></td>
                        </tr>
                        <ng-container *ngIf="issuanceMaster?.references" >
                          <tr *ngFor="let issuanceReturn of issuanceMaster?.references">
                            <td><a [routerLink]="('/' + ISSUANCE_RETURN.ID_BASED_ROUTE('details', issuanceReturn?.docId))"
                                class="links">{{issuanceReturn?.docNo}}</a></td>
                          </tr>
                        </ng-container>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>
    
  </kt-portlet>
</div>
