.kt-portlet__body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(40, 54, 85);
  background-image: linear-gradient(to bottom, #9c9c9c, #afafaf);
  
}

::ng-deep .mat-mdc-tab-label-active
{
  background-color: whitesmoke;
  color: #48566c;
}

::ng-deep .mat-mdc-tab-body-content
{
  height: auto !important;
  padding-top: 0px !important;
}

::ng-deep .mat-mdc-tab-header
{
  margin-bottom: 10px;
}
  
::ng-deep .mat-mdc-checkbox-checked.mat-mdc-accent .mat-mdc-checkbox-ripple .mat-mdc-ripple-element {
  opacity: 0.03 !important;
}
  
::ng-deep .mat-mdc-checkbox-label:not(.dontchange)
{
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .mat-mdc-checkbox:not(.dontchange)
{
  background-color: #f3f6f9;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #aad7e6;
  padding-bottom: 0px;
}

::ng-deep .mat-mdc-checkbox:not(.dontchange) > label
{
  padding: 10px !important;
}

.input_style
{
  background-color: #f6fafb;
}

#button-addon1 i
{
margin-left: 4px;
color: #fff;
}


.scroll-view-cus
{
  height: 300px !important;
  overflow-y: scroll;
}