<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header">
          {{titleName}} <span (click)="onRoleDialogClose()" id="role_close" class="dialog-cross"><i
              class="fa fa-times text-end"></i></span>
        </h3>
      </div>
    </div>
  </div>

  <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right"
    #formDirective="ngForm">

    <div class="kt-portlet__body">
      <div class="kt-form__section kt-form__section--first">
        <mat-tab-group [(selectedIndex)]="currentIndex">
          <mat-tab label="Details">
            <div class="col-md-12 col-lg-12 col-sm-12 ps-4 pe-4">
              <div class="row mt-1 mb-0">
                <div class="col-lg-7 col-md-7 col-sm-7 mx-auto">
                  <label class="col-form-label">Role Name:</label>
                  <div class="form-group kt-form__group mb-0">
                    <kt-input-field id="role_name" formControlName="roleName" matFormFieldClass="full-width"
                      placeholder="Enter Role Name"
                      [errorMessage]="[{condition: formErrors.roleName , error: formErrors.roleName}]"
                      (blurEvent)="logValidationErrors(this.roleForm, formErrors, validationMessages)">
                    </kt-input-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Permissions" class="role__list">
            <div class="row mx-auto scroll-view-cus">
              <ng-container>
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="col-12 create-user-role">

                  <mat-tree-node class="col-md-6 create-user-role-children" *matTreeNodeDef="let node;"
                    matTreeNodeToggle matTreeNodePadding>
                    <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">{{node.value.viewValue}}</mat-checkbox>
                  </mat-tree-node>

                  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                    <mat-checkbox [checked]="descendantsAllSelected(node)" class="col-11 parent-checkbox"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node)">{{node.value}}</mat-checkbox>
                    <button type="button" mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + 'node.value'">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : ' chevron_right'}}
                      </mat-icon>
                    </button>
                  </mat-tree-node>

                </mat-tree>

              </ng-container>
            </div>
          </mat-tab>
          <!-- <mat-tab label="Access Level" class="">
            <div class="row mx-auto">
            <kt-user-access-level [roleId]="_id" [userScopeData]="roleModel?.userScope"></kt-user-access-level>
            </div>
          </mat-tab> -->
        </mat-tab-group>
      </div>
    </div>


    <mat-divider></mat-divider>
    <div class="kt-portlet__foot p-5">
      <!-- form action starts -->
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-8 col-9">
            <div *ngIf="showButtons" class="text-end">
              <button class="app-reset-btn me-2 " id="role_reset" (click)="reset()" mat-raised-button type="button"><i
                  class="fas fa-undo"></i> Reset </button>
              <button class="app-default-btn" mat-raised-button type="submit" id="role_submit"
                (click)="logValidationErrors(this.roleForm, this.formErrors, this.validationMessages)">
                <i class="far fa-save"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>