<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Credit Note Detail'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        
        <h4 class="overall_statuses {{docStatus[creditNoteMaster?.state]}}"> Status:  {{creditNoteMaster?.status}} </h4>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">

        <div class="row ">

          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >
                <button *ngIf="(creditNoteMaster?.state === docStatus.Draft || creditNoteMaster?.state === docStatus.Rejected)
                   && (permission.isGranted(permissions.CREDITNOTE_EDIT))"
                  [routerLink]="'/' + CREDIT_NOTE.ID_BASED_ROUTE('edit' , creditNoteMaster?.id)" id="credit_note_edit"
                  [queryParams]="{q: creditNoteMaster?.id, 'isCreditNote': true}" type="button"
                  class="mr-3 btn_public"><i class="fa fa-edit"></i> Edit
                </button>

                <button [routerLink]="'/' + CREDIT_NOTE.ID_BASED_ROUTE('print' , creditNoteMaster?.id)" type="button"
                class="btn_public" id="credit_note_print">
                  <i class="fa fa-print"></i> Print Credit Note
                </button>

                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-4 col-lg-4  mt-3">

            <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;">Credit Note No: 
                    <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Customer Name:
                    <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.customerName}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Date:
              <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.noteDate | date: 'MMM d, y'}}</span></h4>
            </div>
          </div>

        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;"
              class="ag-theme-alpine" [rowData]="creditNoteLines" [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4 ml-auto">
            <table class="table  small_table_box" style="margin: 0px -6px;">
              <tr>
                <td class="text-left" style="width: 70%;">Total Before Tax :</td>
                <td class="text-right" >
                  {{valueFormatter(creditNoteMaster?.totalBeforeTax || 0)}}</td>
              </tr>
              <tr>
                <td class="text-left">Total Tax :</td>
                <td class="text-right" >
                  {{valueFormatter(creditNoteMaster?.totalTax || 0)}}</td>
              </tr>
              <tr style="border-top: 2px solid #1a6b85;">
                <th class="text-left"
                  >Grand Total :</th>
                <th class="text-right" >
                  {{valueFormatter(creditNoteMaster?.totalAmount || 0)}}</th>
              </tr>

              <tr *ngIf="paidAmountList?.length > 0">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold;">
                           Reconciled Amount : 
                        </mat-panel-title>
                        <mat-panel-description style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold; flex-grow: 0;">
                          {{valueFormatter(creditNoteMaster?.reconciledAmount || 0)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                          <th>Amount</th>
                        </tr>
                        <tr *ngFor="let pay of paidAmountList">
                          <td><a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , pay?.id)"
                              class="links">{{pay?.docNo}}</a></td>
                          <td>
                            <a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , pay?.id)"
                              class="links">{{valueFormatter(pay.amount || 0)}}</a>
                          </td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>

              <tr *ngIf="creditNoteMaster?.documentReconcile">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold;">
                           References
                        </mat-panel-title>
                        <!-- <mat-panel-description style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold; flex-grow: 0;">
                          {{valueFormatter(creditNoteMaster?.reconciledAmount || 0)}}
                        </mat-panel-description> -->
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                          <th>Amount</th>
                        </tr>
                        <tr>
                          <td><a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , (creditNoteMaster?.documentReconcile?.id))"
                              class="links">{{creditNoteMaster?.documentReconcile?.docNo}}</a></td>
                          <td>
                            <a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , (creditNoteMaster?.documentReconcile?.id))"
                              class="links">{{creditNoteMaster?.documentReconcile?.amount}}</a>
                          </td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions kt-form__actions">
        <div class="row ">
          <div class="col-lg-12 text-right" *ngIf="creditNoteMaster?.isAllowedRole">
            <button (click)="workflow(action.Reject)" id="credit_note_reject" class="mr-5 danger__btn" mat-raised-button>Reject</button>
            <button (click)="workflow(action.Approve)" id="credit_note_approve" class="success__btn" mat-raised-button>Approve</button>
          </div>
        </div>
      </div>
    </div>
  </kt-portlet>
</div>