<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'" [sticky]="false" [title]="'Credit Note Detail'">
      <ng-container class="" ktPortletTools>
        <div class="ribbon-target " ><span class="ribbon-inner {{docStatus[creditNoteMaster?.state]}}"></span> {{creditNoteMaster?.status}}</div>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 ps-4 pe-4 mx-auto mb-5">
        <div class="row ">
          <div class="btn_container">
            <div class="col-md-6 col-6">
              <ng-container ktPortletTools >
                <button *ngIf="(creditNoteMaster?.state === docStatus.Draft || creditNoteMaster?.state === docStatus.Rejected)
                   && (permission.isGranted(permissions.CREDITNOTE_EDIT))"
                  [routerLink]="'/' + CREDIT_NOTE.ID_BASED_ROUTE('edit' , creditNoteMaster?.id)" id="credit_note_edit"
                  [queryParams]="{q: creditNoteMaster?.id, 'isCreditNote': true}" type="button"
                  class="me-3 btn_public"><i class="fa fa-edit icon-e-p-a"></i> Edit
                </button>

                <button *ngIf="(permission.isGranted(permissions.CREDITNOTE_EDIT))"  class="btn_public me-3"
                  (click)="openFileUploadDialog()" type="button"><i class="fas fa-file-upload icon-e-p-a"></i> Attachment
                </button>

                <button [routerLink]="'/' + CREDIT_NOTE.ID_BASED_ROUTE('print' , creditNoteMaster?.id)" type="button"
                class="btn_public" id="credit_note_print">
                  <i class="fa fa-print icon-e-p-a"></i> Print Credit Note
                </button>

              </ng-container>
            </div>
            <div class="col-lg-6 text-end" *ngIf="creditNoteMaster?.isAllowedRole">
              <button (click)="remarksDialog(action.Reject)" class="btn btn-outline-danger font-weight-bold me-2 " id="payment_reject" >Reject</button>
              <button (click)="remarksDialog(action.Approve)" class="btn btn-outline-success font-weight-bold " id="payment_approve" >Approve</button>
            </div>
          </div>

          <div class="col-md-5 col-lg-5  mt-3">
            <div class="print-box">
                <h4 class="print-box-detail-1"><b>Document No:</b>
                    <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 class="print-box-detail-2"><b>Customer Name:</b>
                    <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.customerName}}</span></h4>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Credit Note Date:</b>
              <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.noteDate | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box" *ngIf="this.currentClient?.isCampus">
              <h4 class="print-box-detail-2"><b>Campus:</b>
              <span class="float-right" style="font-weight: 400;">{{creditNoteMaster?.campusName}}</span></h4>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 13px;"
              class="ag-theme-alpine" [rowData]="creditNoteLines" [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-7 col-7"  *ngIf="remarksList.length > 0">
            <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
          </div>

          <div class="col-lg-4 ms-auto">
            <table class="table  small_table_box" >
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Before Tax :</td>
                <td class="text-end" >
                  {{valueFormatter(creditNoteMaster?.totalBeforeTax || 0)}}</td>
              </tr>
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Tax :</td>
                <td class="text-end" >
                  {{valueFormatter(creditNoteMaster?.totalTax || 0)}}</td>
              </tr>
              <tr class="grand-total">
                <th class="text-left"
                  >Grand Total :</th>
                <th class="text-end" >
                  {{valueFormatter(creditNoteMaster?.totalAmount || 0)}}</th>
              </tr>

              <tr *ngIf="paidAmountList?.length > 0">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="paid-anount">
                           Reconciled Amount :
                        </mat-panel-title>
                        <mat-panel-description class="paid-anount-flex-grow">
                          {{valueFormatter(creditNoteMaster?.reconciledAmount || 0)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                          <th>Amount</th>
                        </tr>
                        <tr *ngFor="let pay of paidAmountList">
                          <td><a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , pay?.id)"
                              class="all-text-primary">{{pay?.docNo}}</a></td>
                          <td>
                            <a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , pay?.id)"
                            class="all-text-primary">{{valueFormatter(pay.amount || 0)}}</a>
                          </td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>

              <tr *ngIf="creditNoteMaster?.documentReconcile">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="paid-anount">
                           References
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                          <th>Amount</th>
                        </tr>
                        <tr>
                          <td><a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , (creditNoteMaster?.documentReconcile?.id))"
                              class="links">{{creditNoteMaster?.documentReconcile?.docNo}}</a></td>
                          <td>
                            <a [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('details' , (creditNoteMaster?.documentReconcile?.id))"
                              class="links">{{valueFormatter(creditNoteMaster?.documentReconcile?.amount)}}</a>
                          </td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

  </kt-portlet>
</div>
