<ng-container *ngIf="user as _user">
	<div class="topbar-item" data-placement="bottom" autoClose="outside" class="dropdown dropdown-fluid mt-3">
		<div ngbDropdown placement="bottom-right" class="d-inline-block">
			<button class="btn " id="dropdownBasic2" ngbDropdownToggle style="font-size: 16px;color: #48899d;"><i class="fa fa-user" style="background-color: #1a6b85; color: white;padding: 8px;font-size: 10px; border-radius: 20px;"></i> Hi, <b>{{ _user.fullname || 'User'}} </b> <i class="fa fa-angle-down ml-1"></i></button>
			<div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up  show" aria-labelledby="dropdownBasic2" style="width: 250px; top: 5px;">
				<div class="offcanvas-content   " >
					<div >
						<div class="">
							<!-- <div class="symbol symbol-100 mr-5">
								<div class="symbol-label" [ngStyle]="{'background-image': 'url(./assets/media/users/300_21.png)'}"></div>
								<i class="symbol-badge bg-success"></i>
							</div> -->
							<div class="" >
								<div class="user-card sm">
									<div class="user-avatar">
										<span>AB</span></div>
										<div class="user-info">
											<span class="lead-text">User</span>
											<span class="sub-text">info@sbbu.edu.pk</span>
										</div>
									</div>

									<ul class="list-group">
										
										<!-- <li class="list-group-item">
											<a href="#" class="navi-item">
												<span class="navi-link p-0 pb-2">
													<span class="navi-icon mr-1">
														<span class="svg-icon svg-icon-lg svg-icon-primary" [inlineSVG]="'./assets/media/svg/icons/Communication/Mail-notification.svg'"></span>
													</span>
													<span class="navi-text text-muted text-hover-primary">
														
													</span>
												</span>
											</a>
										</li> -->
										<li class="list-group-item" style="padding: 14px;">
											<a (click)="changePassword()" class="" style="color:#1a6b85; cursor: pointer;">
												<i class="fa fa-key mr-1" aria-hidden="true"></i> Change Password
											</a>
										</li>
										<li class="list-group-item" style="padding: 14px;">
											<a (click)="logout()" class="" style="color:#1a6b85; cursor: pointer;">
												<i class="fas fa-sign-out-alt  mr-1"></i> Sign Out
											</a>
										</li>
									</ul>
								<!-- <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary" style="display: block;padding: 20px;
								background-color: #eceefd;border-top: 2px solid #494b74;">
									<i class="fa fa-user" style="background-color: #494b74;
									padding: 10px;font-size: 10px;border-radius: 50px;color: white;
									margin-right: 5px;"></i>	{{ _user.username || 'James Jones'}}
									<br>
									<span style="font-size: 12px;
									color: #65737e;">info@sbbu.edu.pk</span>
								</a> -->
								<!-- <div class="text-muted mt-1"></div>
								<div class="navi mt-2">
									
								</div>
								
								 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>

	</div>


	
</ng-container>



