<kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'purchase Order'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <button (click)="addPurchaseOrder()" class="btn_white" mat-raised-button matTooltip="Add Purchaser Order">Add Purchase Order
        </button>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <!-- <ag-grid-angular style="width: 100%; height: 500px; margin-top: 10px;" class="ag-theme-alpine"
         [rowData]="purchaseOrderList"
         [columnDefs]="columnDefs"
         (rowDoubleClicked)="onRowDoubleClicked($event)"
         (firstDataRendered)="onFirstDataRendered($event)"
         [gridOptions]="gridOptions"
         [frameworkComponents]="frameworkComponents"
         [defaultColDef]="defaultColDef"
         [tooltipShowDelay]="5">
      </ag-grid-angular> -->
      <ag-grid-angular 
        style="width: 100%; height: 440px; margin-top: 10px;"
        class="ag-theme-alpine"
        [components]="components"
        [columnDefs]="columnDefs"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        [defaultColDef]="defaultColDef"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [tooltipShowDelay]="5"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </kt-portlet-body>
  </kt-portlet>

