<div [ktBusy]="isLoading" class="kt-portlet" style="overflow : hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h5 class="kt-portlet__head-text modal-header"> </h5>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form #formDirective="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <div class="col-md-16 col-lg-12 col-sm-12 ps-4 pe-4">
                    <!-- first row starts -->
                    <div class="row mt-1 mb-0">
                        <h5 class="bg-secondary py-1">Taxes</h5>
                        <b>Default Tax</b>
                        <small>Default taxes applied when creating new products.</small>
                        <div class="col-3 col-md-6">
                            <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Sales Tax:</label>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="salesTaxId"
                                    matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                    [optionList]="taxList" placeholder="Select Sales Tax">
                                </kt-simple-dropdown>
                            </div>

                            <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Purchase Tax:</label>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="purchaseTaxId"
                                    matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                    [optionList]="taxList" placeholder="Select Purchase Tax">
                                </kt-simple-dropdown>
                            </div>

                            <!-- 
                            <h6>Rounding Method</h6>
                            <small>Default taxes applied when creating new products.</small> -->


                            <!-- <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Sequence:</label>
                                <kt-input-field formControlName="sequence" id="Course_name" placeholder="0.0000">
                                </kt-input-field>
                            </div> -->
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Periodicity:</label>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="periodicity"
                                    matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                    [optionList]="PeriodicityList" placeholder="Periodicity">
                                </kt-simple-dropdown>
                            </div>

                            <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Journal:</label>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="journalAccountId"
                                    matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                    [optionList]="ngxsService.otherAccounts$" placeholder="Select Advance Account">
                                </kt-simple-dropdown>
                            </div>                         
                        </div>
                        <div class="col-6 col-md-6">
                            <div>
                                <input type="checkbox" formControlName="europeVAT">
                                <div class="dyn_box">
                                    <b>EU Intra-community Distance Selling</b><br>
                                    <small>Apply VAT of the EU country to which goods and services are delivered.</small>
                                </div>
                            </div>                         
                        </div>
                        <div class="col-2">                            
                            <div>
                                    <span> <input type="radio" formControlName="roundPerLine" name="tgl_name"> Round Per Line</span>                        
                            </div>
                            <div>
                                <span>
                                    <input type="radio" formControlName="roundGlobally" name="tgl_name"> Round Globaly
                                </span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div>
                                <input type="checkbox"  name="" id="" formControlName="cashBasis" (click)="ShowCashBasis()"     >
                                <div class="dyn_box">
                                    <b>Cash Basis</b><br>
                                    <small>Allow to configure taxes using cash basis</small>
                                </div>
                            </div>
                        
                            <div *ngIf="isCashBasisChecked">
                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">Tax Cash Basis Journal:</label>
                                    <kt-simple-dropdown id="ta_country" formControlName="taxCashBasisId"
                                        matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                        [optionList]="ngxsService.otherAccounts$" placeholder="Select Advance Account">
                                    </kt-simple-dropdown>
                                </div> 

                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">Base Tax Received Account:</label>
                                    <kt-simple-dropdown id="taxGrp_country" formControlName="baseTaxReceivedAccountId"
                                        matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                        [optionList]="ngxsService.otherAccounts$" placeholder="Select Advance Account">
                                    </kt-simple-dropdown>
                                </div> 
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <input type="checkbox"  name="" id="" formControlName="isAvatax" (click)="IsShowAvaTax()">
                                <div class="dyn_box">
                                    <b>AvaTax</b><br>
                                    <small>Automatically compute tax rates in the US and Canada.</small>
                                </div>
                            </div>
                            <div *ngIf="ShowAvatax">
                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">Environment:</label>
                                <kt-input-field formControlName="environment" matFormFieldClass="full-width" placeholder="Sandbox/Production"
                                >
                              </kt-input-field>
                                </div>
                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">API ID:</label>
                                <kt-input-field formControlName="apiId" matFormFieldClass="full-width" placeholder="Sandbox/Production"
                                >
                              </kt-input-field>
                                </div>
                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">API KEY:</label>
                                <kt-input-field formControlName="apiKey" matFormFieldClass="full-width" placeholder="Sandbox/Production"
                                >
                              </kt-input-field>
                                </div>
                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                    <label class="col-form-label pt-0">Company Code:</label>
                                <kt-input-field formControlName="companyCode" matFormFieldClass="full-width" placeholder="Sandbox/Production"
                                >
                              </kt-input-field>
                                </div>

                                <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                              <span> Use UPC <input type="checkbox" formControlName="useUPC" name="" id=""></span><br>
                              <span>Commit Transactions <input type="checkbox" formControlName="commitTransactions" name="" id=""></span><br>
                              <span>Address Validation  <input type="checkbox" formControlName="addressValidation" name="" id=""></span><br>
                                </div>

                            </div>
                         
                        </div>

                        <div class="col-6">
                            <div class="form-group kt-form__group mb-0 pt-2 pb-0">
                                <label class="col-form-label pt-0">Fiscal Country:</label>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="countryId"
                                    matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                    [optionList]="ngxsService.countries$"
                                    placeholder="Select Fiscal Country"
                                   >
                                </kt-simple-dropdown>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-1 mb-0">
                        <h5 class="bg-secondary py-1">Currencies</h5>

                        <b>Main Currency</b>
                        <small>Domestic country of your accounting</small>

                        <div class="form-group kt-form__group mb-0 pt-2 pb-0 col-3">
                            <kt-simple-dropdown id="taxGrp_country" formControlName="currencyId"
                                matFormFieldClass="full-width" propertyName="name" propertyValue="id"
                                [optionList]="currencyList" placeholder="Select Currency">
                            </kt-simple-dropdown>
                        </div>
                    </div>

                    <div class="row mt-1 mb-0">
                        <h5 class="bg-secondary py-1">Fiscal Periods</h5>                      
                        <div class="col-6">
                            <div>
                                <b style="height: 0px;">Fiscal Year</b><br>
                                <span style="height: 0px;">Last Day</span>
                                <kt-simple-dropdown id="taxGrp_country" formControlName="lastMonth" propertyName="name"
                                    propertyValue="value" [optionList]="MonthList" placeholder="Select Month">
                                </kt-simple-dropdown>                           
                            </div>     
                            <div>
                                <kt-input-field id="fiscal_day" formControlName="lastDay">
                                </kt-input-field>
                            </div>                   
                        </div>
                        <div class="col-6">
                            <div>
                                <b>Invoicing Switch Threshold</b><br>
                                <small>The invoices up to this date will not be taken into account as accounting
                                    entries.</small>
                                <kt-date-input formControlName="thresholdDate"
                                    matFormFieldClass="full-width">
                                </kt-date-input>
                            </div>
                            <div>
                                <input type="checkbox" formControlName="dynamicReports">
                                <div class="dyn_box">
                                    <b>Dyanmic Report</b><br>
                                    <small>Navigate easily through reports and see what is behind the numbers</small>
                                </div>
                          
                            </div>
                       
                        
                        </div>   
                                       
                        <!-- <div class="col-6">
                            <b>Invoicing Switch Threshold</b><br>
                            <small>The invoices up to this date will not be taken into account as accounting
                                entries.</small>
                            <kt-date-input formControlName="thresholdDate" placeholder="thresholdDate Date"
                                matFormFieldClass="full-width">
                            </kt-date-input>
                        

                            

                        </div> -->

                    </div>
                </div>
            </div>
            <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>

        <div class="kt-portlet__foot p-5">

            <div class="kt-form__actions row">
                <div class="col-lg-12 text-end">
                    <div>
                        <button (click)="reset()" class="me-2 app-reset-btn" id="store_reset" mat-raised-button
                            type="button"><i class="fas fa-undo"></i> Reset
                        </button>
                        <button class="app-default-btn" id="store_submit" mat-raised-button type="submit"><i
                                class="far fa-save"></i> Submit
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- form ends -->
</div>