<div class="container ">
    <div class="col-lg-10 mx-auto text-end">
      <div class="row">
        <button printSectionId="main" id="disposal_print" printTitle="disposal" (click)="printForm()"
          type="button" class="app-default-btn" mat-raised-button style="margin-bottom: 20px; width: auto;"><i
            class="fas fa-print"></i> Print
        </button>
      </div>
    </div>
    <div class="col-lg-10 mx-auto" id="main">
      <div [class]="className">
        <div class="print-bg-white">
          <div class="print_header_area p-s-1">
            <div class="print-col-6 p-s-1-one">
              <div class="logo_and_title">
                <div class="print-logo"></div>
                <span class="top-heading">SHAHEED BENAZIR BHUTTO UNIVERSITY </span>
              </div>
  
            </div>
            <div class="print-col-5 ms-auto p-s-1-two">
              <div class="id_num">
                <div class="print-box-one border-bottom-1px" style="border-bottom: 1px solid;
                margin-bottom: 10px;
                text-align: center;">
                  <h4>Disposal</h4>
                </div>
                <div class="print-box-one">
                  <h4>Document No: <span class="float-right" style="font-weight: 400;">{{disposalMaster?.docNo}}</span>
                  </h4>
                  <p></p>
                </div>
                <div class="print-box-two">
                  <h4 class="mt-1">Disposal Date: <span class="float-right"
                      style="font-weight: 400;">{{disposalMaster?.disposalDate | date: 'MMM d, y'}}</span></h4>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="print_body_area p-s-2">
            <div class="print-col-6 p-10">
              <div class="print-box-one">
                <h4 class="font-14"><b>Asset: </b><span class="float-right"
                    style="font-weight: 400;">{{disposalMaster?.fixedAsset}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Disposal Date:</b> <span class="float-right"
                    style="font-weight: 400;">{{disposalMaster?.disposalDate | date: 'MMM d, y'}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Cost:</b><span class="float-right"
                    style="font-weight: 400;">{{valueFormatter(disposalMaster?.cost)}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Product:</b><span class="float-right"
                  style="font-weight: 400;">{{disposalMaster?.product}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Salvage Value:</b><span class="float-right"
                  style="font-weight: 400;">{{valueFormatter(disposalMaster?.salvageValue)}}</span></h4>
              </div>
              
            </div>
            <div class="print-col-6 p-10">
              <div class="print-box-one">
                <h4 class="font-14"><b>Disposal Value:</b><span class="float-right"
                    style="font-weight: 400;">{{disposalMaster?.disposalValue || 'N/A'}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Depreciation Expense Account:</b> <span class="float-right"
                    style="font-weight: 400;">{{disposalMaster?.accumulatedDepreciation || 'N/A'}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>Product:</b><span class="float-right"
                    style="font-weight: 400;">{{disposalMaster?.product || 'N/A'}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4 class="font-14"><b>UseFull Life: </b><span class="float-right"
                  style="font-weight: 400;">{{valueFormatter(disposalMaster?.useFullLife || 'NAN')}}</span></h4>
              </div>
            </div>
          </div>
  
          <div class="row mt-10">
            <div class="print-col-4 p-s-5 text-center">
              ______________________
              <p class="text-center">Authorized Sign</p>
            </div>
          </div>
        </div>
      </div>
    </div>
