<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> Create Business Partner 
                  <span (click)="onCloseDialog()" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="businessPartnerForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body" >
            <!-- form first section starts -->
            <div class="kt-form__section kt-form__section--first">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- first row starts -->
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                            <label class="col-form-label pt-0">Name:</label>
                            <kt-input-field
                              formControlName="name"
                              placeholder="Enter Name"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Type:</label>
                            <kt-simple-dropdown
                              propertyName="viewValue"
                              propertyValue="id"
                              matFormFieldClass="full-width"
                              searchPlaceholder="Search Business Partner Type"
                              placeholder="Business Partner Type"
                              (blurEvent)="logValidationErrors(businessPartnerForm, formErrors, validationMessages)"
                              formControlName="businessPartnerType"
                              [optionList]="typeList"
                              [errorMessage]="formErrors.businessPartnerType">
                            </kt-simple-dropdown>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                            <label class="col-form-label pt-0">Entity:</label>
                            <kt-simple-dropdown
                              propertyName="viewValue"
                              propertyValue="id"
                              matFormFieldClass="full-width"
                              searchPlaceholder="Search Entity"
                              placeholder="Entity"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="formErrors.businessPartnerType"
                              formControlName="entity"
                              [optionList]="entityList">
                            </kt-simple-dropdown>
                        </div>
                      </div>
                    </div>
                    <!-- first row ends -->
                    <div class="row" style="justify-content: space-between;">
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group kt-form__group pt-2 pb-0">
                              <label class="col-form-label pt-0">Country:</label>
                              <kt-simple-dropdown
                                  propertyName="name"
                                  propertyValue="id"
                                  searchPlaceholder="Search Country"
                                  placeholder="Select Country"
                                  formControlName="country"
                                  [optionList]="countryList"
                                  matFormFieldClass="full-width"
                                  (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                                  [errorMessage]="formErrors.country"
                                  (selectionChange)="onChangeCountry($event.value)">
                              </kt-simple-dropdown>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group kt-form__group pt-2 pb-0">
                              <label class="col-form-label pt-0">State:</label>
                              <kt-simple-dropdown
                                  propertyName="name"
                                  propertyValue="id"
                                  searchPlaceholder="Search State"
                                  placeholder="Select State"
                                  (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                                  [errorMessage]="formErrors.state"
                                  formControlName="state"
                                  matFormFieldClass="full-width"
                                  [optionList]="stateList2"
                                  (selectionChange)="onChangeState($event.value)">
                              </kt-simple-dropdown>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group kt-form__group pt-2 pb-0">
                              <label class="col-form-label pt-0">City:</label>
                              <kt-simple-dropdown
                                  propertyName="name"
                                  propertyValue="id"
                                  searchPlaceholder="Search City"
                                  placeholder="Select City"
                                  matFormFieldClass="full-width"
                                  (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                                  [errorMessage]="formErrors.city"
                                  formControlName="city"
                                  [optionList]="cityList2">
                              </kt-simple-dropdown>
                          </div>
                      </div>
                  </div>
                    <!-- second row starts -->
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Address:</label>
                            <kt-input-field
                              formControlName="address"
                              placeholder="Enter Address"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.address , error : formErrors.address }]">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    <!-- second row ends -->
                    <!-- third row starts -->
                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Phone:</label>
                            <kt-input-field
                              formControlName="phone"
                              type="number"
                              placeholder="Enter Phone Number"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Mobile:</label>
                            <kt-input-field
                              formControlName="mobile"
                              type="number"
                              placeholder="Enter Mobile Number"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label pt-0">CNIC:</label>
                            <kt-input-field
                              formControlName="cnic"
                              type="number"
                              placeholder="Enter CNIC Number"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.cnic , error : formErrors.cnic }]">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    
                    <!-- third row ends -->
                    <!-- fifth  row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Sales Tax Id:</label>
                            <kt-input-field
                              formControlName="salesTaxId"
                              placeholder="Enter Sales Tax"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Income Tax Id:</label>
                            <kt-input-field
                              formControlName="incomeTaxId"
                              placeholder="Enter Income Tax"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                    </div>
                    <!-- fifth row ends -->
                    <!-- six row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Account Title:</label>
                            <kt-input-field
                              formControlName="bankAccountTitle"
                              placeholder="Enter Account Title"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Account No:</label>
                            <kt-input-field
                              formControlName="bankAccountNumber"
                              placeholder="Enter Account No"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    <!-- six row ends -->
                    <!-- seventh row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Acc: Payable:</label>
                            <kt-simple-dropdown
                              propertyName="name"
                              propertyValue="id"
                              matFormFieldClass="full-width"
                              searchPlaceholder="Search Account Payable"
                              placeholder="Account Payable"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="formErrors.accountPayable"
                              formControlName="accountPayable"
                              [optionList]="ngxsService.accountsLevel4$">
                            </kt-simple-dropdown>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Acc: Receivable</label>
                            <kt-simple-dropdown
                              propertyName="name"
                              matFormFieldClass="full-width"
                              propertyValue="id"
                              searchPlaceholder="Search Account Receivable"
                              placeholder="Account Receivable"
                              formControlName="accountReceivable"
                              formClassName="full-width"
                              [optionList]="ngxsService.accountsLevel4$"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="formErrors.accountReceivable">
                            </kt-simple-dropdown>
                        </div>
                      </div>
                    </div>
                  
                  <!-- seventh row ends -->
                </div>
            </div>
            <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>
        <!-- portlet footer start -->
        <div class="kt-portlet__foot" >
            <!-- form action starts -->
            <div class="kt-form__actions kt-form__actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-right">
                            <button class="mr-3 btn_white" mat-raised-button type="reset">Reset</button>
                            <button mat-raised-button class="sub___btn" type="submit"
                                (click)="logValidationErrors(this.businessPartnerForm, this.formErrors, this.validationMessages)">Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!-- form action ends-->
        </div>
        <!-- portlet footer ends -->
    </form>
    <!-- form ends -->
</div>
