<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> {{title}} 
                  <span (click)="onCloseDialog()" id="business_partner_close" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="businessPartnerForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body" >
            <div class="kt-form__section kt-form__section--first">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- first row starts -->
                    <div class="row mt-1 mb-0">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group kt-form__group mb-0">
                            <label class="col-form-label pt-0">Business Partner Name:</label>
                            <kt-input-field
                              id="business_partner_name"
                              formControlName="name"
                              placeholder="Enter Business Partner Name"
                              [value]="businessPartnerForm.get('name').value"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Business Partner Type:</label>
                            <kt-simple-dropdown
                              id="business_partner_type"
                              propertyName="viewValue"
                              propertyValue="id"
                              matFormFieldClass="full-width"
                              placeholder="Select Business Partner Type"
                              (blurEvent)="logValidationErrors(businessPartnerForm, formErrors, validationMessages)"
                              formControlName="businessPartnerType"
                              [optionList]="typeList"
                              [errorMessage]="formErrors.businessPartnerType">
                            </kt-simple-dropdown>
                        </div>
                      </div>
                    </div>
                    <!-- second row starts -->
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Address:</label>
                            <kt-input-field
                            id="business_partner_address"
                              formControlName="address"
                              [value]="businessPartnerForm.get('address').value"
                              placeholder="Enter Address"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    <!-- second row ends -->
                    <!-- third row starts -->
                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Phone No:</label>
                            <kt-input-field
                            id="business_partner_phone"
                              formControlName="phone"
                              placeholder="Enter Phone Number"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.phone , error : formErrors.phone }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Mobile No:</label>
                            <kt-input-field
                            id="business_partner_mobile"
                              formControlName="mobile"
                              placeholder="Enter Mobile Number"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.mobile , error : formErrors.mobile }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">CNIC No:</label>
                            <kt-input-field
                            id="business_partner_cnic"
                              formControlName="cnic"
                              placeholder="Enter CNIC Number"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.cnic , error : formErrors.cnic }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    
                    <!-- third row ends -->
                    <!-- fifth  row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Sales Tax ID:</label>
                            <kt-input-field
                            id="business_partner_sales_Tax"
                              formControlName="salesTaxId"
                              placeholder="Enter Sales Tax ID"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.salesTaxId , error : formErrors.salesTaxId }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Income Tax ID:</label>
                            <kt-input-field
                            id="business_partner_income_tax"
                              formControlName="incomeTaxId"
                              placeholder="Enter Income Tax ID"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.incomeTaxId , error : formErrors.incomeTaxId }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>

                    </div>
                    <!-- fifth row ends -->
                    <!-- six row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Account Title:</label>
                            <kt-input-field
                            id="business_partner_account_title"
                              formControlName="bankAccountTitle"
                              placeholder="Enter Account Title"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Account No:</label>
                            <kt-input-field
                            id="business_partner_account_no"
                              formControlName="bankAccountNumber"
                              placeholder="Enter Account Number"
                              (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                              [errorMessage]="[{ condition : formErrors.bankAccountNumber , error : formErrors.bankAccountNumber }]"
                              [hintText]="'Optional'">
                            </kt-input-field>
                        </div>
                      </div>
                    </div>
                    <!-- six row ends -->
                    <!-- seventh row starts -->
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Bank Name:</label>
                            <kt-input-field
                              id="business_partner_bankName"
                                formControlName="bankName"
                                placeholder="Enter Bank Name"
                                hintText="Optional">
                              </kt-input-field>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group mb-0">
                            <label class="col-form-label pt-0">Branch Code:</label>
                            <kt-input-field
                              id="business_partner_branchCode"
                                formControlName="branchCode"
                                placeholder="Enter Branch Code"
                                hintText="Optional">
                              </kt-input-field>
                        </div>
                      </div>
                    </div>
                    
                  <!-- seventh row ends -->
                  <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <div class="form-group mb-0">
                          <label class="col-form-label pt-0">Account Payable:</label>
                          <kt-simple-dropdown
                          id="business_partner_payable"
                            propertyName="name"
                            propertyValue="id"
                            matFormFieldClass="full-width"
                            placeholder="Select Account Payable"
                            (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                            [errorMessage]="formErrors.accountPayable"
                            formControlName="accountPayable"
                            [optionList]="ngxsService.accountsPayable$">
                          </kt-simple-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <div class="form-group mb-0">
                          <label class="col-form-label pt-0">Account Receivable:</label>
                          <kt-simple-dropdown
                          id="business_partner_receivable"
                            propertyName="name"
                            matFormFieldClass="full-width"
                            propertyValue="id"
                            placeholder="Select Account Receivable"
                            formControlName="accountReceivable"
                            formClassName="full-width"
                            [optionList]="ngxsService.accountsReceivable$"
                            (blurEvent)="logValidationErrors(this.businessPartnerForm, formErrors, validationMessages)"
                            [errorMessage]="formErrors.accountReceivable">
                          </kt-simple-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="kt-portlet__foot p-5" >
            <div class="kt-form__actions kt-form__actions mb-0">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div *ngIf="showButtons" >
                            <button class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button id="business_partner_reset"><i class="fas fa-undo"></i> Reset</button>
                            <button class="app-default-btn" mat-raised-button type="submit" id="business_partner_submit"
                                (click)="logValidationErrors(this.businessPartnerForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
