<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header  [sticky]="false" [title]="title"
      [class]="'card-head-lg'"></kt-portlet-header>
    <!--begin::Form-->
      <form [formGroup]="debitNoteForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">

            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row mt-1 mb-0">
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Vendor Name:</label>
                      <kt-simple-dropdown 
                      id="debit_note_vendor_name"
                        formControlName="vendorName"
                        (blurEvent)="logValidationErrors(this.debitNoteForm, this.formErrors, this.validationMessages)"
                        propertyName="name" 
                        matFormFieldClass="full-width"
                        propertyValue="id" 
                        [errorMessage]="formErrors.vendorName"
                        [optionList]="ngxsService.businessPartners$"
                        clickEventButtonName="Add New Vendor"
                        (clickEvent)="openBusinessPartnerDialog()" 
                        searchPlaceholder="Search Vendors..."
                        placeholder="Select Vendor">
                      </kt-simple-dropdown>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Note Date:</label>
                      <kt-date-input
                        formControlName="noteDate"
                        placeholder="Note Date"
                        matFormFieldClass="full-width"
                        [maxDate]="dateLimit"
                        (blurEvent)="logValidationErrors(this.debitNoteForm, formErrors, validationMessages)"
                        [errorMessage]="formErrors.noteDate">
                      </kt-date-input>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Campus:</label>
                      <kt-simple-dropdown 
                      id="debit_note_campus"
                       placeholder="Select Campus" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="campusId" 
                       (selectionChange)="onCampusSelected($event.value)"
                       (blurEvent)="logValidationErrors(debitNoteForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width"
                       [errorMessage]="'Campus is required.'" 
                       [optionList]="ngxsService.campuses$">
                      </kt-simple-dropdown>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="">
                    <ng-container formArrayName="debitNoteLines">
                      <div class="table-responsive">
                        <mat-table #table [dataSource]="debitNoteForm.get('debitNoteLines')['controls']">
                            <!-- Account Column -->
                              <ng-container matColumnDef="itemId">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-simple-dropdown 
                                      placeholder="Select Item" 
                                      [id]="'debit_note_item_' + i"
                                      formControlName="itemId"
                                      matFormFieldClass="mobile-label full-width"
                                      searchPlaceholder="Select Item" 
                                      [optionList]="ngxsService.products$"
                                      isDisabledNone="true"
                                      clickEventButtonName="Add New Item"
                                      (clickEvent)="openProductDialog()" 
                                      propertyName="productName" 
                                      propertyValue="id" 
                                      [hintText]="'Optional'"
                                      (selectionChange)="onItemSelected($event.value,i)">
                                    </kt-simple-dropdown>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!--Partner Column-->
                              <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Description</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-input-field
                                      formControlName="description" [id]="'debit_note_description_' + i"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Description"
                                      (blurEvent)="logValidationErrors(this.debitNoteForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : debitNoteForm.get('debitNoteLines')['controls'][i].controls.description.errors?.required &&
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.description.touched , 
                                                        error : 'Description is required' }]">
                                    </kt-input-field>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Description Column -->
                              <ng-container matColumnDef="accountId">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> COA</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-simple-dropdown 
                                    [id]="'debit_note_account_' + i"
                                      placeholder="Select Detailed Head" 
                                      propertyValue="id" 
                                      propertyName="name"
                                      formControlName="accountId" 
                                      matFormFieldClass="mobile-label full-width"
                                      errorMessage="Account is required."
                                      [optionList]="ngxsService.accountsLevel4$">
                                    </kt-simple-dropdown>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Debit Column -->
                              <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-input-field
                                    [id]="'debit_note_quantity_' + i"
                                      formControlName="quantity"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Quantity"
                                      #itemName
                                      type="number"
                                      (blurEvent)="logValidationErrors(this.debitNoteForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : debitNoteForm.get('debitNoteLines')['controls'][i].controls.quantity.errors?.required &&
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.quantity.touched , 
                                                        error : 'Quantity is required' },
                                                      { condition : debitNoteForm.get('debitNoteLines')['controls'][i].controls.quantity.errors?.min &&
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.quantity.touched , 
                                                        error : 'Minimum value is one' }]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Credit Column -->
                              <ng-container matColumnDef="cost">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Cost</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-input-field
                                    [id]="'debit_note_cost_' + i"
                                      formControlName="cost"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Cost"
                                      #itemName
                                      type="number"
                                      (blurEvent)="logValidationErrors(this.debitNoteForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : debitNoteForm.get('debitNoteLines')['controls'][i].controls.cost.errors?.required &&
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.cost.touched , 
                                                        error : 'Cost is required'},
                                                        { condition : debitNoteForm.get('debitNoteLines')['controls'][i].controls.cost.errors?.min &&
                                                                      debitNoteForm.get('debitNoteLines')['controls'][i].controls.cost.touched , 
                                                          error : 'Cost cannot be zero' }]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Location Column -->
                              <ng-container matColumnDef="tax">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Tax%</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-input-field
                                    [id]="'debit_note_tax_' + i"
                                      formControlName="tax"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Tax %"
                                      #itemName
                                      type="number"
                                      defaultValue="0"
                                      [hintText]="'Optional'"
                                      (blurEvent)="logValidationErrors(this.debitNoteForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : (debitNoteForm.get('debitNoteLines')['controls'][i].controls.tax.errors?.min ||
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.tax.errors?.max) &&
                                                                    debitNoteForm.get('debitNoteLines')['controls'][i].controls.tax.touched , 
                                                        error : 'Percentage % range (0 - 100)'}]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                                  </div>
                                </mat-cell>
                              </ng-container>
    
                              <ng-container matColumnDef="subTotal">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> SubTotal </mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-input-field
                                    [id]="'debit_note_subtotal_' + i"
                                      formControlName="subTotal"
                                      placeholder="Subtotal"
                                      matFormFieldClass="mobile-label full-width">
                                    </kt-input-field>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Location Column -->
                              <!-- <ng-container matColumnDef="locationId">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Location</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1"> 
                                  <div class="col-lg-12 col-sm-12 mt-2"> -->
                                    <!-- <kt-group-dropdown 
                                      formControlName="locationId" 
                                      placeholder="Select Location"
                                      [optionList]="ngxsService.warehouses$"
                                      clickEventButtonName="Add New Location"
                                      (clickEvent)="openLocationDialog()" 
                                      [errorMessage]="'Location is Required'" 
                                      groupPropertyName="name" 
                                      matFormFieldClass="mobile-label full-width"
                                      groupChildrenName="locations" 
                                      propertyName="name" 
                                      propertyValue="id">
                                    </kt-group-dropdown> -->
                                    <!-- <kt-simple-dropdown 
                                     placeholder="Select Location" 
                                     propertyValue="id" 
                                     propertyName="name"
                                     formControlName="locationId" 
                                     matFormFieldClass="full-width"
                                     [errorMessage]="'Location is Required.'" 
                                     [optionList]="ngxsService.locations$">
                                    </kt-simple-dropdown>
                                  </div>
                                </mat-cell>
                              </ng-container> -->
                              <ng-container matColumnDef="warehouseId">
                                <mat-header-cell *matHeaderCellDef class="flex-1"> Store</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                  <div class="col-lg-12 col-sm-12 mt-2">
                                    <kt-simple-dropdown 
                                    [id]="'debit_note_store_' + i"
                                      placeholder="Select Store" 
                                      propertyValue="id" 
                                      searchPlaceholder="Search Store..."
                                      propertyName="name"
                                      [hintText]="'Optional'"
                                      (click)="checkCampus()"
                                      isDisabledNone="true"
                                      formControlName="warehouseId" 
                                      matFormFieldClass="full-width" 
                                      [optionList]="warehouseList">
                                    </kt-simple-dropdown>
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Action Column -->
                              <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                    <button class="  app-remove-btn" type="button" [id]="'debit_note_remove_' + i"  (click)="removeDebitNoteLineClick(i); totalCalculation()" >
                                    <i  class="fas fa-trash" aria-hidden="true"></i>
                                  </button>
                                </mat-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>
                    </ng-container>
    
                    <ng-container >
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <button class="  app-add-new-line-btn" type="button" id="debit_note_add_line"  (click)="addDebitNoteLineClick()">
                            <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                          </button>
                        </div>
                      </div>
                    </ng-container>
    
                  </div>
                </div>
              </div>

              <div class="row mt-10">
                <!-- <div class="col-lg-4 ml-auto">
                  <table class="table table-bordered small_table_box">
                    <tr>
                      <th class="text-right" style="width: 70%;">Total Before Tax :</th>
                      <td class="text-right total-value">{{valueFormatter(totalBeforeTax || 0)}}</td>
                    </tr>
                    <tr>
                      <th class="text-right">Total Tax :</th>
                      <td class="text-right total-value">{{valueFormatter(totalTax || 0)}}</td>
                    </tr>
                    <tr >
                      <th class="text-right grand-total-two">Grand Total :</th>
                      <td class="text-right total-value">{{valueFormatter(grandTotal || 0)}}</td>
                    </tr>
                  </table>
                </div> -->

                <div  class="col-md-4 col-lg-4  ml-auto mt-3">
                  <div  class="bottom-print-box">
                    <h4  style="">Total Before Tax : <span  class="float-right" style="font-weight: 400;">{{valueFormatter(totalBeforeTax || 0)}}</span></h4>
                  </div>
                  <div  class="bottom-print-box">
                    <h4  style="">Total Tax : <span  class="float-right" style="font-weight: 400;">{{valueFormatter(totalTax || 0)}}</span></h4>
                  </div>
                  <div  class="bottom-print-box">
                    <h4  style="">Grand Total : <span  class="float-right" style="font-weight: 400;">{{valueFormatter(grandTotal || 0)}}</span></h4>
                  </div>
                </div>
              </div>
            </div>

  
            
          </div>
        </div>
  
        
  
        <mat-divider class="mt-10"></mat-divider>

        <div class="kt-portlet__foot p-5">
          <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row">
              <div class="col-lg-12 text-right">
                <button class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button id="debit_note_reset"><i class="fas fa-undo"></i> Reset</button>
                <button *ngIf="!isBill"  class="mr-2 app-save-btn" mat-raised-button type="submit" id="debit_note_save"
                (click)="logValidationErrors(this.debitNoteForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i> Save</button>
                <button class="app-default-btn " mat-raised-button type="submit" id="debit_note_submit"
                (click)="logValidationErrors(this.debitNoteForm, this.formErrors, this.validationMessages); isSubmit(1)">
                <i class="far fa-save"></i>  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    <!--end::Form-->
  </kt-portlet>
</div>
