<div style="margin-top: 5px">
  <div class="col-12">
    <div>
      <h5>Filter</h5>
    </div>
    <form (ngSubmit)="onSubmitFilters()" [formGroup]="filterForm" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <!-- region First Row -->
            <div class="row mt-1 mb-0">
              <div class="col-lg-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Campus:</label>
                  <kt-simple-dropdown
                    id="create_payment_campus"
                    (blurEvent)="logValidationErrors(filterForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.campusId"
                    [optionList]="ngxsService.campuses$"
                    formControlName="campusId"
                    matFormFieldClass="full-width" 
                    (selectionChange)="onCampusSelected($event.value)"
                    (click)="getLatestCampuses()"
                    placeholder="Select Campus"
                    propertyName="name"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Department:</label>
                  <kt-simple-dropdown
                    id="create_payment_department"
                    (blurEvent)="logValidationErrors(filterForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.departmentId"
                    [isMultiple]="true"
                    [optionList]="departmentsList"
                    (click)="checkCampus()"
                    formControlName="departmentId"
                    matFormFieldClass="full-width" 
                    maxSelectionCount="3"
                    placeholder="Select Department"
                    propertyName="name"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Month:</label>
                  <kt-simple-dropdown
                   id="create_payment_month"
                   (blurEvent)="logValidationErrors(filterForm, this.formErrors, this.validationMessages)"
                   [errorMessage]="formErrors.month" 
                   [optionList]="months"
                   formControlName="month"
                   matFormFieldClass="full-width"
                   placeholder="Select Month" 
                   propertyName="name"
                   propertyValue="value">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Year:</label>
                  <kt-simple-dropdown
                    id="create_payment_year"
                    (blurEvent)="logValidationErrors(filterForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.year" 
                    [optionList]="generateArrayOfYears()"
                    formControlName="year"
                    matFormFieldClass="full-width"
                    placeholder="Select Year" 
                    propertyName="value"
                    propertyValue="value">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            <div class="row">
              <div class="col-lg-12 text-right justify-content-end align-items-center d-flex mt-5">
                <div class="form-group kt-form__group mb-0">
                  <button class="app-default-btn" mat-raised-button id="create_payment_fetch" type="submit">Fetch Records</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    <mat-divider style="margin-top: 30px"></mat-divider>

  <!--region Create Process-->
  <div style="margin-top: 40px">
    <div class=" col-12">
      <div class="">
        <h5>Create Payment</h5>
      </div>
      <form (ngSubmit)="createPayment()" [formGroup]="createPayrollPaymentForm" class="kt-form kt-form--label-align-right" #formDirective2="ngForm">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <!-- region First Row -->
              <div class="row mt-1 mb-0">
                <div class="col-lg-4">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label">Description:</label>
                    <kt-input-field
                      id="create_payment_description"
                      formControlName="description"
                      placeholder="Enter Description"
                      (blurEvent)="logValidationErrors(createPayrollPaymentForm, formErrors, validationMessages)"
                      [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                    </kt-input-field>
                  </div>
                </div>
  
                <div class="col-lg-4">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label">Bank Account:</label>
                    <kt-simple-dropdown
                      id="create_payment_register"
                      placeholder="Select Bank Account"
                      [propertyValue]="propertyValue"
                      [propertyName]="propertyName"
                      formControlName="bankAccount"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(createPayrollPaymentForm, this.formErrors, this.validationMessages)"
                      [errorMessage]="formErrors.bankAccount"
                      [optionList]="bankAccountList">
                    </kt-simple-dropdown>
                  </div>
                </div>
              </div>
  

              <!-- endregion -->
              <div class="row" style="padding-top: 10px;">
                <div class="col-lg-12 text-right">
                  <div>
                    <ag-grid-angular 
                    class="ag-theme-alpine"
                    style="width: 100%; height: 500px;"
                    (firstDataRendered)="onFirstDataRendered($event)"
                    [columnDefs]="columnDefs" 
                    [defaultColDef]="defaultColDef"
                    [gridOptions]="gridOptions" 
                    [animateRows]="true"
                    [frameworkComponents]="frameworkComponents"
                    (gridReady)="onGridReady($event)"
                    [overlayLoadingTemplate]="overlayLoadingTemplate"
                    [pagination]="true"
                    [rowData]="transactionList"
                    [rowMultiSelectWithClick]="true"
                    [rowSelection]="'multiple'"
                    [tooltipShowDelay]="5">
                  </ag-grid-angular>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <mat-divider class="mt-10"></mat-divider>
  
        <div class="kt-portlet__foot p-5">
          <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row">
              <div class="col-lg-12 text-right">
                <button class="mr-2 app-reset-btn" type="button" mat-raised-button (click)="resetForm()" id="submit_payment_reset"><i class="fas fa-undo"></i>  Reset</button>
                <button class="app-default-btn" mat-raised-button type="submit" id="submit_payment_submit" 
                (click)="logValidationErrors(this.createPayrollPaymentForm, this.formErrors, this.validationMessages)">
                  Register Payment Process
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

         

          

      
    

        














  
















  
    
               
               

         










