<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
            <h3 class="kt-portlet__head-text modal-header"> Add Payment
              <span (click)="onCloseDialog()" class="dialog-cross" id="add_payment" ><i class="fa fa-times float-right"></i></span>
            </h3>
        </div>
      </div>
    </div>
  
     <form [formGroup]="registerPaymentForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row mt-8 mb-5">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group mb-0">
                            <label class="col-form-label pt-0">Date:</label>
                            <kt-date-input
                              formControlName="paymentDate"
                              placeholder="Payment Date"
                              matFormFieldClass="full-width"
                              (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                              [errorMessage]="formErrors.paymentDate"
                              [maxDate]="maxDate">
                            </kt-date-input>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group mb-0">
                            <label class="col-form-label pt-0">Bank Account:</label>
                            <kt-simple-dropdown
                              id="payment_register"
                              placeholder="Select Bank Account"
                              searchPlaceholder="Search Accounts..."
                              [propertyValue]="propertyValue"
                              [propertyName]="propertyName"
                              formControlName="bankAccount"
                              matFormFieldClass="full-width"
                              (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                              [errorMessage]="formErrors.bankAccount"
                              [optionList]="bankAccountList">
                            </kt-simple-dropdown>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group mb-0">
                          <label class="col-form-label pt-0">Gross Payment:</label>
                          <!-- <kt-input-field
                            id="gross_payment"
                            formControlName="grossPayment"
                            type = "number"
                            [readonly]="isPayrollPayment"
                            [min]="0"
                            placeholder="Enter Gross Payment"
                            (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                            [errorMessage]="[{ condition : formErrors.grossPayment , error : formErrors.grossPayment }]">
                          </kt-input-field> -->
                          <mat-form-field appearance="outline" class="full-width">
                            <input matInput formControlName="grossPayment" placeholder="Enter Gross Payment" 
                                 id="gross_payment" type="number" (blur)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                            <mat-error *ngIf="formErrors.grossPayment">
                              <strong>{{formErrors.grossPayment}}</strong>
                            </mat-error>
                            <!-- <mat-hint align="end">Optional</mat-hint> -->
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group mb-0">
                            <label class="col-form-label pt-0">Register Type:</label>
                            <mat-radio-group (change)="loadAccountList($event)" formControlName="registerType" aria-label="Select an option">
                              <mat-radio-button [value]="1">Cash Account</mat-radio-button>
                              <mat-radio-button [value]="2">Bank Account</mat-radio-button>
                            </mat-radio-group>
                        </div>
                      </div> -->
                 </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Sales Tax W/H (%) :</label>
                        <!-- <kt-input-field
                        id="sales_tax"
                          formControlName="salesTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter Sales Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.salesTax , error : formErrors.salesTax }]">
                        </kt-input-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="salesTax" placeholder="Enter Sales Tax" 
                               id="sales_tax" type="number" (blur)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.salesTax">
                            <strong>{{formErrors.salesTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Income Tax W/H (%) :</label>
                        <!-- <kt-input-field
                          id="income_tax"
                          formControlName="incomeTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter Income Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.incomeTax , error : formErrors.incomeTax }]">
                        </kt-input-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="incomeTax" placeholder="Enter Income Tax" 
                               id="income_tax" type="number" (blur)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.incomeTax">
                            <strong>{{formErrors.incomeTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">SRB Tax (%) :</label>
                        <!-- <kt-input-field
                          id="srb_tax"
                          formControlName="SRBTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter SRB Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.SRBTax , error : formErrors.SRBTax }]">
                        </kt-input-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="SRBTax" placeholder="Enter SRB Tax" 
                               id="srb_tax" type="number" (blur)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.SRBTax">
                            <strong>{{formErrors.SRBTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                    </div>
                  </div>
                </div>

                <div *ngIf="!(isPayrollPayment)" class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Deduction:</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="deduction" placeholder="Enter Deduction" 
                               id="deduction" type="number" (change)="updateValueValidators($event.target.value)"
                               (blur)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.deduction">
                            <strong>{{formErrors.deduction}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Deduction Account:</label>
                      <kt-simple-dropdown 
                      id="deduction_account"
                       placeholder="Select Account" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="deductionAccountId" 
                       (blurEvent)="logValidationErrors(registerPaymentForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width"
                       hintText="Optional"
                       [errorMessage]="formErrors.deductionAccountId" 
                       [optionList]="ngxsService.accountsLevel4$">
                       </kt-simple-dropdown>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Description:</label>
                        <kt-input-field
                        id="description"
                          formControlName="description"
                          placeholder="Enter Description"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="kt-portlet__foot p-5">
            <div class="kt-form__actions kt-form__actions mb-0">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 float-left">
                  <h6 style="margin-bottom: 0; color: #2a3259; font-weight: 600;">Net Payment: <strong>{{ netPayment | number: "1.2-2" }}</strong></h6>
                </div>
                <div class="col-lg-6">
                  <div class="float-right">
                    <button class="mr-2 app-reset-btn" type="button" (click)="resetForm()" id="register_reset" ><i class="fas fa-undo"></i> Reset</button>
                    <!-- <button mat-raised-button  class="mr-3 sub___btn" type="submit" id="register_save"
                          (click)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages); isSubmit(0)">Save
                  </button> -->
                    <button class="app-default-btn" type="submit" i="register_submit"
                            (click)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages); isSubmit(1)"><i class="far fa-save"></i>
                        Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
  
  