<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
            <h3 class="kt-portlet__head-text modal-header"> Add Payment
              <span (click)="onCloseDialog()" class="dialog-cross" id="add_payment" ><i class="fa fa-times float-right"></i></span>
            </h3>
        </div>
      </div>
    </div>
  
     <form [formGroup]="registerPaymentForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                            <label class="col-form-label pt-0">Date:</label>
                            <kt-date-input
                              formControlName="paymentDate"
                              placeholder="Payment Date"
                              matFormFieldClass="full-width"
                              (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                              [errorMessage]="formErrors.paymentDate"
                              [maxDate]="maxDate">
                            </kt-date-input>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                            <label class="col-form-label pt-0">Payment Register:</label>
                            <kt-simple-dropdown
                              id="payment_register"
                              placeholder="Select Payment Register"
                              searchPlaceholder="Search Accounts..."
                              [propertyValue]="propertyValue"
                              [propertyName]="propertyName"
                              formControlName="paymentRegister"
                              matFormFieldClass="full-width"
                              (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                              [errorMessage]="formErrors.paymentRegister"
                              [optionList]="paymentRegisterList">
                            </kt-simple-dropdown>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                          <label class="col-form-label pt-0">Gross Payment:</label>
                          <kt-input-field
                            id="gross_payment"
                            formControlName="grossPayment"
                            type = "number"
                            [readonly]="isPayrollPayment"
                            [min]="0"
                            placeholder="Enter Gross Payment"
                            (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                            [errorMessage]="[{ condition : formErrors.grossPayment , error : formErrors.grossPayment }]">
                          </kt-input-field>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group kt-form__group">
                            <label class="col-form-label pt-0">Register Type:</label>
                            <mat-radio-group (change)="loadAccountList($event)" formControlName="registerType" aria-label="Select an option">
                              <mat-radio-button [value]="1">Cash Account</mat-radio-button>
                              <mat-radio-button [value]="2">Bank Account</mat-radio-button>
                            </mat-radio-group>
                        </div>
                      </div> -->
                 </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Sales Tax W/H:</label>
                        <kt-input-field
                        id="sales_tax"
                          formControlName="salesTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter Sales Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.salesTax , error : formErrors.salesTax }]">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Income Tax W/H:</label>
                        <kt-input-field
                          id="income_tax"
                          formControlName="incomeTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter Income Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.incomeTax , error : formErrors.incomeTax }]">
                        </kt-input-field>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">SRB Tax :</label>
                        <kt-input-field
                          id="srb_tax"
                          formControlName="SRBTax"
                          type = "number"
                          hintText="Optional"
                          placeholder="Enter SRB Tax"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.SRBTax , error : formErrors.SRBTax }]">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Description:</label>
                        <kt-input-field
                        id="description"
                          formControlName="description"
                          placeholder="Enter Description"
                          (blurEvent)="logValidationErrors(this.registerPaymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 float-left">
                  <h6 style="margin-bottom: 0; color: #2a3259; font-weight: 600;">Net Payment: <strong>{{ netPayment | number: "1.2-2" }}</strong></h6>
                </div>
                <div class="col-lg-6">
                  <div class="float-right">
                    <button class="mr-3 btn_white" mat-raised-button type="button" (click)="resetForm()" id="register_reset" >Reset</button>
                    <!-- <button mat-raised-button  class="mr-3 sub___btn" type="submit" id="register_save"
                          (click)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages); isSubmit(0)">Save
                  </button> -->
                    <button mat-raised-button class="sub___btn" type="submit" i="register_submit"
                            (click)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages); isSubmit(1)">
                        Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
  
  