<kt-portlet [ktBusy]="isLoading">
    <kt-portlet-header [class]="'card-head-lg'" [sticky]="false" title="Payroll Process"></kt-portlet-header>
      <form (ngSubmit)="createProcess()" [formGroup]="createPayrollProcessForm" class="kt-form kt-form--label-align-right">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <!-- region First Row -->
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label">Departments:</label>
                    <kt-simple-dropdown
                      id="create_process_department"
                      (blurEvent)="logValidationErrors(createPayrollProcessForm, this.formErrors, this.validationMessages)"
                      [errorMessage]="formErrors.departmentId"
                      [isMultiple]="true"
                      [optionList]="ngxsService.departments$"
                      formControlName="departmentId"
                      matFormFieldClass="full-width" 
                      (click)="getLatestDepartments()"
                      maxSelectionCount="3"
                      placeholder="Select Department"
                      propertyName="name"
                      propertyValue="id"
                      searchPlaceholder="Search Department...">
                    </kt-simple-dropdown>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label">Month:</label>
                    <kt-simple-dropdown
                     id="create_process_month"
                     (blurEvent)="logValidationErrors(createPayrollProcessForm, this.formErrors, this.validationMessages)"
                     [errorMessage]="formErrors.month" 
                     [optionList]="months"
                     formControlName="month"
                     matFormFieldClass="full-width"
                     placeholder="Select Month" 
                     propertyName="name"
                     propertyValue="value" 
                     searchPlaceholder="Search Month...">
                    </kt-simple-dropdown>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label">Year:</label>
                    <kt-simple-dropdown
                      id="create_process_year"
                      (blurEvent)="logValidationErrors(createPayrollProcessForm, this.formErrors, this.validationMessages)"
                      [errorMessage]="formErrors.year" 
                      [optionList]="generateArrayOfYears()"
                      formControlName="year"
                      matFormFieldClass="full-width"
                      placeholder="Select Year" 
                      propertyName="value"
                      propertyValue="value" 
                      searchPlaceholder="Search Year...">
                    </kt-simple-dropdown>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label">Account Payable:</label>
                    <kt-simple-dropdown
                      id="create_process_payable"
                      (blurEvent)="logValidationErrors(createPayrollProcessForm, formErrors, validationMessages)"
                      [errorMessage]="formErrors.accountPayableId"
                      [optionList]="ngxsService.accountsPayable$"
                      formControlName="accountPayableId"
                      matFormFieldClass="full-width"
                      placeholder="Select Account" 
                      propertyName="name"
                      propertyValue="id" 
                      searchPlaceholder="Search Account...">
                    </kt-simple-dropdown>
                  </div>
                </div>

                <!-- <div class="col-lg-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label">Religion:</label>
                    <kt-simple-dropdown
                      id="create_process_year"
                      (blurEvent)="logValidationErrors(createPayrollProcessForm, this.formErrors, this.validationMessages)"
                      [optionList]="religionList"
                      formControlName="religion"
                      matFormFieldClass="full-width"
                      placeholder="Select Religion" 
                      propertyName="value"
                      hintText="Optional"
                      propertyValue="id" 
                      searchPlaceholder="Search Religion...">
                    </kt-simple-dropdown>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-lg-12 text-right justify-content-end align-items-center d-flex mt-5">
                  <div class="form-group kt-form__group">
                    <button class="mr-3 btn_white" mat-raised-button id="create_process_reset" (click)="resetForm()">Reset</button>
                    <button class="sub___btn" id="create_process_fetch" mat-raised-button type="submit">Fetch Records</button>
                    <!--For PDF-->
                    <!-- <kt-pdf [disabled]="disability" [content]="contentData()"></kt-pdf> -->
                  </div>
                </div>
              </div>

              <!-- endregion -->
              <div class="row" style="padding-top: 10px;">
                <div class="col-lg-12 text-right">
                  <div>
                    <ag-grid-angular 
                    class="ag-theme-alpine"
                    style="width: 100%; height: 500px;"
                    (firstDataRendered)="onFirstDataRendered($event)"
                    [columnDefs]="columnDefs" 
                    [defaultColDef]="defaultColDef"
                    [gridOptions]="gridOptions" 
                    (gridReady)="onGridReady($event)"
                    (rowDoubleClicked)="editPayrollTransaction($event)"
                    (rowSelected)="onEmployeeRowClicked($event)"
                    [frameworkComponents]="frameworkComponents" 
                    [overlayLoadingTemplate]="overlayLoadingTemplate"
                    [pagination]="true"
                    [rowData]="employeeList"
                    [rowMultiSelectWithClick]="true"
                    [rowSelection]="'multiple'"
                    [tooltipShowDelay]="5">
                  </ag-grid-angular>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__foot ">
          <div class="kt-form__actions kt-form__actions">
            <div class="row">
              <div class="col-lg-12 text-right">
                <button class="sub___btn" (click)="submitProcess()" mat-raised-button type="button" id="create_process_submit">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </kt-portlet>
          








