<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header">
          Create Head Account
        </h3>
      </div>
    </div>
  </div>
  <!-- form start -->
  <form [formGroup]="level3Form" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
    <div class="kt-portlet__body" >
      <div class="kt-form__section kt-form__section--first">
        <!-- first row start -->
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="row mt-1 mb-0">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <label class="col-form-label">Head Name:</label>
              <div class="form-group kt-form__group mb-0">
                <kt-input-field
                 formControlName="name"
                 placeholder="Enter Head Name"
                 (blurEvent)="logValidationErrors(this.level3Form, formErrors, validationMessages)"
                 [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <label class="col-form-label">Head Summary:</label>
              <div class="form-group kt-form__group mb-0">
                <kt-simple-dropdown
                  formControlName="level2"
                  (blurEvent)="logValidationErrors(this.level3Form, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.level2"
                  placeholder="Select Summary Head"
                  matFormFieldClass="full-width"
                  [optionList]="chartOfAccountService.getLevel2Account()"
                  propertyName="name"
                  propertyValue="id">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="kt-portlet__foot p-5" >
      <div class="kt-form__actions row">
        <div class="col-lg-12">
          <div class="float-right">
            <button class=" mr-2 app-reset-btn" mat-raised-button type="reset" (click)="onCloseLevel3Dialog()"><i  class="fas fa-undo"></i> Cancel</button>
            <button class="app-default-btn" mat-raised-button type="submit"
                    (click)="logValidationErrors(this.level3Form, this.formErrors, this.validationMessages)"><i  class="far fa-save"></i> Submit
            </button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- form ends -->
</div>


