<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'purchase Order Detail'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        
        <h4 class="overall_statuses {{docStatus[purchaseOrderMaster?.state]}}"> Status: {{purchaseOrderMaster?.status}} </h4>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">

        <div class="row ">

          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >
                <button *ngIf="(purchaseOrderMaster?.state === docStatus.Draft || purchaseOrderMaster?.state === docStatus.Rejected) &&(permission.isGranted(permissions.PURCHASEORDER_EDIT))" 
                  id="purchase_edit" [routerLink]="'/'+ PURCHASE_ORDER.ID_BASED_ROUTE ('edit',purchaseOrderMaster?.id) "
                  [queryParams]="{q: purchaseOrderMaster?.id, 'isPurchaseOrder': true}" type="button" class="btn_public mr-3">
                  <i class="fa fa-edit" style="color:#65c18c;"></i> Edit
                </button>

                <button *ngIf="purchaseOrderMaster?.state === docStatus.Unpaid || purchaseOrderMaster?.state === docStatus.Partial"
                  [disabled]="!(permission.isGranted(permissions.GRN_CREATE))" id="purchase_grn"
                  [ngClass]="!(permission.isGranted(permissions.GRN_CREATE)) ? 'disable' : '' "
                  [routerLink]="'/'+ GOODS_RECEIVED_NOTE.CREATE"
                  [queryParams]="{q: purchaseOrderMaster?.id, 'isPurchaseOrder': true}" type="button" class="btn_public ">
                  <i class="fa fa-edit" style="color:#65c18c;"></i> Create GRN
                </button> 

                <button *ngIf="(permission.isGranted(permissions.PURCHASEORDER_EDIT))"  class="btn_public mr-3" 
                  (click)="openFileUploadDialog()" type="button"><i class="fa fa-print" style="color:#65c18c;"></i> Attachment
                </button>

                <button [routerLink]="'/'+ PURCHASE_ORDER.ID_BASED_ROUTE ('print',purchaseOrderMaster?.id) " id="purchase_print" type="button" class="btn_public">
                  <i class="fa fa-print" style="color:#65c18c;"></i> Print Purchase Order
                </button>

                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-5 col-lg-5  mt-3">

            <div class="print-box">
                <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;">Doc No: 
                    <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">Vendor Name:
                    <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.vendorName}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">P.O Date:
              <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.poDate | date: 'MMM d, y'}}</span></h4>
            </div>

            <div class="print-box">
              <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">Due Date:
              <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.dueDate | date: 'MMM d, y'}}</span></h4>
            </div>

            <div class="print-box">
              <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">Contact:
              <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.contact ? purchaseOrderMaster?.contact : "-"}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">Campus:
              <span class="float-right" style="font-weight: 400; font-size: 12px;">{{purchaseOrderMaster?.campusName ? purchaseOrderMaster?.campusName : "-"}}</span></h4>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;" class="ag-theme-alpine" [rowData]="purchaseOrderLines"
              [columnDefs]="columnDefs" (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>


        <div class="row mt-5">

          <div class="col-md-7 col-7"  *ngIf="remarksList.length > 0">
            <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
          </div>

          <div class="col-lg-4 ml-auto">
            <table class="table  small_table_box" style="margin: 0px -6px; color: #65c18c;">
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Before Tax:</td>
                <td class="text-right Total-Before-Tax" >
                  {{valueFormatter(totalBeforeTax || 0)}}</td>
              </tr>
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Tax:</td>
                <td class="text-right Total-Before-Tax" >
                  {{valueFormatter(totalTax || 0)}}</td>
              </tr>
              <tr style="border-top: 2px solid #65c18c;">
                <th class="text-left Total-Before-Tax-heading-last">Grand Total:</th>
                <th class="text-right Total-Before-Tax" >
                  {{valueFormatter(total || 0)}}</th>
              </tr>

              <tr *ngIf="purchaseOrderMaster?.references?.length > 0">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: #65c18c;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold;">
                          References 
                        </mat-panel-title>
                        <!-- <mat-panel-description style="color: #65c18c;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold; flex-grow: 0;">
                          {{valueFormatter(paidAmount || 0)}}
                        </mat-panel-description> -->
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                        </tr>
                        <tr *ngFor="let grn of purchaseOrderMaster?.references">
                          <td><a [routerLink]="('/' + GOODS_RECEIVED_NOTE.ID_BASED_ROUTE('details', grn?.docId))"
                              class="links">{{grn?.docNo}}</a></td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>
      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions kt-form__actions mb-0">
          <div class="row ">
              <div class="col-lg-12 text-right" *ngIf="purchaseOrderMaster?.isAllowedRole">
                <button (click)="remarksDialog(action.Reject)" id="purchase_reject" class="mr-5 danger__btn" mat-raised-button>Reject</button>
                <button (click)="remarksDialog(action.Approve)" id="purchase_approve" class="success__btn" mat-raised-button>Approve</button>
             </div>
          </div>
        </div>
      </div>
  </kt-portlet>
 </div>
