<!-- begin:: Header Mobile -->
<div id="kt_header_mobile"  class="header-mobile align-items-center" [ngClass]="headerMobileClasses">
  <!--begin::Logo-->
  <a routerLink="/">
	  <!-- <img alt="logo" [attr.src]="headerLogo"/> -->
    <div style="display:flex; align-items: center;">
      <!-- <div *ngIf="this.sbbu == true" class="mobile-logo-sbbu"></div>
      <div  *ngIf="this.edinfini == true" class="mobile-logo-edinfini"></div>
      <div *ngIf="this.vizalys == true" class="mobile-logo-vizalys"></div> -->
      <img *ngIf="this.sbbu == true" class="mobile-header-logo" src="assets/media/logos/logo-wr.png" alt=""  width="40px" style="margin-right: 7px;">
      <img *ngIf="this.edinfini== true" class="mobile-header-logo" src="assets/media/logos/LOGO-EDINFINI-HEADER.png" alt="" style="margin-right:7px; width:105px; background:#fff; padding:3px; border-radius:5px;">
      <img *ngIf="this.vizalys == true" class="mobile-header-logo" src="assets/media/logos/vizalys-logo.png" alt="" style="margin-right:7px; width:150px; background:#fff; padding:3px; border-radius:5px;">
      <h1 *ngIf="this.sbbu == true" style="color: #fff; font-size:21px; margin:0px;">SBBU</h1>
    </div>
  </a>
  <!--end::Logo-->

  <!--begin::Toolbar-->
  <div class="d-flex align-items-center">
    <ng-container *ngIf="asideSelfDisplay">
      <!--begin::Aside Mobile Toggle-->
      <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
        <span></span>
      </button>
      <!--end::Aside Mobile Toggle-->
    </ng-container>

    <ng-container *ngIf="headerMenuSelfDisplay">
      <!--begin::Header Menu Mobile Toggle-->
      <!-- <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
        <span></span>
      </button> -->
      <!--end::Header Menu Mobile Toggle-->
    </ng-container>

    <!--begin::Topbar Mobile Toggle-->
    <button (click)="showThis = !showThis" [ngClass]="{'active': showThis}" ktToggle [options]="toggleOptions" class="btn btn-hover-text-primary p-0 ms-2" id="kt_header_mobile_topbar_toggle">
      <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" class="svg-icon svg-icon-xl"></span>
    </button>
    <!--end::Topbar Mobile Toggle-->
  </div>
  <!--end::Toolbar-->
</div>
<!-- end:: Header Mobile -->
