.ag-theme-alpine .ag-header-group-cell-label {
  flex-direction: row-reverse;
}

.align-center {
  margin: 0 auto;
}

::ng-deep .ag-header-group-text {
  margin: 0 auto;
}

.ag-header  {
  min-height: 75px !important;
}


