<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> {{title}} 
                    <span (click)="onCloseDialog()" id="category_close" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body" >
            <!-- form first section starts -->
            <div class="kt-form__section kt-form__section--first">
                <!-- first row starts -->
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Name:</label>
                                <kt-input-field
                                id="category_name"
                                    formControlName="name"
                                    placeholder="Enter Name"
                                    (blurEvent)="logValidationErrors(this.categoryForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                                </kt-input-field>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Assets Account:</label>
                                <kt-simple-dropdown 
                                id="category_assets"
                                    propertyValue="id"
                                    propertyName="name" 
                                    placeholder="Select Assets Account"
                                    searchPlaceholder="Search Account..."
                                    formControlName="inventoryAccount"
                                    matFormFieldClass="full-width"
                                    [optionList]="ngxsService.accountsLevel4$"                                      
                                    [errorMessage]="formErrors.inventoryAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- first row ends -->
                    <!-- second row starts -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Revenue Account:</label>
                                <kt-simple-dropdown 
                                id="category_revenue"
                                    propertyValue="id"
                                    propertyName="name"
                                    matFormFieldClass="full-width"
                                    placeholder="Select Revenue Account"
                                    searchPlaceholder="Search Revanue..." 
                                    formControlName="revenueAccount"
                                    [optionList]="ngxsService.accountsLevel4$"                                   
                                    [errorMessage]="formErrors.revenueAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Cost Account:</label>
                                <kt-simple-dropdown
                                id="category_cost"
                                    propertyValue="id"
                                    propertyName="name"
                                    matFormFieldClass="full-width"
                                    placeholder="Select Cost Account"
                                    searchPlaceholder="Search Cost..." 
                                    formControlName="costAccount"
                                    [optionList]="ngxsService.accountsLevel4$"                                     
                                    [errorMessage]="formErrors.costAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- second row ends -->
                </div>
            </div>
            <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>
        <!-- portlet footer start -->
        <div class="kt-portlet__foot" >
            <!-- form action starts -->
            <div class="kt-form__actions kt-form__actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-right">
                            <button class="mr-3 btn_white" mat-raised-button type="reset" id="category_reset">Reset</button>
                            <button mat-raised-button class="sub___btn" type="submit" id="category_submit"
                            (click)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!-- form action ends-->
        </div>
        <!-- portlet footer ends -->
    </form>
    <!-- form ends -->
</div>