<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> {{title}}
                    <span (click)="onCloseDialog()" id="category_close" class="dialog-cross"><i
                            class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <!-- first row starts -->
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="row mt-1 mb-0">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Category Name:</label>
                                <kt-input-field id="category_name" formControlName="name"
                                    placeholder="Enter Category Name"
                                    (blurEvent)="logValidationErrors(this.categoryForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                                </kt-input-field>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Asset Account:</label>
                                <kt-simple-dropdown 
                                    id="category_assets" 
                                    propertyValue="id"
                                    propertyName="name"
                                    placeholder="Select Asset Account" 
                                    formControlName="inventoryAccount"
                                    matFormFieldClass="full-width" 
                                    [optionList]="assetAccountList"
                                    [errorMessage]="formErrors.inventoryAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- first row ends -->
                    <!-- second row starts -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Revenue Account:</label>
                                <kt-simple-dropdown id="category_revenue" propertyValue="id" propertyName="name"
                                    matFormFieldClass="full-width" placeholder="Select Revenue Account"
                                    formControlName="revenueAccount" [optionList]="ngxsService.otherAccounts$"
                                    [errorMessage]="formErrors.revenueAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Cost Account:</label>
                                <kt-simple-dropdown id="category_cost" propertyValue="id" propertyName="name"
                                    matFormFieldClass="full-width" placeholder="Select Cost Account"
                                    formControlName="costAccount" [optionList]="ngxsService.otherAccounts$"
                                    [errorMessage]="formErrors.costAccount"
                                    (blurEvent)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="this.showDepreciation">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Depreciation Model:</label>
                                <kt-simple-dropdown id="asset_model" formControlName="depreciationId"
                                    matFormFieldClass="full-width"
                                    
                                    (blurEvent)="logValidationErrors(categoryForm, this.formErrors, this.validationMessages)"
                                    propertyName="modelName" propertyValue="id" [errorMessage]="formErrors.depreciationId"
                                    [optionList]="ngxsService.depreciationModels$" placeholder="Select Model">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 my-auto"> 
                            <div class="form-group kt-form__group mb-0">
                                <div class="kt-radio-list">
                                    <mat-radio-group id="fixedAssetType" (change)="loadAssetList($event)" formControlName="isFixedAsset">
                                        <mat-radio-button [value]="0">Non Fixed Asset</mat-radio-button>
                                        <mat-radio-button [value]="1">Fixed Asset</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- form first section ends -->
        </div>
    
        <mat-divider></mat-divider>
      
        <div class="kt-portlet__foot p-5">
            <div class="kt-form__actions kt-form__actions mb-0">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div *ngIf="showButtons">
                            <button class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button
                                id="category_reset"><i class="fas fa-undo"></i> Reset</button>
                            <button mat-raised-button class=" app-default-btn" type="submit" id="category_submit"
                                (click)="logValidationErrors(this.categoryForm, this.formErrors, this.validationMessages)"><i
                                    class="far fa-save"></i> Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- form ends -->
</div>