<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [sticky]="false" [title]="'Employee Detail'" [class]="'card-head-lg'">
        <!-- <ng-container ktPortletTools>
          <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
          
          <h4 class="overall_statuses {{docStatus[employeeMaster?.state]}}"> Status: {{employeeMaster?.status}} </h4>
        </ng-container> -->
      </kt-portlet-header>
      <kt-portlet-body>
        <div class="col-md-12 col-lg-12 mx-auto  mb-5">
  
          <div class="row ">
  
            <!-- <div class="col-md-12 col-12 pb-3">
              <ng-container ktPortletTools >
                  <button *ngIf="(employeeMaster?.state === docStatus.Draft || employeeMaster?.state === docStatus.Rejected)"
                    [disabled]="!(permission.isGranted(permissions.INVOICE_EDIT))"
                    [ngClass]="!(permission.isGranted(permissions.INVOICE_EDIT)) ? 'disable' : '' "
                    [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('edit', employeeMaster?.id)" [queryParams]="{q: employeeMaster?.id, 'isInvoice': true}"
                    type="button"  class="mr-3 btn_public" id="invoice_edit"> <i class="fa fa-edit"></i>
                    Edit
                  </button>
                  <button [routerLink]="'/' + INVOICE.ID_BASED_ROUTE('print', employeeMaster?.id)" type="button" 
                    class="btn_public" id="invoice_print">
                    <i class="fa fa-print"></i> Print Invoice
                  </button>
                  
  
                  <mat-divider class="mt-5"></mat-divider>
              </ng-container>
              
            </div> -->
  
            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Employee Name: 
                  <!-- <span class="float-right" style="font-weight: 400;"></span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.name || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Domicile: 
                  <!-- <span class="float-right" style="font-weight: 400;"></span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.domicile || 'N/A' }}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Nationality: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.nationality}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.nationality || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Place Of Birth: 
                <span class="float-right" style="font-weight: 400;">{{employeeMaster?.placeofBirth}}</span></h4>
              </div>
              <div class="print-box">
                  <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Date Of Joining: 
                    <!-- <span class="float-right" style="font-weight: 400;"></span> -->
                  </h4>
                  <h6 style="font-weight: 400;">{{employeeMaster?.dateofJoining | date: 'MMM d, y'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Role: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.role}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.role || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Basic Pay: 
                <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.basicPay)}}</span></h4>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Increment: 
                <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.increment)}}</span></h4>
              </div>
            </div>

            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Father Name: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.fatherName}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.fatherName || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Contact: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.contact}}</span> -->
                  
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.contact || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Martial Status: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.maritalstatus}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.maritalstatus || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Designation: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.designationName}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.designationName || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Address: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.address}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.address || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Date Of Retirement: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.dateofRetirment | date: 'MMM d, y'}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.dateofRetirment | date: 'MMM d, y'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Faculty: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.faculty}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.faculty || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  No of Increment: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.noOfIncrements}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.noOfIncrements || 'N/A'}}</h6>
              </div>
            </div>

            <div class="col-md-4 col-lg-4  mt-3">
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Cnic: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.cnic}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.cnic || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Religion: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.religion}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.religion || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Gender: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.gender}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.gender || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Department: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.departmentName}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.departmentName || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Date Of Birth: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.dateofBirth | date: 'MMM d, y'}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.dateofBirth || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Shift: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{employeeMaster?.dutyShift}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{employeeMaster?.dutyShift || 'N/A'}}</h6>
              </div>
              <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">
                  Is Active: 
                  <!-- <span class="float-right" style="font-weight: 400;">{{(employeeMaster?.isActive === true) ? 'Yes' : "No"}}</span> -->
                </h4>
                <h6 style="font-weight: 400;">{{(employeeMaster?.isActive === true) ? 'Yes' : "No"}}</h6>
              </div>
            </div>
          </div>
  
          <div class="row mt-10">
            <div class="col-md-12 col-12">
              <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;"
                class="ag-theme-alpine" [rowData]="payrollItems" [columnDefs]="columnDefs"
                (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
              </ag-grid-angular>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-lg-4 ml-auto">
              <table class="table  small_table_box" style="margin: 0px -6px;">
                <tr>
                  <td class="text-left" style="width: 70%;">Basic Pay :</td>
                  <td class="text-right" >
                    {{valueFormatter(employeeMaster?.totalBasicPay || 0)}}</td>
                </tr>
                <tr>
                  <td class="text-left" style="width: 70%;">Total Allowances :</td>
                  <td class="text-right" >
                    {{valueFormatter(employeeMaster?.totalAllowances || 0)}}</td>
                </tr>
                <tr>
                  <td class="text-left" style="width: 70%;">Gross Pay :</td>
                  <td class="text-right" >
                    {{valueFormatter(employeeMaster?.grossPay || 0)}}</td>
                </tr>
                <tr>
                  <td class="text-left" style="width: 70%;">Total Deduction :</td>
                  <td class="text-right" >
                    {{valueFormatter(employeeMaster?.totalDeductions || 0)}}</td>
                </tr>
                <tr>
                  <td class="text-left" style="width: 70%;">Tax Deduction :</td>
                  <td class="text-right" >
                    {{valueFormatter(employeeMaster?.taxDeduction || 0)}}</td>
                </tr>
                <tr style="border-top: 2px solid #1a6b85;">
                  <th class="text-left"
                    >Ney Pay :</th>
                  <th class="text-right" >
                    {{valueFormatter(employeeMaster?.netPay || 0)}}</th>
                </tr>
              </table>
            </div>
          </div>



        </div>
      </kt-portlet-body>
  
      <mat-divider class="mt-10"></mat-divider>
  
      <div class="kt-portlet__foot">
        <div class="kt-form__actions kt-form__actions">
          <div class="row ">
            <!-- <div class="col-lg-12 text-right" *ngIf="employeeMaster?.isAllowedRole">
              <button (click)="workflow(action.Reject)" id="invoice_reject" class="mr-5 danger__btn" mat-raised-button>Reject</button>
              <button (click)="workflow(action.Approve)" id="invoice_approve" class="success__btn" mat-raised-button>Approve</button>
            </div> -->
          </div>
        </div>
      </div>
    </kt-portlet>
  </div>