<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Employee Detail'" [class]="'card-head-lg'">
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 ps-4 pe-4 mx-auto mb-5">
        <div class="row ">
          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >
                <button *ngIf="(permission.isGranted(permissions.EMPLOYEE_EDIT))" id="journal_edit"
                  (click)="openEmployeeDialog()" type="button"  class="btn_public me-3">
                  <i class="fa fa-edit icon-e-p-a"></i> Edit
                </button>
                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
        </div>

          <div class="col-md-4 col-lg-4 mt-3">
            <div class="print-box">
              <h4 ><b>Employee Name: </b>
                <span class="float-right" >{{employeeMaster?.name || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
                <h4 ><b>Date Of Joining:</b> 
                  <span class="float-right" >{{employeeMaster?.dateofJoining | date: 'MMM d, y'}}</span>
                </h4>
            </div>
            <div class="print-box">
              <h4 ><b>Basic Pay:</b> 
              <span class="float-right" >{{valueFormatter(employeeMaster?.basicPay)}}</span></h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Employee Type:</b> 
                <span class="float-right" >{{employeeMaster?.employeeType || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>No of Increments:</b> 
                <span class="float-right" >{{employeeMaster?.noOfIncrements || 0}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Address:</b> 
                 <span class="float-right" >{{employeeMaster?.address || 'N/A'}}</span>
               </h4>
            </div>
          </div>

          <div class="col-md-4 col-lg-4  mt-3">
            <div class="print-box">
              <h4 >
                <b>Father Name:</b> 
                <span class="float-right" >{{employeeMaster?.fatherName || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Contact:</b> 
                <span class="float-right" >{{employeeMaster?.contact || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Designation:</b> 
                <span class="float-right" >{{employeeMaster?.designationName || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Grade:</b> 
                <span class="float-right" >{{employeeMaster?.bps || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 ><b>Increment:</b> 
                <span class="float-right" >{{valueFormatter(employeeMaster?.incrementAmount)}}</span></h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Active:</b> 
                <span class="float-right" >{{(employeeMaster?.isActive === true) ? 'Yes' : "No"}}</span>
              </h4>
            </div>
          </div>

          <div class="col-md-4 col-lg-4  mt-3">
            <div class="print-box">
              <h4 >
                <b>Cnic:</b> 
                <span class="float-right" >{{employeeMaster?.cnic || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Department:</b> 
                <span class="float-right" >{{employeeMaster?.departmentName}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Campus:</b> 
                <span class="float-right" >{{employeeMaster?.campusName}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Faculty:</b> 
                <span class="float-right" >{{employeeMaster?.faculty || 'N/A'}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 >
                <b>Shift:</b> 
                <span class="float-right" >{{employeeMaster?.dutyShift}}</span>
              </h4>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 13px;"
              class="ag-theme-alpine" [rowData]="payrollItems" [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 col-lg-4  ms-auto mt-3" >
              <div class="print-box">
                <h4 >Basic Pay :
                  <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.totalBasicPay || 0)}}</span>
                </h4>
              </div>
              <div class="print-box">
                <h4 >Total Allowances :
                  <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.totalAllowances || 0)}}</span>
                </h4>
              </div>
              <div class="print-box">
                <h4 >Gross Pay :
                  <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.grossPay || 0)}}</span>
                </h4>
              </div>
              <div class="print-box">
                <h4 >Total Deduction :
                  <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.totalDeductions || 0)}}</span>
                </h4>
              </div>
              <div class="print-box">
                <h4 >Total Tax Deduction :
                  <span class="float-right" style="font-weight: 400;">{{valueFormatter(employeeMaster?.taxDeduction || 0)}}</span>
                </h4>
              </div>
              <div class="print-box">
                <h4 >Net Pay :
                  <span class="float-right" style="font-weight: 400;"> {{valueFormatter(employeeMaster?.netPay || 0)}}</span>
                </h4>
              </div>
          </div>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

  </kt-portlet>
</div>