<!-- begin:: Error -->
<div class="error-animate error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(/assets/media/error/bg3.jpg); height: 100%;">
    <!--begin::Content-->
    <div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
      <h1 class="error-title text-stroke text-transparent">403</h1>
      <p class="display-4 font-weight-boldest text-white mb-12">
        UNAUTHORIZED
      </p>
      <p class="font-size-h1 font-weight-boldest text-dark-75">
        Sorry you aren't allowed here.
      </p>
      <p class="font-size-h4 line-height-md">
        Please login again or ask your administrator for additional permissions.
      </p>
    <button class="btn btn-outline-success" routerLink="/dashboard">Back to Home</button>
    </div>
    <!--end::Content-->
  </div>
  <!-- end:: Error -->
    