$bg-gradient-color: linear-gradient(to right, #1a6b85, #4a8a9e);
$bg-white: #fff;
$primary-color: #1a6b85;
$secondary-color: #cba058;
$input-filed-primary-color: #808080;
$input-filed-background-color: #f2f2f2;
$input-filed-border-color: #d0d0d0;
$form-border-color: #aad7e6;
$test-shadow-color: #9195a9;
$button-background-color: #e9f5f9;
$light-gray-color: #B5B5C3;
$title: 'SBBU';
$login-title: 'Main Campus SBBU Shaheed benazirabad.';
$login-cover-image: 'assets/media/logos/bg_login.jpg';
$site-logo: 'assets/media/logos/logo-wr.png';


.dropdown-toggle::after {
  display: none !important;
}

.login-image-title::after {
  content: $login-title;
}

.scrolltop {
  display: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  background-color: $primary-color !important;
  box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 8%);
  opacity: 0;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;

}


body {
  background-color: $bg-white;
  color: $primary-color;
}

input {
  color: $input-filed-primary-color !important;
}

.fa-chart-line {
  color: $primary-color !important;
}

// sidebar css
#kt_aside_menu_wrapper {
  background-color: $primary-color !important;
  /* For browsers that do not support gradients */
  background-image: $bg-gradient-color;
}

#kt_aside_menu {
  background-color: $primary-color !important;
  /* For browsers that do not support gradients */
  background-image: $bg-gradient-color;
  height: 90vh !important;
  max-height: 100vh;
  position: relative;
}

.brand-dark .brand {
  background-color: $bg-white !important;
  /* For browsers that do not support gradients */
}

// btn-design
.app-reset-btn {
  background-color: $button-background-color !important;
  color: $primary-color !important;
  letter-spacing: 1px;
  box-shadow: unset !important;
}

.app-reset-btn i {
  color: $primary-color !important;
  font-size: 14px;
}

.app-default-btn {
  background-color: $primary-color;
  background-image: $bg-gradient-color;
  color: $bg-white !important;
  font-size: 14px;
  box-shadow: unset !important;
}

.app-default-btn i {
  color: $bg-white;
  font-size: 14px;
}

.app-save-btn {
  background-color: $button-background-color !important;
  color: $primary-color !important;
  letter-spacing: 1px;
  box-shadow: unset !important;

}

.app-save-btn i {
  color: $primary-color !important;
  font-size: 14px;
}


// card box
kt-portlet-header {
  // background-image: linear-gradient(135deg, #293055 32%, #ffffff 0%);
  color: $primary-color;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card.card-custom>.card-header {
  min-height: 50px;
}

.card.card-custom>.card-body {
  padding: 10px;
}

.card-label {
  color: $primary-color !important;
}

// dialogue body
.kt-portlet__body {
  padding: 10px;
}

.kt-portlet__head-text {
  // background-image: linear-gradient(135deg, #49899d 45%, #f2f2f2 0%);
  color: $primary-color;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px auto;
}


// ag grid
.ag-watermark {
  display: none !important;
}

.ag-header {
  background-color: $button-background-color !important;
}

// .ag-theme-alpine
// {
//   width: 100%; height: 500px; margin-top: 10px;
// }
.ag-header-cell-text {
  color: $primary-color !important;
  // font-family: sans-serif !important;

  // font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: 500;
}

.ag-theme-alpine .ag-header-cell-resize::after {
  background-color: rgb(186, 191, 199) !important;
}

// custom classes
.full-width {
  width: 100% !important;
}

.disable {
  color: grey !important;
  background: lightgray !important;
}

.col-form-label {
  font-weight: 600 !important;
  padding-bottom: 6px;
  color: $primary-color !important;
}

.dialog-cross {
  cursor: pointer;
}

.dialog-cross i {
  font-size: 20px;
}

.form-group {
  margin-bottom: 0px !important;
}

// dialogue
.mat-dialog-container {
  padding: 0px !important;
}

// sticky footer area
#kt_body {
  max-height: 95vh;
}

.flex-root {
  height: 100%;
}

.kt-portlet__foot {
  padding: 15px 20px;
  background-color: $bg-white;
}

kt-footer {
  margin-bottom: -15px;
}


// custom Loading

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $bg-white;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}


.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.custom-loading-container {
  background: rgba(0, 0, 0, 0.12) none repeat scroll 0% 0%;
  z-index: 10;
}

.custom-loading-parent-div {
  width: 150px !important;
  height: 150px !important;
}

.custom-loading {
  display: flex;
  justify-content: center;
}

.custom-loading::after {
  content: "";
  border-radius: 50%;
  animation: custom-loading 1s ease infinite;
}

.single-content::after {
  border: 2px solid $bg-white;
  border-top-color: $primary-color;
  height: 2rem;
  width: 2rem;
}

.whole-content::after {
  border: 5px solid $bg-white;
  border-top-color: $primary-color;
  height: 4rem;
  width: 4rem;
}

@keyframes custom-loading {
  to {
    transform: rotate(1turn);
  }
}


//
.remove-icon {
  padding: 8px 10px;
  text-align: center;
  border-radius: 20px;
  margin-right: 5px;
  background: $bg-white;
  color: $bg-white;
  height: 35px;
  width: 35px;
  border: 0px;
  transition: 0.6s;
  margin-top: -10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.remove-icon i {
  margin-right: 0px;
  color: red;
  padding-right: 0px;
}


.btn_create {
  margin: 10px 0px;
  background: transparent;
  border: 0px;
  color: $primary-color;
  font-weight: bold;
  text-decoration: underline;
}

.btn_create i {
  color: #819fcb;
  font-size: 10px;
}

.mat-elevation-z8 {
  box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px !important;
}

// .mat-header-cell:nth-child(even)
// {
//   background-color: #9e9e9e33;
// }


.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.form-group label {
  width: 100% !important;
}

// table-responsive
.table-responsive {

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-cell,
  .mat-header-cell {
    text-align: center;
    vertical-align: middle;
  }
}


.small_table_box th,
.small_table_box td {
  // border: 1px solid #2B335C1F !important;
}

//Approve and Reject Buttons
.btn btn-outline-success {
  color: #155724;
  background: #d4edda;
  border: 1px solid #155724 !important;
}

.btn btn-outline-danger {
  color: #721c24;
  background: #f8d7da linear-gradient(180deg, #f9dde0, #f8d7da) repeat-x;
  border: 1px solid #721c24 !important;
  margin-right: 5px !important;
}


.overall_statuses {
  position: sticky;
  padding: 10px 15px;
  // border-radius: 15px/60%;
  // box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  margin-bottom: 0px;
  font-weight: 500;
}

.overall_statuses.Approved,
.overall_statuses.Paid,
.overall_statuses.Submitted {
  background: #7ce1862b;
  color: #7ce186;
}

.overall_statuses.Draft,
.overall_statuses.Reconciled,
.overall_statuses.Reviewed,
.overall_statuses.In,
.overall_statuses.Partial {
  background: #f5c5192e;
  color: #f5c519;
}

.overall_statuses.Unpaid,
.overall_statuses.Rejected {
  background: #ff6a6a26;
  color: #ff6a6a;
}

// .overall_statuses
// {
//   background: #ff6a6a26;
//   position: sticky;
//   padding: 10px 15px;
//   color: #ff6a6a;
//   border-radius: 15px/60%;
//   box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
//   margin-bottom: 0px;
//   font-weight: 500;
// }


// mat-tab-body[id^="mat-tab-content"][id$="-1"] > .mat-tab-body-content
// {
//   height: 300px !important;
// }

// mat-tab-body[id^="mat-tab-content"][id$="-2"] > .mat-tab-body-content
// {
//   height: 300px !important;
// }


div.search_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 100;
  background-color: $bg-white;
}


.input_transform_none {
  text-transform: none !important;
}

.ag-noData {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  background: $bg-white
}

.brand {
  height: 90px;
}

.brand-logo img {
  height: 85px;
  padding-top: 10px;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
  color: $bg-white;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-icon {
  color: $secondary-color;
}

.aside-menu .menu-nav>.menu-item.menu-item-here>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-here>.menu-link {
  background-color: #ffffff38 !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-here>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item.menu-item-here>.menu-link .menu-icon {
  color: $bg-white;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link {
  background-color: #ffffff38;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
  background-color: #ffffff38;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link {
  background-color: #ffffff38 !important;
}

.header .header-menu .menu-nav>.menu-item>.menu-link {
  background-color: $button-background-color !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-icon {
  color: $bg-white;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
  background-color: #ffffff38;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-bullet.menu-bullet-dot>span,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-bullet.menu-bullet-dot>span {
  color: $primary-color;
  background-color: $primary-color;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-text {
  color: $bg-white;
}

.brand-dark .brand .btn .svg-icon svg g [fill] {
  fill: $primary-color;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon {
  color: $bg-white;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-arrow,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-arrow {
  color: $secondary-color;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-bullet.menu-bullet-dot>span,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-bullet.menu-bullet-dot>span {
  background-color: $bg-white;
}

// .ag-header
// {
//   min-height: 35px !important;
// }

.ag-header-row {
  height: 30px !important;
}

// top header
.header .header-menu .menu-nav>.menu-item.menu-item-here>.menu-link,
.header .header-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
  background-color: $button-background-color !important;
}

.header .header-menu .menu-nav>.menu-item.menu-item-here>.menu-link .menu-text,
.header .header-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text {
  color: $primary-color !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary-color;
}

@media (min-width: 992px) {
  .header .header-menu .menu-nav>.menu-item>.menu-link .menu-text {
    color: $primary-color;
    font-weight: 500;
  }

  .header .header-menu .menu-nav>.menu-item:hover:not(.menu-item-here):not(.menu-item-active)>.menu-link .menu-text,
  .header .header-menu .menu-nav>.menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active)>.menu-link .menu-text {
    color: $primary-color;
  }
}


.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading .menu-bullet.menu-bullet-dot>span,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link .menu-bullet.menu-bullet-dot>span {
  background-color: $primary-color !important;
}

.aside-minimize .aside-menu .menu-nav>.menu-item.menu-item-here>.menu-link>.menu-icon,
.aside-minimize .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link>.menu-icon {
  color: $primary-color;
}


.aside-minimize .aside-menu .menu-nav>.menu-item>.menu-link>.menu-icon {
  color: $bg-white;
}


.user-card {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f6fafb;
  border-top: 2px solid #227089;
}

.user-info .lead-text,
.user-info .sub-text {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.user-avatar,
[class^=user-avatar]:not([class*=-group]) {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: $bg-white;
  background: $primary-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .06em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
}

.user-avatar+.user-info,
[class^=user-avatar]:not([class*=-group])+.user-info {
  margin-left: 1rem;
}

.user-card .user-info {
  color: #8094ae;
}

.nk-header .dropdown-menu .lead-text {
  color: #364a63;
}

.lead-text {
  font-size: .875rem;
  font-weight: 700;
  color: $primary-color;
  display: block;
}

.sub-text {
  color: $input-filed-primary-color;
}

.lead-text+.sub-text {
  font-size: 12px;
}

.btn_public {
  font-size: 14px;
  background: none;
  border: 0;
  color: $primary-color;
  // background-color: #f6fafb;
}

.btn_public i {
  font-size: small;
}

.aside-minimize .tagline-h {
  display: none !important;
}

.ag-theme-alpine .ag-cell {
  line-height: 25px !important;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  font-size: 13px;
}

.ag-theme-alpine .ag-row {
  height: 30px !important;
}


.head-remarks {
  text-align: left;
  padding: 6px 15px 6px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  border-left: 2px solid;
}

.head-remarks h3 {
  font-size: 17px;
  margin-bottom: 0px;
}

.scroll-view {
  max-height: 250px;
  overflow-y: auto;
  padding: 0px 10px 0px 0px;
}

.card-view {
  background-color: whitesmoke;
  padding: 8px 12px;
  // margin-left: 8px;
  margin-bottom: 10px;
  border-radius: 20px 0px;
  border: 1px solid #ddd;

}

.card-view p {
  margin-bottom: 5px;
  color: #979191;
  letter-spacing: 1px;
  font-size: 12px;
}

.card-view span {
  letter-spacing: 0px;
  font-size: 12px;
}

.card-view h3 {
  font-size: 14px;
  font-weight: 400;
  color: #3F4254;
  line-height: 18px;

}

/* login page style */

.group__sty input {
  background-color: $input-filed-background-color;
  padding: 15px;
  border: 1px solid $input-filed-border-color;
}

.input-filed-color {
  color: $input-filed-primary-color !important;
}

.input-filed-color:focus {
  border-color: $input-filed-primary-color !important;
}

.heading__text {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 3px 3px $test-shadow-color;
  font-size: 45px;
  color: $primary-color;
  letter-spacing: .15em;
}

.form-left-div-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: $primary-color;
}

/* Dashboard style section */

.deshboard-logo {
  background-image: url($site-logo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.overall-app-loader {
  background-image: url($site-logo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 32%;
}

.splash-app-loader {
  background-image: url($site-logo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 32%;
}

.login-image {
  background-image: url($site-logo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  width: 130px;
  height: 130px;
  margin-inline: auto;
}

.form-left-div-bg {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $bg-white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  min-height: 70vh;
  background-image: url($login-cover-image);
  background-size: cover;
  background-position: center;
  justify-content: right;
  align-items: flex-end;

}

.aside-minimize .deshboard-logo {
  display: none;
}

.tagline-h {
  color: $primary-color !important;
}

// .tagline-h::after{
//   content: $title;
// }

.user-btn {
  font-size: 16px;
}

.user-btn-icon {
  background-color: $primary-color;
  color: $bg-white;
  padding: 8px !important;
  font-size: 10px !important;
  border-radius: 20px;
}

i.down-arrow {
  color: $light-gray-color !important;
}

.btn-bg-color {
  background: $button-background-color !important;
}

.btn-bg-color .text-muted {
  color: $light-gray-color !important;
}

.btn-bg-color .text-primary {
  color: $primary-color !important;
}

.dashboard-li {
  padding: 14px;
}

.dashboard-link {
  color: $primary-color !important;
  cursor: pointer !important;
}

.dashboard-icon {
  color: $input-filed-primary-color !important;
}

.recivable-amount {
  color: $primary-color !important;
}

.recivable-heading {
  color: $primary-color !important;
}

.btn-heading {
  color: $primary-color !important;
}

.aside .aside-menu.ps>.ps__rail-y>.ps__thumb-y {
  background: $secondary-color !important;
  opacity: 1;
}

.footer-year {
  color: $input-filed-primary-color !important;
}

.footer-name {
  color: $primary-color !important;
}

.footer-link {
  color: $input-filed-primary-color !important;
}

/* loader */

.mat-progress-spinner circle,
.mat-spinner circle {
  // brand color
  stroke: $primary-color !important;
}

/* Access Managment*/

.text-muted {
  color: $input-filed-primary-color !important;
}

.mat-tab-label,
.mat-tab-link {
  color: $input-filed-primary-color !important;
}

// .mat-form-field .mat-form-field-outline {
//   top: -1px !important;
//   border-top: 1px solid $input-filed-border-color !important;
//   border-bottom: 1px solid $input-filed-border-color !important;
//   border-right: 1px solid $input-filed-border-color !important;
//   border-left: 3px solid $primary-color !important;
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: $primary-color;
//   }

.input_style {
  background-color: $input-filed-background-color !important;
  border: 1px solid $primary-color !important;
}

.form-control {
  color: $primary-color !important;
}

.input-group-append {
  background-color: $primary-color !important;
}

.mat-checkbox {
  border: 1px solid $form-border-color !important;
}

.mat-checkbox-frame {
  border-color: $primary-color;
  opacity: 0.7;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary-color !important;
}

.mat-checkbox-label {
  color: $primary-color !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 24px !important;
}

.dialog-cross .fa-times {
  color: $input-filed-primary-color;
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  color: $primary-color;
}

.mat-radio-outer-circle {
  border-color: $primary-color !important;
  ;
}

.mat-radio-checked .mat-radio-outer-circle {
  background-color: $primary-color !important;
  background-image: linear-gradient(to right, $primary-color, $primary-color) !important;
  border-color: $primary-color !important;
}

/* finance section style */

.footer-tag {
  margin-bottom: 0;
  color: $primary-color;
  font-weight: 600;
}

.icon-e-p-a {
  color: $input-filed-primary-color !important;
}

.print-box-detail-1 {
  font-size: 16px;
  // letter-spacing: 3px;
  font-weight: 600;
  color: $primary-color;
}

.print-box-detail-2 {
  font-size: 16px;
  // letter-spacing: 3px;
  font-weight: 600;
  color: $primary-color;
  margin-top: 10px;
}

.print-box-bg-color {
  margin-top: 5% !important;
  background-color: $button-background-color !important;
  padding: 10px !important;
}

.print-box-bg-color h4 {
  font-size: 22px;
  font-weight: 600;
  color: $primary-color;
}

.print-box-bg-color p {
  font-size: 15px;
  font-weight: 400;
  color: $primary-color;
}

.print-box-bg-color .p {
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 2px;
}

.brand-dark .brand .btn .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: $primary-color !important;
}


table,
table a {
  color: $primary-color !important;
}

.net-payment {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: $primary-color;
  margin-top: 10px;
}

.net-payment-last {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: $primary-color;
  margin-top: 10px;
  border-top: 2px solid $primary-color !important;
  padding-top: 10px;
}

.grand-total {
  border-top: 2px solid $primary-color !important;
  color: $primary-color !important;
}

.grand-total-two {
  background: $primary-color;
  color: $bg-white;
}

.pending-amount {
  background: $bg-gradient-color !important;
  color: $bg-white !important;
}

.mat-table .mat-header-cell {
  color: $primary-color !important;
  font-weight: bold;
  font-size: 15px;
  border-right: 2px solid $input-filed-border-color !important;
}

.mat-table .mat-header-row {
  background-color: $button-background-color !important;
  min-height: 46px;
}

.paid-amount {
  color: $primary-color !important;
  text-indent: initial;
  font-weight: bold;
  font-family: Poppins, Helvetica, 'sans-serif';
  font-size: 13px !important;
  font-weight: bold;
}

.paid-anount-flex-grow {
  color: $primary-color;
  text-indent: initial;
  font-weight: bold;
  font-family: Poppins, Helvetica, 'sans-serif';
  font-size: 13px !important;
  font-weight: bold;
  flex-grow: 0;
}

.total-value {
  background-color: $input-filed-background-color !important;
  font-weight: bold;
}

.btn-bg-colorr {
  background-color: $input-filed-background-color;
  font-weight: bold;
}

.total-debit-credit {
  background-color: $input-filed-background-color !important;
  color: $primary-color;
  padding: 10px 0px;
  font-size: 15px;
}

.base-colour {
  color: $primary-color !important;
}

.ag-theme-alpine .ag-row-hover {
  background-color: $button-background-color !important;
}

.mat-primary .mat-option.mat-selected {
  color: $primary-color !important;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus {
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
}

.ag-theme-alpine .ag-row-selected {
  background-color: $button-background-color;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
  content: "\f106";
  color: $primary-color;
  color: var(--ag-checkbox-checked-color, var(--ag-alpine-active-color, $primary-color));
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ag-theme-alpine .ag-checkbox-input-wrapper:focus-within,
.ag-theme-alpine .ag-checkbox-input-wrapper:active {
  outline: none;
  box-shadow: 0 0 2px 0.1rem rgb(26 107 133 / 40%);
}

.tree_arrow {
  background-color: $primary-color !important;
  color: $bg-white !important;
  margin-right: 15px;
  border-radius: 25px;
}

.circle-dropdown {
  color: $primary-color !important;
}

.mat-expansion-panel-header-title {
  color: $primary-color !important;
}


.mat-slide-toggle-bar {
  background-color: $primary-color !important;
}

.progress-bar {
  // brand color
  background-color: $primary-color !important;
}

:host {
  position: absolute;
  height: 70px;
  pointer-events: none;
  transition: opacity .2s;
  display: inline-block;
  margin-top: -2.5%;
  margin-left: 30px;
}

:host.ag-tooltip-hiding {
  opacity: 0;
}

.appearance {
  background-color: $primary-color !important;
  border-radius: 5px;
  padding: 10px;
  color: $bg-white;
  font-weight: 400;
}

.appearance::after {
  content: "";
  position: absolute;
  top: 27%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $primary-color transparent transparent !important;
}


// addtional css
.print-box h4 {
  font-size: 14px;
  font-weight: 400;
}

.Submitted,
.Paid,
.Approved {
  background-color: #1bc5bd !important;
}

.Draft,
.Reconciled,
.Reviewed,
.In,
.Partial {
  background-color: #ffa800 !important;
}

.Unreconciled,
.Unpaid,
.Rejected {
  background-color: #f64e60 !important;
}

// additional css

.mat-table {

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    justify-content: center;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }

  mat-row {
    padding-top: 20px;
  }

  .mat-header-cell {
    color: $primary-color;
    font-size: 13px;
    border-right: 2px solid #dae1e9;
    font-weight: 500;
    letter-spacing: 1px;
  }

  mat-header-row {
    background-color: $button-background-color;
    min-height: 36px;
  }
}

.input_d_1 {
  margin-top: 2px;
}

// mat table end


.mat-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 0px 8px 0px !important;
}

.mat-form-field-label-wrapper {
  top: -17px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-41.1em) scale(.75);
  width: 133.33333%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $button-background-color;
  border: 1px solid #d9e2eb;
  border-radius: 5px;
}


.mat-form-field {
  width: 100% !important;
}


mat-row,
mat-footer-row {
  padding-top: 0px !important;
  min-height: 120px !important;
}


.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border-top-color: unset !important;
}


.partner__box {
  margin-top: 5%;
  margin-top: 6%;
  background-color: #f6f8f9;
  padding: 10px;
}

.partner__box h4 {
  font-size: 22px;
  font-weight: 600;
  color: $primary-color;
}

.partner__box p {
  font-size: 15px;
  font-weight: 400;
  color: $primary-color;
}


.mat-input-element {
  caret-color: $primary-color;
}

.mat-calendar-body-selected {
  background-color: $primary-color;
  color: $bg-white;
}


.app-remove-btn {
  box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
  border: 0;
  border-radius: 50px;
  color: red;
  height: 30px;
  width: 30px;
  background-color: #fff;
  margin-top: -10px;
}

.app-remove-btn i {
  color: red;
}


.app-add-new-line-btn {
  border: 0;
  background-color: $primary-color;
  color: #fff;
  transition: .2s;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 10px;
}

.app-add-new-line-btn i {
  color: #fff;
}


// chart of account light css
// .mat-tree-node
// {
//     background-color: aliceblue;
//     margin-bottom: 10px;
//     border-radius: 20px 0px 20px 20px;
// }
.tree_arrow {
  background-color: $primary-color;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 25px;
}


mat-tree-node div[id^='demo'] {
  // background: $button-background-color;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px 0px 20px 20px;
  padding: 5px 0px;
  color: $primary-color;
  font-weight: bold;
}

mat-tree-node div[id^='child'] {
  background: $button-background-color;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px 0px 20px 20px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
}

.btn__add {
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 5px 10px;
  height: 35px;
  width: 35px;
  line-height: 5px;
  border-radius: 20px;
}

.btn__add i {
  color: #4caf50;
  font-size: 14px;
}

.btn__edit {
  margin-left: 5px;
  background-color: #fff;
  border: 1px solid #ff9800;
  padding: 5px 10px;
  height: 35px;
  width: 35px;
  line-height: 5px;
  border-radius: 20px;
}

.btn__edit i {
  color: #ff9800;
  font-size: 14px;
}


// .mat-select-placeholder
// {
//   color: $primary-color !important;
// }


// .mat-input-element::placeholder{
//   color: $primary-color;
// }

// end chart of account


.form-left-div-bg {

  background-image: $login-cover-image;

}

.bg-login-logo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: $site-logo;
  margin: 0px auto;
  background-repeat: no-repeat;
}

.heading__text {

  padding: 10px;
  text-transform: uppercase;
  // letter-spacing: 5px;
  font-size: 45px;
  color: $primary-color;
  // letter-spacing: .15em;
}

.login-input-field:focus {
  border-color: $primary-color;
}


.group__sty input {
  background-color: $button-background-color;
  padding: 20px;
  // border-radius: 0px 20px 20px 0px;
  border: 1px solid #d0d0d0;
}

.login-btn {
  background-image: $bg-gradient-color;
  padding: 10px;
  color: $bg-white;
}


.login-btn:hover {
  background-image: $bg-gradient-color;
  opacity: 0.8;
  color: $bg-white;
}


.mat-form-field-label {
  color: rgb(0 0 0 / 45%) !important;
}


.remove__checkbox .mat-option-pseudo-checkbox {

  display: none !important;

}


.border-top-1px {
  border-top: 1px solid $primary-color !important;
  padding-top: 5px !important;
}


.font-14 {
  font-size: 14px !important;
}


.custom_left .ag-cell-label-container .ag-header-cell-label {
  justify-content: center !important;
}


.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $primary-color !important;
}


.paid-anount-flex-grow {
  justify-content: right !important;
}


.mat-pseudo-checkbox {
  color: $primary-color;
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  background-color: $primary-color;
}

