<div class="row mb-4">
    <div class="col-md-12 text-right">
      <button (click)="addCallQuotation()" *ngIf="(permission.isGranted(permissions.CALL_QUOTATION_CREATE))" id="add_quotation" class="app-default-btn" mat-raised-button matTooltip="Add Quotation">Add call Quotation</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 ">
      <kt-portlet >
        <kt-portlet-header [sticky]="false" [title]="'Call Quotation'" [class]="'card-head-lg'">
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="col-lg-12 col-md-12 my-5">
              <ag-grid-angular
                style="width: 100%; height: 400px; margin-top: 10px;"
                class="ag-theme-alpine"
                [components]="components"
                [columnDefs]="columnDefs"
                (rowDoubleClicked)="onRowDoubleClicked($event)"
                (firstDataRendered)="onFirstDataRendered($event)"
                (paginationChanged)="paginationHelper.onPaginationChanged('invoicePageName', gridApi, $event)"
                [gridOptions]="gridOptions"               
                [defaultColDef]="defaultColDef"
                [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                [tooltipShowDelay]="5"
                (gridReady)="onGridReady($event)">
              </ag-grid-angular>
            </div>
        </kt-portlet-body>
      </kt-portlet>
    </div>
  </div>
  
  
  