<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="title" [class]="'card-head-lg'"></kt-portlet-header>
    <!--begin::Form-->

    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">

          <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row mt-8 mb-5 ">
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Estimated Budget:</label>
                  <kt-input-field 
                     id="budget_name"
                     formControlName="budgetName" 
                     matFormFieldClass="full-width" 
                     placeholder="Enter Name" 
                     (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                     [errorMessage]="[{ condition : formErrors.budgetName , error : formErrors.budgetName }]">
                  </kt-input-field>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">From:</label>
                  <kt-date-input
                   formControlName="from"
                   placeholder="Select Date"
                   matFormFieldClass="full-width"
                   (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                   [errorMessage]="formErrors.from">
                  </kt-date-input>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">To:</label>
                  <kt-date-input
                     formControlName="to"
                     placeholder="Select Date"
                     [minDate]="budgetForm?.value?.from"
                     matFormFieldClass="full-width"
                     (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                     [errorMessage]="formErrors.to">
                  </kt-date-input>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label">Campus:</label>
                  <kt-simple-dropdown 
                    id="budget_campus"
                    placeholder="Select Campus" 
                    propertyValue="id" 
                    propertyName="name"
                    formControlName="campusId" 
                    (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                    matFormFieldClass="full-width"
                    [errorMessage]="'Campus is required.'" 
                    [optionList]="ngxsService.campuses$">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="">
                  <ng-container formArrayName="budgetLines">
                    <div class="table-responsive">
                      <mat-table #table [dataSource]="budgetForm.get('budgetLines')['controls']">
                        <!-- Account Column -->
                        <ng-container matColumnDef="accountId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> COA</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown 
                              [id]="'budget_account_' + i"
                               [optionList]="ngxsService.budgetAccount$" 
                               [errorMessage]="'Head is required.'"
                               formControlName="accountId" 
                               matFormFieldClass="mobile-label full-width"
                               placeholder="Select Detailed Head"
                               propertyName="name"
                               propertyValue="id">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!--Amount Column-->
                        <ng-container matColumnDef="amount">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Amount</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field 
                               formControlName="amount"
                               [id]="'budget_amount_' + i"
                               type="number"
                               matFormFieldClass="mobile-label full-width" 
                               placeholder="Enter Amount"
                               (change)="totalAmountCalculation()"
                               (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                               [errorMessage]="[{ condition : budgetForm.get('budgetLines')['controls'][i].controls.amount.errors?.required &&
                                                              budgetForm.get('budgetLines')['controls'][i].controls.amount.touched , 
                                                  error : 'Amount is required.' }, { condition : budgetForm.get('budgetLines')['controls'][i].controls.amount.errors?.min &&
                                                  budgetForm.get('budgetLines')['controls'][i].controls.amount.touched , 
                                    error : 'Please insert correct value.' }]">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                      
                            <button class=" app-remove-btn" type="button" [id]="'budget_remove_' + i"
                              (click)="removeBudgetLineClick(i)">
                              <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                          </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                  </ng-container>

                  <ng-container>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <button class=" app-add-new-line-btn" type="button" id="budget_add_line" (click)="addBudgetLineClick()">
                          <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <!--End Budget Lines-->
        </div>
      </div>

      <mat-divider class="mt-10"></mat-divider>

      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions kt-form__actions mb-0">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button class="mr-2 app-reset-btn" id="budget_reset" type="button" (click)="reset()" mat-raised-button><i class="fas fa-undo"></i> Reset</button>
              <button class="app-default-btn" mat-raised-button type="submit" id="budget_submit"
                (click)="logValidationErrors(budgetForm, formErrors, validationMessages)"><i class="far fa-save"></i> Submit</button>
            </div>
            </div>
          </div>
        </div>
    </form>
    <!--end::Form-->
  </kt-portlet>
</div>















