<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="title" [class]="'card-head-lg'"></kt-portlet-header>
    <!--begin::Form-->

    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">

          <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group">
                  <label class="col-form-label">Budget:</label>
                  <kt-input-field 
                     id="budget_name"
                     formControlName="budgetName" 
                     matFormFieldClass="full-width" 
                     placeholder="Enter Name" 
                     (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                     [errorMessage]="[{ condition : formErrors.budgetName , error : formErrors.budgetName }]">
                  </kt-input-field>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group">
                  <label class="col-form-label">From:</label>
                  <kt-date-input
                   formControlName="from"
                   placeholder="Enter From Date"
                   matFormFieldClass="full-width"
                   (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                   [errorMessage]="formErrors.from">
                  </kt-date-input>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group">
                  <label class="col-form-label">To:</label>
                  <kt-date-input
                     formControlName="to"
                     placeholder="Enter To Date"
                     [minDate]="budgetForm?.value?.from"
                     matFormFieldClass="full-width"
                     (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                     [errorMessage]="formErrors.to">
                  </kt-date-input>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="example-container  mat-elevation-z8 ">
                  <ng-container formArrayName="budgetLines">
                    <div class="table-responsive">
                      <mat-table #table [dataSource]="budgetForm.get('budgetLines')['controls']">
                        <!-- Account Column -->
                        <ng-container matColumnDef="accountId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Account</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown 
                              [id]="'budget_account_' + i"
                               [optionList]="ngxsService.budgetAccount$" 
                               [errorMessage]="'Account is Required'"
                               formControlName="accountId" 
                               matFormFieldClass="mobile-label full-width"
                               placeholder="Select Account"
                               propertyName="name"
                               propertyValue="id">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!--Partner Column-->
                        <ng-container matColumnDef="amount">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Amount</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field 
                               formControlName="amount"
                               [id]="'budget_amount_' + i"
                               type="number"
                               matFormFieldClass="mobile-label full-width" 
                               placeholder="Enter Amount"
                               (change)="totalAmountCalculation()"
                               (blurEvent)="logValidationErrors(budgetForm, formErrors, validationMessages)"
                               [errorMessage]="[{ condition : budgetForm.get('budgetLines')['controls'][i].controls.amount.errors?.required &&
                                                              budgetForm.get('budgetLines')['controls'][i].controls.amount.touched , 
                                                  error : 'Amount is required.' }]">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                      
                            <button class=" remove-icon" type="button" [id]="'budget_remove_' + i"
                              (click)="removeBudgetLineClick(i)">
                              <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                          </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                  </ng-container>

                  <ng-container>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <button class=" btn_create" type="button" id="budget_add_line" (click)="addBudgetLineClick()">
                          <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <!--End Budget Lines-->
        </div>
      </div>

      <mat-divider class="mt-10"></mat-divider>

      <div class="kt-portlet__foot ">
        <div class="kt-form__actions kt-form__actions">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button type="reset" class="mr-3 btn_white" mat-raised-button id="budget_reset" (click)="reset()">Reset</button>
              <button class="sub___btn " mat-raised-button type="submit" id="budget_submit"
                (click)="logValidationErrors(budgetForm, formErrors, validationMessages)">Submit</button>
            </div>
            </div>
          </div>
        </div>
    </form>
    <!--end::Form-->
  </kt-portlet>
</div>















