<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header"> {{title}}
          <span (click)="onCloseDialog()" class="dialog-cross" id="asset_close"><i
            class="fa fa-times text-end"></i></span>
        </h3>
      </div>
    </div>
  </div>


  <!--begin::Form-->
  <form #formDirective="ngForm" (ngSubmit)="onSubmit()" [formGroup]="assetForm"
        class="kt-form kt-form--label-align-right">
    <div class="kt-portlet__body">
      <div class="kt-form__section kt-form__section--first">
        <div class="col-md-12 col-sm-12 col-lg-12 ps-4 pe-4">

          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Acquisition Date:</label>
                <kt-date-input
                  (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                  [errorMessage]="formErrors.dateofAcquisition"
                  formControlName="dateofAcquisition"
                  id="asset_AcquisitionDate"
                  matFormFieldClass="full-width"
                  placeholder="Acquisition Date">
                </kt-date-input>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-md-6 my-auto">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle (change)="onChangeDepApplicability($event)"
                                    formControlName="depreciationApplicability"
                                    id="depreciationApplicability_active">Depreciation Applicability
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div [ngClass]="((this.isQuantity) ? 'col-lg-4 col-md-4 col-sm-4' : 'col-lg-6 col-md-6 col-sm-6')"> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Name:</label>
                <kt-input-field
                  (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]"
                  formControlName="name"
                  id="asset_name"
                  placeholder="Enter Name">
                </kt-input-field>
              </div>
            </div>
            <!-- <div [ngClass]="((this.isQuantity) ? 'col-lg-4 col-md-4 col-sm-4' : 'col-lg-6 col-md-6 col-sm-6')"> -->
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Cost:</label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input
                      (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)"
                      (change)="getCost($event)"
                      (keyup)="getCost($event)"
                      formControlName="cost"
                      id="asset_purchasePrice"
                      matInput
                      placeholder="Enter Purchase Price"
                      type="number">
                    <mat-error *ngIf="formErrors.cost">
                      <strong>{{formErrors.cost}}</strong>
                    </mat-error>
                    <mat-hint *ngIf="this.perProductCost" align="end">Cost Per
                      Product {{this.perProductCost | number : '1.2-2'}}</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            <!-- <div *ngIf="this.isQuantity"
                 [ngClass]="((this.isQuantity) ? 'col-lg-4 col-md-4 col-sm-4' : 'col-lg-6 col-md-6 col-sm-6')">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Quantity:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)"
                    (change)="getCost($event)"
                    (keyup)="getCost($event)"
                    formControlName="quantity"
                    id="asset_quantity"
                    matInput
                    placeholder="Enter Quantity"
                    type="number">
                  <mat-error *ngIf="formErrors.quantity">
                    <strong>{{formErrors.quantity}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Salvage Value:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input (blur)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                         formControlName="salvageValue"
                         id="asset_salvageValue"
                         matInput
                         placeholder="Enter Salvage Value"
                         type="number">
                  <mat-hint *ngIf="!formErrors.salvageValue" align="end">Optional</mat-hint>
                  <mat-error *ngIf="formErrors.salvageValue">
                    <strong>{{formErrors.salvageValue}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">products:</label>
                <kt-simple-dropdown
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.productId"
                  [optionList]="ngxsService.products$"
                  formControlName="productId"
                  id="asset_product"
                  matFormFieldClass="full-width"
                  placeholder="Select Product"
                  propertyName="productName"
                  propertyValue="id">
                </kt-simple-dropdown>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Store:</label>
                <kt-simple-dropdown
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.warehouseId"
                  [optionList]="ngxsService.warehouses$"
                  formControlName="warehouseId"
                  id="asset_store"
                  matFormFieldClass="full-width"
                  placeholder="Select Store"
                  propertyName="name"
                  propertyValue="id">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>


          <div *ngIf="depApplicabilityToggle">
            <div class="row">
              <div [ngClass]="((this.isModelType) ? 'col-lg-4 col-sm-4 col-md-4' : 'col-lg-6 col-md-6 col-sm-6')">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Depreciation Model:</label>
                  <kt-simple-dropdown
                    (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                    (selectionChange)="getDepreciationModel($event.value)"
                    [errorMessage]="formErrors.depreciationModelId"
                    [optionList]="ngxsService.depreciationModels$"
                    formControlName="depreciationModelId"
                    id="asset_model"
                    matFormFieldClass="full-width"
                    placeholder="Select Depreciation Model"
                    propertyName="modelName"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>

              <div [ngClass]="((this.isModelType) ? 'col-lg-4 col-sm-4 col-md-4' : 'col-lg-6 col-md-6 col-sm-6')">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Useful Life (Months):</label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input
                      (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)"
                      formControlName="useFullLife"
                      id="asset_useFullLife"
                      matInput
                      placeholder="Enter Useful Life">
                    <mat-error *ngIf="formErrors.useFullLife">
                      <strong>{{formErrors.useFullLife}}</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="isModelType" class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">DecLining Rate:</label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input
                      (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)"
                      formControlName="decLiningRate"
                      id="asset_decLiningRate"
                      matInput
                      placeholder="Enter DecLining Rate"
                      type="number">
                    <mat-error *ngIf="formErrors.decLiningRate">
                      <strong>{{formErrors.decLiningRate}}</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Model Type</label>
                  <kt-simple-dropdown
                    (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                    (selectionChange)="getModelType($event.value)"
                    [errorMessage]="formErrors.accumulatedDepreciationId"
                    [optionList]="method"
                    formControlName="modelType"
                    id="id"
                    matFormFieldClass="full-width"
                    placeholder="Select Model Type"
                    propertyName="name"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Depreciation Exp. Account</label>
                  <kt-simple-dropdown
                    (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.depreciationExpenseId"
                    [optionList]="ngxsService.otherAccounts$"
                    formControlName="depreciationExpenseId"
                    id="id"
                    matFormFieldClass="full-width"
                    placeholder="Select Depreciation Exp Account"
                    propertyName="editableName"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Accumulated Dep Account</label>
                  <kt-simple-dropdown
                    (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.accumulatedDepreciationId"
                    [optionList]="ngxsService.assetAccount$"
                    formControlName="accumulatedDepreciationId"
                    id="id"
                    matFormFieldClass="full-width"
                    placeholder="Select Accumulated Dep Account"
                    propertyName="editableName"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Asset Account</label>
                  <kt-simple-dropdown
                    (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                    [errorMessage]="formErrors.assetAccountId"
                    [optionList]="ngxsService.assetAccount$"
                    formControlName="assetAccountId"
                    id="id"
                    matFormFieldClass="full-width"
                    placeholder="Select Asset Account"
                    propertyName="editableName"
                    propertyValue="id">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <div apperence="outline" class="full-width">
                    <mat-slide-toggle formControlName="prorataBasis"
                                      id="asset_prorataBasis">Prorata Basis
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <div apperence="outline" class="full-width">
                    <mat-slide-toggle formControlName="isActive"
                                      id="asset_isActive">Active
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <mat-divider class="mt-10"></mat-divider>

          <div class="kt-portlet__foot p-5">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div *ngIf="showButtons" class="col-lg-12 text-end">
                  <button 
                    (click)="reset()" 
                    *ngIf="this.resetBtn"
                    class="me-2 app-reset-btn"
                    id="asset_reset"
                    mat-raised-button
                    type="button">
                  <i class="fas fa-undo"></i> Reset
                  </button>
                  <button class="me-2 app-save-btn" type="submit" id="asset_item_save" mat-raised-button
                  (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i>Save</button>
                  <button
                    (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages); isSubmit(1)"
                    class="app-default-btn " id="asset_submit" mat-raised-button
                    type="submit">
                    <i class="far fa-save"></i> Submit
                  </button>
                  <!-- <button class="app-default-btn" mat-raised-button type="submit" id="depreciation_submit"
                  (click)="logValidationErrors(this.depreciationForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit
                  </button>&nbsp; -->
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Name:</label>
                <kt-input-field id="asset_name" formControlName="name" placeholder="Enter Name"
                  (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Acquisition Date:</label>
                <kt-date-input formControlName="acquisitionDate" placeholder="Acquisition Date"
                  matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                  [errorMessage]="formErrors.acquisitionDate">
                </kt-date-input>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Accounting Date:</label>
                <kt-date-input formControlName="accountingDate" placeholder="Accounting Date"
                  matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                  [errorMessage]="formErrors.accountingDate">
                </kt-date-input>
              </div>
            </div>


          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Purchase Price:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input (keyup)="calculateDepValue()" matInput formControlName="purchasePrice"
                    placeholder="Enter Purchase Price" id="asset_cost" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.purchasePrice">
                    <strong>{{formErrors.purchasePrice}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Salvage Value:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput (keyup)="calculateDepValue()" formControlName="salvageValue"
                    placeholder="Enter Salvage Value" id="asset_salvage" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.salvageValue">
                    <strong>{{formErrors.salvageValue}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Model:</label>
                <kt-simple-dropdown id="asset_model" formControlName="depreciationModelId"
                  matFormFieldClass="full-width" (selectionChange)="getDepreciationModel($event.value)"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="name" propertyValue="id" [errorMessage]="formErrors.depreciationModelId"
                  placeholder="Select Model">
                </kt-simple-dropdown>
                <kt-simple-dropdown
                        id="asset_model"
                        formControlName="depreciationModelId"
                        matFormFieldClass="full-width"
                        (selectionChange)="getDepreciationModel($event.value)"
                        (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                        propertyName="name"
                        propertyValue="id"
                        [errorMessage]="formErrors.depreciationModelId"
                        [optionList]="ngxsService.depreciationModels$"
                        placeholder="Select Model">
                      </kt-simple-dropdown>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Method:</label>
                <kt-simple-dropdown id="asset_method" formControlName="depreciationMethod"
                  matFormFieldClass="full-width" propertyName="name" propertyValue="id" [optionList]="method"
                  placeholder="Select Method"
                  (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.depreciationMethod , error : formErrors.depreciationMethod }]">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Useful Life:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput formControlName="usefulLife" placeholder="Enter Useful Life" id="asset_usefulLife"
                    type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.usefulLife">
                    <strong>{{formErrors.usefulLife}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Accumulated Depreciation:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput formControlName="accumulatedDepreciation" placeholder="Enter Accumulated Depreciation"
                    id="asset_depreciation" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.accumulatedDepreciation">
                    <strong>{{formErrors.accumulatedDepreciation}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Asset Category:</label>
                <kt-simple-dropdown
                      id="asset_category"
                      formControlName="categoryId"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                      propertyName="name"
                      propertyValue="id"
                      [errorMessage]="formErrors.categoryId"
                      [optionList]="ngxsService.categories$"
                      placeholder="Select Category">
                    </kt-simple-dropdown>
                <kt-simple-dropdown id="asset_category" formControlName="categoryId" matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="name" propertyValue="id" [errorMessage]="formErrors.categoryId"
                  placeholder="Select Category">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Corresponding Account:</label>
                <kt-simple-dropdown
                      id="asset_account"
                      formControlName="correspondingAccountId"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                      propertyName="name"
                      propertyValue="id"
                      [errorMessage]="formErrors.correspondingAccountId"
                      [optionList]="(data.wip) ? ngxsService.assetAccount$ : ngxsService.accountsLevel4$"
                      placeholder="Select Account">
                    </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Depreciable Value:</label>
                      <mat-form-field appearance="outline" class="full-width">
                        <input matInput readonly formControlName="depreciableValue" placeholder="Enter Depreciable Value"
                             id="asset_depreciable" type="number" (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                        <mat-error *ngIf="formErrors.depreciableValue">
                          <strong>{{formErrors.depreciableValue}}</strong>
                        </mat-error>
                       <mat-hint align="end">Optional</mat-hint>
                      </mat-form-field>
                  </div>
                </div>
          </div> -->


          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_prorata" [checked]="isActiveChecked"
                    formControlName="prorataBasis">Prorata Basis</mat-slide-toggle>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_active" [checked]="isActiveChecked"
                    formControlName="isActive">Active</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <mat-divider class="mt-10"></mat-divider> -->

    <!-- <div class="kt-portlet__foot p-5">
      <div class="kt-form__actions kt-form__actions">
        <div class="row">
          <div *ngIf="showButtons" class="col-lg-12 text-end">
            <button class="me-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button id="asset_reset"><i
                class="fas fa-undo"></i> Reset</button>
            <button class="app-default-btn  me-3" mat-raised-button type="submit" id="asset_item_save"
                  (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">Save</button>
            <button class="app-default-btn " type="submit" id="asset_submit"
              (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">
              <i class="far fa-save"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </form>
</div>
