<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header"> {{title}}
          <span (click)="onCloseDialog()" id="asset_close" class="dialog-cross"><i
              class="fa fa-times float-right"></i></span>
        </h3>
      </div>
    </div>
  </div>


  <!--begin::Form-->
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right"
    #formDirective="ngForm">
    <div class="kt-portlet__body">
      <div class="kt-form__section kt-form__section--first">
        <div class="col-md-12 col-sm-12 col-lg-12">

          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Acquisition Date:</label>
                <kt-date-input 
                id="asset_AcquisitionDate" 
                formControlName="dateofAcquisition" 
                placeholder="Acquisition Date"
                matFormFieldClass="full-width"
                (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                [errorMessage]="formErrors.dateofAcquisition">
                </kt-date-input>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Name:</label>
                <kt-input-field 
                id="asset_name" 
                formControlName="name" 
                placeholder="Enter Name"
                (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                </kt-input-field>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Purchase Price:</label>
                <!-- <mat-form-field appearance="outline" class="full-width">
                  <input 
                  (keyup)="calculateDepValue()" 
                  matInput 
                  formControlName="purchaseCost"
                  placeholder="Enter Purchase Price" 
                  id="asset_purchasePrice" 
                  type="number"
                  (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.purchaseCost">
                  <strong>{{formErrors.purchaseCost}}</strong>
                  </mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline" class="full-width">
                  <input 
                  matInput 
                  formControlName="purchaseCost"
                  placeholder="Enter Purchase Price" 
                  id="asset_purchasePrice" 
                  type="number"
                  (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.purchaseCost">
                  <strong>{{formErrors.purchaseCost}}</strong>
                  </mat-error>
                </mat-form-field>
                
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Salvage Value:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput 
                  formControlName="salvageValue"
                  placeholder="Enter Salvage Value" 
                  id="asset_salvageValue" 
                  type="number">
                  <!-- <mat-error *ngIf="formErrors.salvageValue">
                    <strong>{{formErrors.salvageValue}}</strong>
                  </mat-error> -->
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Category:</label>
                <kt-simple-dropdown 
                      id="asset_category" 
                      formControlName="categoryId" 
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                      propertyName="name" 
                      propertyValue="id" 
                      [errorMessage]="formErrors.categoryId"
                      [optionList]="ngxsService.categoriesAsset$"
                      placeholder="Select Category">
                    </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-md-6 my-auto">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width" >
                  <mat-slide-toggle id="depreciationApplicability_active" 
                    formControlName="depreciationApplicability" (change)="onChangeDepApplicability($event)">Depreciation Applicability</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="depApplicabilityToggle">
            <div class="row">
            <div [ngClass]="((this.modelType) ? 'col-lg-4 col-sm-4 col-md-4' : 'col-lg-6 col-md-6 col-sm-6')">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Model:</label>
                <kt-simple-dropdown 
                  id="asset_model" 
                  formControlName="depreciationId"
                  matFormFieldClass="full-width" 
                  (selectionChange)="getDepreciationModel($event.value)"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="modelName" 
                  propertyValue="id" 
                  [errorMessage]="formErrors.depreciationId"
                  [optionList]="ngxsService.depreciationModels$"
                  placeholder="Select Model">
                </kt-simple-dropdown>
              </div>
            </div>

            <div [ngClass]="((this.modelType) ? 'col-lg-4 col-sm-4 col-md-4' : 'col-lg-6 col-md-6 col-sm-6')">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Useful Life:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input 
                  matInput 
                  formControlName="useFullLife" 
                  placeholder="Enter Useful Life" 
                  id="asset_useFullLife"
                  type="number"
                  (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.useFullLife">
                    <strong>{{formErrors.useFullLife}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="modelType">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">DecLining Rate:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input 
                  matInput 
                  formControlName="decLiningRate" 
                  placeholder="Enter DecLiningRate Life" 
                  id="asset_decLiningRate"
                  type="number"
                  (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.useFullLife">
                    <strong>{{formErrors.useFullLife}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

          </div>


          <div class="row">         
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Model Type</label>
                <kt-simple-dropdown 
                  id="id"
                  propertyName="name" 
                  formControlName="modelType"
                  matFormFieldClass="full-width" 
                  (selectionChange)="getModelType($event.value)"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyValue="id" 
                  [errorMessage]="formErrors.accumulatedDepreciationId"
                  [optionList]="method"
                  placeholder="Select Model">
                </kt-simple-dropdown>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Exp. A/C</label>
                <kt-simple-dropdown 
                  id="id"
                  propertyName="editableName" 
                  formControlName="depreciationExpenseId"
                  matFormFieldClass="full-width" 
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyValue="id" 
                  [errorMessage]="formErrors.accumulatedDepreciationId"
                  [optionList]="ngxsService.otherAccounts$"
                  placeholder="Select Depreciation Exp A/C">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Accumulated Dep A/C</label>
                <kt-simple-dropdown 
                  id="id"
                  formControlName="accumulatedDepreciationId"
                  matFormFieldClass="full-width" 
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="editableName" 
                  propertyValue="id" 
                  [errorMessage]="formErrors.accumulatedDepreciationId"
                  [optionList]="ngxsService.otherAccounts$"
                  placeholder="Select Accumulated Dep A/C">
                </kt-simple-dropdown>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Asset A/C</label>
                <kt-simple-dropdown 
                  id="id"
                  formControlName="assetAccountId"
                  matFormFieldClass="full-width" 
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="editableName" 
                  propertyValue="id" 
                  [errorMessage]="formErrors.assetAccountId"
                  [optionList]="ngxsService.assetAccount$"
                  placeholder="Select Asset A/C">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_prorataBasis"
                    formControlName="prorataBasis">Prorata Basis</mat-slide-toggle>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_active"
                    formControlName="active">Active</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>

          </div>
          

          <mat-divider class="mt-10"></mat-divider>

          <div class="kt-portlet__foot p-5">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div *ngIf="showButtons" class="col-lg-12 text-right">
                  <button class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button
                    id="asset_reset"><i class="fas fa-undo"></i> Reset</button>
                  <!-- <button class="app-default-btn  mr-3" mat-raised-button type="submit" id="asset_item_save"
                  (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">Save</button> -->
                  <button class="app-default-btn " mat-raised-button type="submit" id="asset_submit"
                    (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">
                    <i class="far fa-save"></i> Submit
                  </button>
                  <!-- <button class="app-default-btn" mat-raised-button type="submit" id="depreciation_submit"
                  (click)="logValidationErrors(this.depreciationForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit
                  </button>&nbsp; -->
                </div>
              </div>
            </div>
          </div>











          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Name:</label>
                <kt-input-field id="asset_name" formControlName="name" placeholder="Enter Name"
                  (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Acquisition Date:</label>
                <kt-date-input formControlName="acquisitionDate" placeholder="Acquisition Date"
                  matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                  [errorMessage]="formErrors.acquisitionDate">
                </kt-date-input>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Accounting Date:</label>
                <kt-date-input formControlName="accountingDate" placeholder="Accounting Date"
                  matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(this.assetForm, formErrors, validationMessages)"
                  [errorMessage]="formErrors.accountingDate">
                </kt-date-input>
              </div>
            </div>


          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Purchase Price:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input (keyup)="calculateDepValue()" matInput formControlName="purchasePrice"
                    placeholder="Enter Purchase Price" id="asset_cost" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.purchasePrice">
                    <strong>{{formErrors.purchasePrice}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Salvage Value:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput (keyup)="calculateDepValue()" formControlName="salvageValue"
                    placeholder="Enter Salvage Value" id="asset_salvage" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.salvageValue">
                    <strong>{{formErrors.salvageValue}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Model:</label>
                <kt-simple-dropdown id="asset_model" formControlName="depreciationModelId"
                  matFormFieldClass="full-width" (selectionChange)="getDepreciationModel($event.value)"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="name" propertyValue="id" [errorMessage]="formErrors.depreciationModelId"
                  placeholder="Select Model">
                </kt-simple-dropdown>
                <kt-simple-dropdown 
                        id="asset_model" 
                        formControlName="depreciationModelId" 
                        matFormFieldClass="full-width"
                        (selectionChange)="getDepreciationModel($event.value)"
                        (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                        propertyName="name" 
                        propertyValue="id" 
                        [errorMessage]="formErrors.depreciationModelId"
                        [optionList]="ngxsService.depreciationModels$"
                        placeholder="Select Model">
                      </kt-simple-dropdown>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Depreciation Method:</label>
                <kt-simple-dropdown id="asset_method" formControlName="depreciationMethod"
                  matFormFieldClass="full-width" propertyName="name" propertyValue="id" [optionList]="method"
                  placeholder="Select Method"
                  (blurEvent)="logValidationErrors(assetForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.depreciationMethod , error : formErrors.depreciationMethod }]">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Useful Life:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput formControlName="usefulLife" placeholder="Enter Useful Life" id="asset_usefulLife"
                    type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.usefulLife">
                    <strong>{{formErrors.usefulLife}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Accumulated Depreciation:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput formControlName="accumulatedDepreciation" placeholder="Enter Accumulated Depreciation"
                    id="asset_depreciation" type="number"
                    (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                  <mat-error *ngIf="formErrors.accumulatedDepreciation">
                    <strong>{{formErrors.accumulatedDepreciation}}</strong>
                  </mat-error>
                  <mat-hint align="end">Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Asset Category:</label>
                <kt-simple-dropdown 
                      id="asset_category" 
                      formControlName="categoryId" 
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                      propertyName="name" 
                      propertyValue="id" 
                      [errorMessage]="formErrors.categoryId"
                      [optionList]="ngxsService.categories$"
                      placeholder="Select Category">
                    </kt-simple-dropdown>
                <kt-simple-dropdown id="asset_category" formControlName="categoryId" matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                  propertyName="name" propertyValue="id" [errorMessage]="formErrors.categoryId"
                  placeholder="Select Category">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Corresponding Account:</label>
                <kt-simple-dropdown 
                      id="asset_account" 
                      formControlName="correspondingAccountId" 
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)"
                      propertyName="name" 
                      propertyValue="id" 
                      [errorMessage]="formErrors.correspondingAccountId"
                      [optionList]="(data.wip) ? ngxsService.assetAccount$ : ngxsService.accountsLevel4$"
                      placeholder="Select Account">
                    </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Depreciable Value:</label>
                      <mat-form-field appearance="outline" class="full-width">
                        <input matInput readonly formControlName="depreciableValue" placeholder="Enter Depreciable Value" 
                             id="asset_depreciable" type="number" (blur)="logValidationErrors(this.assetForm, this.formErrors, this.validationMessages)">
                        <mat-error *ngIf="formErrors.depreciableValue">
                          <strong>{{formErrors.depreciableValue}}</strong>
                        </mat-error>
                       <mat-hint align="end">Optional</mat-hint> 
                      </mat-form-field>
                  </div>
                </div> 
          </div> -->


          <!-- <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_prorata" [checked]="isActiveChecked"
                    formControlName="prorataBasis">Prorata Basis</mat-slide-toggle>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="form-group kt-form__group mb-0">
                <div apperence="outline" class="full-width">
                  <mat-slide-toggle id="asset_active" [checked]="isActiveChecked"
                    formControlName="isActive">Active</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <mat-divider class="mt-10"></mat-divider> -->

    <!-- <div class="kt-portlet__foot p-5">
      <div class="kt-form__actions kt-form__actions">
        <div class="row">
          <div *ngIf="showButtons" class="col-lg-12 text-right">
            <button class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button id="asset_reset"><i
                class="fas fa-undo"></i> Reset</button>
            <button class="app-default-btn  mr-3" mat-raised-button type="submit" id="asset_item_save"
                  (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">Save</button>
            <button class="app-default-btn " type="submit" id="asset_submit"
              (click)="logValidationErrors(assetForm, this.formErrors, this.validationMessages)">
              <i class="far fa-save"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </form>
</div>