
<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
          <h3 class="kt-portlet__head-text modal-header">
            File Upload  <span mat-dialog-close><i
            class="fa fa-times float-right icon-cross"></i></span>
          </h3>
        </div>
      </div>
    </div>
    <!-- form start -->
    <div class="kt-portlet__body p-10">
      <div class="kt-form__section kt-form__section--first">
        <!-- first row starts -->
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div  class="row mt-1 mb-0" id="upload">
            <div class="col-lg-12 col-12" ktDragDrop (fileDropped)="uploadFile($event)">
              <label class="et_pb_contact_form_label" for="et_pb_contact_brand_file_request_0">Enter</label>
              <input #uploadFileInput (change)="uploadFile($event.target?.files)" accept=".txt, .doc, .docx, .pdf, .xls, .xlsx, .PNG, .JPEG, .JPG"
                class="file-upload" id="et_pb_contact_brand_file_request_0" type="file">
            </div>
            <div  class="col-lg-12 col-12">
              <div *ngIf="file" class="selected-file">
                <p class="mb-0">
                  <span>Selected File : {{file.name || 'File Name'}}</span>
                  <span ><i
                    (click)="reset()" mat-raised-button class="fa fa-times float-right" style="color: #721c24;margin-top: 3px;cursor: pointer;"></i></span>
                </p>
              </div>
            </div>

            <div  class="col-lg-12 col-12">
              <div *ngIf="fileError" class="file-error">
                <span>
                  <b>Error: </b> {{fileError}}
                </span>
              </div>
            </div>
  
            <div class="col-md-12 col-12">
              <div *ngFor="let file of fileList">
              <a class="mat-card">
                  <header>
                      <p class="mb-0" style="width: 100%;float: left;"><span class="float-left">{{file.userName || ''}}</span> <span class="float-right mr-0">{{file.createdAt || ''}}</span></p>
  
                      <h3> <img src="../../../../../assets/media//logos//download_icon.png" width="26px" alt=""> {{file.name || ''}} <span class="float-right"><a (click)="download(file)" class="download-btn">Download</a></span></h3>
                  </header>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <mat-divider></mat-divider>
    <div class="kt-portlet__foot p-6">
      <div class="kt-form__actions ">
        <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-8 col-9">
            <div class="float-right">
              <button  (click)="onSubmit()" class="app-default-btn" mat-raised-button  type="submit"><i class="fa fa-paperclip"></i> Attach </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- form ends -->
  </div>
  
  
  
  