<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
      id="payment_print"
        printSectionId="main"
        printTitle="Payment"
        ngxPrint
        type="button"
        mat-raised-button
        [useExistingCss]="true"
        class="sub___btn"
        style="margin-bottom: 20px;"><i class="fas fa-print" style="color:#fff;"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div class="row print-formate">
      <div class="bg-white" style="border-bottom: 5px solid #65c18c;">

        <div class="print_header_area"
        style="width: 100%; display: flex; flex-wrap: nowrap; background-color: rgba(101, 193, 140, 0.2);
               padding: 15px; border-bottom: 5px solid #65c18c; border-top-left-radius: 10px; border-top-right-radius: 10px;"
        >
          <div class="print-col-6 p-0">
            <div class="logo_and_title">
              <img src="../../../../../../assets/media/logos/LOGO-EDINFINI-HEADER.png" style="height: 40px;" width="100px" alt="">
              <span class="top-heading" style="color: #65c18c ;">{{formName}}</span>
            </div>
            
          </div>
          <div class="print-col-5 ml-auto">
            <div class="id_num">
              <div class="print-box">
                <h4 class="printout0-date" style="font-size: 12px; letter-spacing: 3px; font-weight: 600; color: #65c18c; margin-top: 10px;">Payment No: <span style="font-weight: 400;" class="float-right">{{paymentMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box">
                <h4 class="printout0-date" style="font-size: 12px; letter-spacing: 3px; font-weight: 600; color: #65c18c; margin-top: 10px;">Payment Date: <span style="font-weight: 400;" class="float-right">{{paymentMaster?.paymentDate | date: 'MMM d, y'}}</span></h4>
              </div>
            </div>
            
          </div>
        </div>

        
        <div class="print_body_area">

          <div class="print-col-5" style="margin-top: 3%;">
            
            <div class="print-box" >
              <h4 style="font-size: 22px;font-weight: 600;color: #65c18c">{{paymentMaster?.businessPartnerName}} </h4>
              <!-- <p style="font-size: 16px;font-weight: 600;color: #65c18c;margin-bottom: 2px;"></p> -->
              <p style="font-size: 15px;font-weight: 400;color: #65c18c">24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
            </div>
          </div>

          <div class="print-col-12" style="margin-top: 3%;">
            <div class="table-responsive">
              <table class="table " style="background-color: #fff; color: #65c18c;">
                <thead class="thead-dark_color">
                  <tr style="background-color: rgba(101, 193, 140, 0.2)">
                    <th style="background-color: rgba(101, 193, 140, 0.2) ">Account</th>
                    <th style="background-color: rgba(101, 193, 140, 0.2) ">Description</th>
                    <th style="background-color: rgba(101, 193, 140, 0.2) ; width: 26%;">Campus</th>
                    <th class="text-center" style="background-color: rgba(101, 193, 140, 0.2) ; width: 18%;">Gross Payment</th>
                    
                    
                  </tr>
                  <tr>
                    <td style="font-weight: 500;border-bottom: 1px solid #65c18c;">{{paymentMaster?.accountName}}</td>
                    <td  style="font-weight: 500;border-bottom: 1px solid #65c18c;" class="description text-left">{{paymentMaster?.description}}</td>
                    <td style="font-weight: 500;border-bottom: 1px solid #65c18c;"> {{paymentMaster?.campusName}}</td>
                    <td class="text-right" style="font-weight: 500;border-bottom: 1px solid #65c18c;"><b>{{paymentMaster?.grossPayment.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</b></td>
                  </tr>
                  
                  
                </thead>
              </table>
            </div>
          </div>


          <div class="print-col-5  ml-auto" style=" margin-top: 2%;">

            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #65c18c;margin-top: 10px;">Sales Tax:
                <span class="float-right" style="font-weight: 500;">{{paymentMaster?.salesTax.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #65c18c;margin-top: 10px;">Income Tax:
                <span class="float-right" style="font-weight: 500;">{{paymentMaster?.incomeTax.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #65c18c;margin-top: 10px;">SRB Tax:
                <span class="float-right" style="font-weight: 500;">{{paymentMaster?.srbTax?.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #65c18c;margin-top: 10px;border-top: 2px solid #65c18c;
              padding-top: 10px;">Net Payment: 
                <span class="float-right" style="font-weight: 500;">{{paymentMaster?.netPayment?.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
              </h4>
            </div>
          </div>


          <div class="print-col-12" style=" margin-top: 2%;">
            
            <div class="print-box">
              <p style="font-size: 18px;
            font-weight: 500; color: #65c18c;">Terms and conditions:</p>
            </div>
            <div class="print-box">
              <h4 style="font-size: 14px;line-height:18px;font-weight: 100; color: #65c18c;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </h4>
            </div>

            <div class="print-box" style="margin-top: 25px;">
              <p style="
              font-family: inherit; font-weight: bold;
              font-size: 22px; color: #65c18c;">Thankyou for your Business</p>
            </div>
            
          </div>

          

          <div class="print-col-4" style=" margin-top: 8%;color: #65c18c;">
            _________________________________
            <p class="text-center">Authorised Sign</p>
          </div>
          
        </div>


      </div>
    </div>
  </div>
</div>