<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header">
                    {{title}} <span (click)="onCloseDialog()" id="role_close" class="dialog-cross"><i
                            class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>

    <form [formGroup]="programForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right"
        #formDirective="ngForm">

        <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <mat-tab-group [(selectedIndex)]="currentIndex">
                    <mat-tab label="Program">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="row mt-1 mb-0">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group kt-form__group mb-0">
                                        <label class="col-form-label pt-0">Program Name:</label>
                                        <kt-input-field id="program_name" formControlName="name"
                                            placeholder="Enter Program Name"
                                            (blurEvent)="logValidationErrors(programForm, formErrors, validationMessages)"
                                            [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                                        </kt-input-field>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group kt-form__group mb-0">
                                        <label class="col-form-label pt-0">Department:</label>
                                        <kt-simple-dropdown id="program_department" placeholder="Select Store"
                                            propertyValue="id" propertyName="name" formControlName="department"
                                            matFormFieldClass="full-width" [optionList]=""
                                            (blurEvent)="logValidationErrors(programForm, formErrors, validationMessages)">
                                        </kt-simple-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Assign Semester" class="role__list">
                        <div class="row mx-auto scroll-view-cus">
                            <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
                                <div class="form-group kt-form__group mb-0">
                                    <label class="col-form-label pt-0">Select Semester:</label>
                                    <kt-simple-dropdown id="program_semester" placeholder="Select Semester"
                                        propertyValue="id" propertyName="name" formControlName="semester"
                                        matFormFieldClass="full-width" [optionList]="semester"
                                        (selectionChange)="getSemesters($event)"
                                        (blurEvent)="logValidationErrors(programForm, formErrors, validationMessages)"
                                        [errorMessage]="'Semester is required.'">
                                    </kt-simple-dropdown>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Assign Course" class="role__list">
                        <div class="row mx-auto scroll-view-cus">
                            <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-3">
                                <ng-container formArrayName="cources">
                                    <div class="table-responsive">
                                        <mat-table #table [dataSource]="programForm.get('cources')['controls']">
                                            <!-- Item Column -->
                                            <ng-container matColumnDef="courcesList">
                                                <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element">
                                                    <div style="display: block; width: 100%;">
                                                        <div class="col-lg-12">
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>
                                                                        Semester {{i +1}}
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <div class="row mx-auto">
                                                                    <ng-container>
                                                                        <div class="col-md-12 search_sticky">
                                                                            <div
                                                                                class="p-1 input_style  shadow-sm mb-4">
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                        id="user_permissions_search"
                                                                                        [(ngModel)]="searchText"
                                                                                        [ngModelOptions]="{standalone: true}"
                                                                                        placeholder="Search Roles..."
                                                                                        aria-describedby="button-addon1"
                                                                                        class="form-control border-0">
                                                                                        <div class="input-group-append">
                                                                                        <button id="button-addon1"
                                                                                        type="submit"
                                                                                        class="btn btn-link text-primary"
                                                                                        disabled><i
                                                                                        class="fa fa-search"></i></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container
                                                                        *ngFor="let course of allCources[i].courses | filter:searchText ; let y = index">
                                                                        <!-- {{[i].course.selected}} -->
                                                                        <div class="col-md-4 mb-7">
                                                                            <div class="Border-courses">
                                                                                <mat-checkbox
                                                                                    [id]="'user_' + course.coursesName"
                                                                                    [checked]="course.selected"
                                                                                    (change)="onRoleChange(i, $event , y)">
                                                                                    {{course.coursesName}}
                                                                                </mat-checkbox>
                                                                            </div>

                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>

                                                </mat-cell>
                                            </ng-container>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>


        <mat-divider></mat-divider>
        <div class="kt-portlet__foot p-5">
            <!-- form action starts -->
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-8 col-9">
                        <div *ngIf="showButtons" class="float-right">
                            <button class="app-reset-btn mr-2 " id="role_reset" (click)="reset()" mat-raised-button
                                type="button"><i class="fas fa-undo"></i> Reset </button>
                            <button class="app-default-btn" mat-raised-button type="submit" id="role_submit"
                                (click)="logValidationErrors(this.roleForm, this.formErrors, this.validationMessages)">
                                <i class="far fa-save"></i> Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>