.dialog-heading
{
    margin-bottom: 0px !important;
    padding: 10px 10px 10px 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    background-image: linear-gradient(135deg, #1a6b85 50%, #f2f2f2 0%);
    border-bottom: 2px solid #eee;
    height: 60px;
    align-items: center;
    display: flex;
}
.dialog-img
{
    height: 70px;
    background-color: #dbebf9;
    padding: 6px 6px;
    border-radius: 80%;
}

.mat-mdc-dialog-content
{
    padding: 20px;
}

.mat-mdc-dialog-actions
{
    background-color: #f2f2f2;
    padding: 12px 20px;
}