<h1 mat-dialog-title class="mb-0 dialog-heading" >Disposal Conformation</h1>
  <mat-dialog-content class="mx-auto text-center">
    <div class="mx-auto"><img src="../../../../../assets/media/logos/warning.png" class="mb-4 dialog-img" /></div>
    <div class="mx-auto" style="    font-size: 16px;color: #293055;">
      Are you sure you want to dispose this product?
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn_white"  mat-raised-button (click)="onClickConfirm()">Approve</button>
    <button class="btn btn-danger" mat-raised-button (click)="onClickCancel()" style="border-radius: 15px/60% !important;">Reject</button>
  </mat-dialog-actions>

