<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'" [sticky]="false" [title]="'Goods Received Note Detail'">
      <ng-container class="" ktPortletTools>
        <!-- <h4 class="overall_statuses  {{paymentMaster?.status}}">Status:  {{paymentMaster?.status}}</h4> -->
        <div class="ribbon-target " ><span class="ribbon-inner {{grnMaster?.status}}"></span> {{grnMaster?.status}}</div>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">
        <div class="row">
          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >
                <button *ngIf="(grnMaster?.state === docStatus.Draft || grnMaster?.state === docStatus.Rejected) && (permission.isGranted(permissions.GRN_EDIT))" id="grn_edit"
                  [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE('edit',grnMaster?.id)"
                  [queryParams]="{q: grnMaster?.id, 'isGRN': true}" type="button" class="btn_public mr-2">
                  <i class="fa fa-edit" ></i>  Edit
                </button>

                <button *ngIf="(grnMaster?.state === docStatus.Unpaid) && !(grnMaster?.billReference) && (permission.isGranted(permissions.BILL_CREATE))" id="grn_edit"
                  [routerLink]="'/'+ BILL.ID_BASED_ROUTE('edit',grnMaster?.id)"
                  [queryParams]="{q: grnMaster?.id, 'isGRN': true}" type="button" class="btn_public mr-2">
                  <i class="fa fa-edit" ></i> Bill
                </button>

                <button *ngIf="(grnMaster?.state === docStatus.Unpaid || grnMaster?.state === docStatus.Partial) && (permission.isGranted(permissions.GRN_CREATE))" id="grn_edit"
                  [routerLink]="'/'+ GOODS_RETURN_NOTE.ID_BASED_ROUTE('edit',grnMaster?.id)"
                  [queryParams]="{q: grnMaster?.id, 'isGRN': true}" type="button" class="btn_public mr-2">
                  <i class="fa fa-edit" ></i> Goods Return Note
                </button>

                <button *ngIf="(permission.isGranted(permissions.GRN_EDIT))" class="btn_public mr-2" 
                  (click)="openFileUploadDialog()" type="button"><i class="fa fa-paperclip" ></i> Attachment
                </button>

                <button [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE ('print',grnMaster?.id)" id="grn_print" type="button"  class="btn_public">
                  <i class="fa fa-print" ></i> Print GRN
                </button>
                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-5 col-lg-5  mt-3">

            <div class="print-box">
                <h4 >Document No: 
                    <span class="float-right" >{{grnMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 >Vendor Name:
                    <span class="float-right" >{{grnMaster?.vendorName}}</span></h4>
            </div>
            <div class="print-box">
              <h4 >GRN Date:
              <span class="float-right" >{{grnMaster?.grnDate | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box">
              <h4 >Campus:
              <span class="float-right" >{{grnMaster?.campusName}}</span></h4>
            </div>
          </div>          
        </div>
  
        <div class="row mt-10">
          <div class="col-md-12 col-12">
              <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;" class="ag-theme-alpine"
                [rowData]="grnLines"
                [columnDefs]="columnDefs" 
                [gridOptions]="gridOptions"
                (firstDataRendered)="onFirstDataRendered($event)">
              </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">

          <div class="col-md-7 col-7"  *ngIf="remarksList.length > 0">
            <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
          </div>

          <div class="col-lg-4 ml-auto">
            <table class="table  small_table_box" >
              <!-- <tr>
                <td class="text-left" style="width: 70%;">Total Before Tax:</td>
                <td class="text-right" >
                  {{valueFormatter(totalBeforeTax || 0)}}</td>
              </tr>
              <tr>
                <td class="text-left">Total Tax:</td>
                <td class="text-right" >
                  {{valueFormatter(totalTax || 0)}}</td>
              </tr>
              <tr style="border-top: 2px solid #65c18c;">
                <th class="text-left">Grand Total:</th>
                <th class="text-right" >
                  {{valueFormatter(total || 0)}}</th>
              </tr> -->

              <tr *ngIf="showReference || grnMaster?.billReference">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title >
                          Reference
                        </mat-panel-title>
                        <!-- <mat-panel-description style="color: #65c18c;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                      font-weight: bold; flex-grow: 0;">
                          {{valueFormatter(paidAmount || 0)}}
                        </mat-panel-description> -->
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                        </tr>
                        <tr *ngIf="grnMaster?.issuanceId">
                          <td><a [routerLink]="('/' + ISSUANCE.ID_BASED_ROUTE('details', grnMaster?.issuanceId))"
                              class="all-text-primary">{{grnMaster?.issuanceDocNo}}</a></td>
                        </tr>
                        <tr *ngIf="grnMaster?.purchaseOrderId">
                          <td><a [routerLink]="('/' + PURCHASE_ORDER.ID_BASED_ROUTE('details', grnMaster?.purchaseOrderId))"
                            class="all-text-primary">{{grnMaster?.poDocNo}}</a></td>
                        </tr>
                        <ng-container *ngIf="grnMaster?.references" >
                          <tr *ngFor="let grtn of grnMaster?.references">
                            <td><a [routerLink]="('/' + GOODS_RETURN_NOTE.ID_BASED_ROUTE('details', grtn?.docId))"
                              class="all-text-primary">{{grtn?.docNo}}</a></td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="grnMaster?.billReference">
                          <td><a [routerLink]="('/' + BILL.ID_BASED_ROUTE('details', grnMaster?.billReference?.docId))"
                            class="all-text-primary">{{grnMaster?.billReference?.docNo}}</a></td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </kt-portlet-body>
  
    <mat-divider class="mt-10"></mat-divider>

      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions kt-form__actions mb-0">
          <div class="row ">
              <div class="col-lg-12 text-right" *ngIf="grnMaster?.isAllowedRole">
                <button (click)="remarksDialog(action.Reject)" id="grn_reject" class="btn btn-outline-danger font-weight-bold mr-2 ">Reject</button>
                <button (click)="remarksDialog(action.Approve)" id="grn_approve" class="btn btn-outline-success font-weight-bold ">Approve</button>
             </div>
          </div>
        </div>
      </div>
  </kt-portlet>
 </div>
