:host {
	height: 100%;
	margin: 0;
}


.my-overlay {
    left: 0 !important;
    top: 0 !important;
   z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: #ffffffed !important;
    visibility: visible !important;
    transition: visibility 0s,  opacity 0.2 linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
     cursor: wait !important;
}

.loader-img{
    left:47% !important;
    top: 37% !important;
    z-index: 98 !important;
    // width: 110px !important;
    height: 100px !important;
    position: fixed !important; 
    visibility: visible !important;
    transition: visibility 0s,  opacity 0.2 linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
}