
  <kt-splash-screen></kt-splash-screen>
  <div *ngIf="showOverlay" class="my-overlay">
    <div>
      <!-- <img src="../assets/media/logos/LOGO-EDINFINI-HEADER.png" style="height: 44px;" width="110px" alt="" class="loader-img"> -->
      <img src="../assets/media/logos/logo-wr.png" style="height: 44px;" width="110px" alt="" class="loader-img">
    </div>
    <div class="spinner-border text-primary " role="status"   id="text">
        <span class="sr-only">Please wait...</span>
    </div>
  </div>
  <router-outlet> </router-outlet>
  
   


