<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
        printSectionId="main"
        id="invoice_print"
        printTitle="Invoice"
        ngxPrint
        type="button"
        [useExistingCss]="true"
        class="app-default-btn" mat-raised-button
        style="margin-bottom: 20px;"><i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div class="row">
      <div class="bg-whitee">

        <div class="print_header_area p-s-1">
          <div class="print-col-6 p-s-1-one">
            <div class="logo_and_title">
              <div class="print-logo"></div>
              <!-- <img src="../../../../../../assets/media/logos/logo-wr.png" style="height: 100px;" alt=""> -->
              <span class="top-heading">INVOICE</span>
            </div>
            
          </div>
          <div class="print-col-5 ml-auto p-s-1-two">
            <div class="id_num">
              <div class="print-box-one">
                <h4>Document No: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.docNo}}</span></h4>
                <p></p>
              </div>
              <div class="print-box-two">
                <h4>Invoice Date: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.invoiceDate | date: 'MMM d, y'}}</span></h4>
              </div>
              <div class="print-box-two">
                <h4>Due Date: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.dueDate| date: 'MMM d, y'}}</span></h4>
              </div>
            </div>
            
          </div>
        </div>

        
        <div class="print_body_area p-s-2">

          <div class="print-col-5 p-s-2-one">
            <div class="print-box-one">
              <h4 class="font-14">Customer Name: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.customerName}}</span></h4>
              <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">NTN: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.incomeTaxId || 'N/A'}}</span></h4>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">STRN: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.salesTaxId || 'N/A'}}</span></h4>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">Bank Name: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.bankName  || 'N/A'}}</span></h4>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">Account Title: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.accountTitle  || 'N/A'}}</span></h4>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">Account Number: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.accountNumber  || 'N/A'}}</span></h4>
            </div>
            <div class="print-box-two">
              <h4 class="font-14">Address: <span class="float-right" style="font-weight: 400;">{{invoiceMaster?.customerAddress  || 'N/A'}}</span></h4>
            </div>
          </div>

          <div class="print-col-12 p-s-2-two">
            <div class="table-responsive">
              <table class="table ">
                <thead class="thead-dark_color">
                  <tr class="b-s-2-b-c">
                    <th>S.No</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th >Quantity</th>
                    <th >Price</th>
                    <th >Tax</th>
                    <!-- <th >Store</th> -->
                    <th  class="text-center">SubTotal</th>
                    
                    
                  </tr>
                  <tr *ngFor="let line of invoiceLines; index as i">
                    <td>{{i + 1}}</td>
                    <td  >{{line?.itemName || '---'}}</td>
                    <td> {{line?.description}}</td>
                    <td>{{line?.quantity.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                    <td  >{{valueFormatter(line?.price)}}</td>
                    <td> {{line?.tax + '%'}}</td>
                    <!-- <td> {{line?.warehouseName}}</td> -->
                    <td class="text-right"><b>{{valueFormatter(line?.subTotal)}}</b></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>


          <div class="print-col-5  ml-auto p-s-3">

            <div class="print-box p-s-3-one">
              <h4>Total Before Tax:
                <span class="float-right">{{valueFormatter(invoiceMaster?.totalBeforeTax)}}</span>
              </h4>
            </div>
            <div class="print-box p-s-3-one">
              <h4>Total Tax:
                <span class="float-right">{{valueFormatter(invoiceMaster?.totalTax)}}</span>
              </h4>
            </div>
    
            <div class="print-box p-s-3-two">
              <h4>Grand Total:
                <span class="float-right">{{valueFormatter(invoiceMaster?.totalAmount)}}</span>
              </h4>
            </div>
          </div>


          <!-- <div class="print-col-12 p-s-4">
            
            <div class="print-box p-s-4-one">
              <p>Terms and conditions:</p>
            </div>
            <div class="print-box p-s-4-two">
              <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </h4>
            </div>

            <div class="print-box p-s-4-three">
              <p>Thankyou for your Business</p>
            </div>
            
          </div> -->

          

          <div class="print-col-4 p-s-5">
            _________________________________
            <p class="text-center">Authorized Sign</p>
          </div>
          
        </div>


      </div>
    </div>
  </div>
</div>