<kt-portlet>
	<kt-portlet-header [sticky]="false" [title]="'Bank Accounts'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
			<button (click)="openDialog()" class="btn_white" mat-raised-button  matTooltip="Add Bank Account">Add Bank Account</button>
		</ng-container>
	</kt-portlet-header>
  <kt-portlet-body>
      <div class="col-md-12 col-lg-12 col-sm-12 my-5">
      <!-- <ag-grid-angular
          style="width: 100%; height: 500px;" 
          class="ag-theme-alpine" 
          [defaultColDef]="defaultColDef"
          [rowData]="bankAccountList"
          [columnDefs]="columnDefs" 
          (rowDoubleClicked)="onRowDoubleClicked($event)" 
          (firstDataRendered)="onFirstDataRendered($event)"
          [frameworkComponents]="frameworkComponents"
          [tooltipShowDelay]="5"
          [gridOptions]="gridOptions">
        </ag-grid-angular> -->
        <ag-grid-angular 
        style="width: 100%; height: 440px; margin-top: 10px;"
        class="ag-theme-alpine"
        [components]="components"
        [columnDefs]="columnDefs"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        [defaultColDef]="defaultColDef"
        [tooltipShowDelay]="5"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      </div>
  </kt-portlet-body>
</kt-portlet>



