<form (ngSubmit)="GetFilteredRecord()" [formGroup]="FilterationForm" 
   class="kt-form kt-form--label-align-right" #formDirective="ngForm">
  <div class="row mt-1 mb-0 ms-4">
    <div class="col-lg-3">
      <div class="form-group kt-form__group mb-0">
        <label class="col-form-label">Start Date:</label>          
        <kt-date-input 
          formControlName="startDate" matFormFieldClass="full-width"
          placeholder="Select Start Date" [maxDate]="maxDate"
          hintText="Optional">
        </kt-date-input>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group kt-form__group mb-0">
        <label class="col-form-label">End Date:</label>          
        <kt-date-input 
          formControlName="endDate" matFormFieldClass="full-width"
          placeholder="Select End Date"  [minDate]="minDate"   
          hintText="Optional"     
          dateCondition="dateCondition">
        </kt-date-input>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group kt-form__group mb-0">
        <label class="col-form-label">Business Partner:</label>
        <kt-group-dropdown
          id="bill_vendor_name"
          [optionList]="ngxsService.allBusinessPartners$"                            
          formControlName="businessPartnerName"
          groupChildrenName="businessPartner"
          groupPropertyName="type"
          matFormFieldClass="full-width"
          placeholder="Select Vendor" 
          hintText="Optional"
          propertyName="name"
          propertyValue="name">
        </kt-group-dropdown>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group kt-form__group mb-0">
        <div class="form-group kt-form__group mb-0" style="margin-top: 3rem !important;">
          <button class="me-2 app-reset-btn" mat-raised-button id="create_process_reset" type="button"
            (click)="resetForm()"><i class="fas fa-undo"></i> 
            Reset
          </button>
          <button class="app-default-btn" mat-raised-button id="create_process_fetch" type="submit">
            Fetch Records
          </button>
        </div>
      </div>
    </div>
  </div>
</form>