.bg-white
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.print-head-area
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 22px 20px;
  background-image: linear-gradient(to right, #20222a, #2b335d);
  align-items: center;
}

.print-content-area
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}
.p-logo
{
    height: 55px;
}
.p-heading
{
  font-size: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  margin: 0;
  text-shadow: 1px 1px 1px;
}

.head-parent
{
  padding: 10px;
  background-color: #eef0f8;
  color: #1a6b85;
  font-size: 16px;
  margin-bottom: 0px;
  border-bottom: 1px solid #abb8ef;
}



.child-one
{
  
  padding: 15px  10px;
  color: #1a6b85;
  font-size: 16px;
  margin-left: 35px;
  margin-bottom: 0;



  padding: 9px 10px;
  color: #1a6b85;
  font-size: 16px;
  margin: 20px 35px 20px 35px;
  border-bottom: 1px solid #abb8ef;
  height: 40px;
  border-top: 1px solid #abb8ef;
}

.print-col-3
{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.print-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.print-col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.print-col-6
{
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.print-col-8
{
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.print-col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    position: relative;
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px
}
.print-col-12
{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
  margin-top: 1%;
}


.table th, .table td
{
  padding: 7px;
}

.print-footer-area
{
  background-image: linear-gradient(to right, #20222a, #2b335d);
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: 2%;
}

.print-footer-area p
{
  margin-bottom: 0px;
  color: white;
}