<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="title" [class]="'card-head-lg'"></kt-portlet-header>
    <!--begin::Form-->

    <form [formGroup]="requisitionForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">

          <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row mt-1 mb-0">
              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Employee:</label>
                    <kt-simple-dropdown 
                    id="requisition_employee"
                      formControlName="employeeId" 
                      matFormFieldClass="full-width"
                      (selectionChange)="getEmployee($event.value)"
                      (blurEvent)="logValidationErrors(requisitionForm, this.formErrors, this.validationMessages)"
                      propertyName="name" 
                      propertyValue="id" 
                      [errorMessage]="formErrors.employeeId"
                      [optionList]="ngxsService.employees$"
                      placeholder="Select Employee">
                     </kt-simple-dropdown>
                </div>
              </div>

              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Designation:</label>
                  <kt-input-field 
                    id="requisition_designation"
                    formControlName="designation" 
                    (click)="checkEmployee()"
                    matFormFieldClass="full-width" 
                    placeholder="Designation"
                    readonly="true">
                  </kt-input-field>
                </div>
              </div>

              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Department:</label>
                  <kt-input-field 
                    id="requisition_department"
                    formControlName="department" 
                    matFormFieldClass="full-width" 
                    (click)="checkEmployee()"
                    placeholder="Department"
                    readonly="true">
                  </kt-input-field>
                </div>
              </div>

              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Campus:</label>
                  <kt-simple-dropdown
                    id="requisition_campus"
                    formControlName="campusId"
                    propertyName="name"
                    propertyValue="id"
                    (click)="checkEmployee()"
                    matFormFieldClass="full-width "
                    [optionList]="ngxsService.campuses$"
                    placeholder="Campus">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Requisition Date:</label>
                    <kt-date-input
                      formControlName="requisitionDate"
                      placeholder="Select Requisition Date"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(requisitionForm, formErrors, validationMessages)"
                      [errorMessage]="formErrors.requisitionDate"
                      [maxDate]="maxDate">
                    </kt-date-input>
                </div>
              </div>

              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="form-group kt-form__group mt-10">
                  <div apperence="outline" class="full-width">
                    <mat-slide-toggle (change)="onToggle($event)" id="requisition_isWithoutWorkflow" formControlName="isWithoutWorkflow">{{userStatus}}</mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="">
                  <ng-container formArrayName="requisitionLines">
                    <div class="table-responsive">
                      <mat-table #table [dataSource]="requisitionForm.get('requisitionLines')['controls']">
                        <!-- Item Column -->
                        <ng-container matColumnDef="itemId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown propertyName="productName" propertyValue="id"
                              [id]="'requisition_item' + i"                               
                              [optionList]="ngxsService.products$"
                              [errorMessage]="'Item is required.'"
                              [buttonPermission]="permission.isGranted(this.permissions.PRODUCT_CREATE)"
                              clickEventButtonName="Add New Item"
                              (clickEvent)="addButtonService.openProductDialog()"
                              formControlName="itemId"
                              placeholder="Select Item" matFormFieldClass="mobile-label full-width"
                              (selectionChange)="onItemSelected($event.value, i); getStock(i);">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fixedAssetId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Fixed Asset</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2" >
                              <kt-simple-dropdown 
                              propertyValue="id" 
                              propertyName="name"
                              secondaryPropertyName="assetCode"                               
                              [optionList]="fixedAssetsDropdown[i]"
                              [id]="'requisitionForm_fixedasset_' + i"
                              formControlName="fixedAssetId"
                              (blurEvent)="logValidationErrors(requisitionForm, formErrors, validationMessages)"
                              [errorMessage]="'Fixed Asset is required.'"
                              clickEventButtonName="Add New Item"
                              placeholder="Select Fixed Asset" matFormFieldClass="mobile-label full-width">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!--Description Column-->
                        <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Description</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="description" [id]="'requisition_description' + i"
                                matFormFieldClass="mobile-label full-width" placeholder="Enter Description"
                                (blurEvent)="logValidationErrors(this.requisitionForm, formErrors, validationMessages)"
                                [errorMessage]="[{ condition : requisitionForm.get('requisitionLines')['controls'][i].controls.description.errors?.required &&
                                                                    requisitionForm.get('requisitionLines')['controls'][i].controls.description.touched , 
                                                        error : 'Description is required.' }]">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Quantity Column -->
                        <ng-container matColumnDef="quantity">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="quantity" [id]="'requisition_quantity' + i"
                                matFormFieldClass="mobile-label full-width" placeholder="Enter Quantity"
                                #itemName type="number"
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)"
                                (blurEvent)="logValidationErrors(this.requisitionForm, formErrors, validationMessages)"
                                [errorMessage]="[{ condition : requisitionForm.get('requisitionLines')['controls'][i].controls.quantity.errors?.required &&
                                                                    requisitionForm.get('requisitionLines')['controls'][i].controls.quantity.touched , 
                                                        error : 'Quantity is required.' },
                                                      { condition : requisitionForm.get('requisitionLines')['controls'][i].controls.quantity.errors?.min &&
                                                                    requisitionForm.get('requisitionLines')['controls'][i].controls.quantity.touched , 
                                                        error : 'Minimum value is one.' }]">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                         <!-- Price Column -->
                        <ng-container matColumnDef="purchasePrice">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Price</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="purchasePrice"
                                matFormFieldClass="mobile-label full-width" placeholder="Enter Price"
                                #itemName type="number" [id]="'requisition_purchasePrice_' + i"
                                (blurEvent)="logValidationErrors(this.requisitionForm, formErrors, validationMessages)"
                                [errorMessage]="[{ condition : requisitionForm.get('requisitionLines')['controls'][i].controls.purchasePrice.errors?.required &&
                                                                    requisitionForm.get('requisitionLines')['controls'][i].controls.purchasePrice.touched , 
                                                        error : 'Price is required.'},
                                                        { condition : requisitionForm.get('requisitionLines')['controls'][i].controls.purchasePrice.errors?.min &&
                                                        requisitionForm.get('requisitionLines')['controls'][i].controls.purchasePrice.touched , 
                                          error : 'Please insert correct value.' }]"
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                         <!-- SubTotal Column -->
                        <ng-container matColumnDef="subTotal">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> SubTotal </mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="subTotal" [id]="'requisition_subTotal_' + i"
                                matFormFieldClass="mobile-label full-width" placeholder="SubTotal">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Available Quantity Column -->
                        <ng-container matColumnDef="availableQuantity">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Available Quantity </mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="availableQuantity" [id]="'requisition_availableQuantity_' + i"
                                matFormFieldClass="mobile-label full-width" placeholder="Available Quantity">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Warehouse Column -->
                        <ng-container matColumnDef="warehouseId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Store</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown 
                                placeholder="Select Store" 
                                [id]="'requisition_store_' + i"
                                propertyValue="id" 
                                propertyName="name"
                                (selectionChange)="getStock(i)"
                                formControlName="warehouseId" 
                                [errorMessage]="'Store is required.'"
                                matFormFieldClass="full-width" 
                                [optionList]="warehouseList"
                                [buttonPermission]="permission.isGranted(this.permissions.WAREHOUSE_CREATE)"
                                clickEventButtonName="Add New Store"
                                (clickEvent)="addButtonService.openWarehouseDialog()">
                               </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <button class=" app-remove-btn" type="button" [id]="'requisition_remove' + i"
                              (click)="removeRequisitionLineClick(i)">
                              <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                  </ng-container>

                  <ng-container>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <button class="  app-add-new-line-btn" type="button" id="requisition_add_line" (click)="addRequisitionLineClick()">
                          <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <!--End Requisition Lines-->
        </div>
      </div>

      <mat-divider class="mt-10"></mat-divider>
      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions kt-form__actions mb-0">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button class="mr-2 app-reset-btn" id="requisition_reset" type="button" (click)="reset()" mat-raised-button><i class="fas fa-undo"></i> Reset</button>
              <button class="mr-2 app-save-btn" type="submit" mat-raised-button id="requisition_save"
                (click)="logValidationErrors(this.requisitionForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i> Save</button>
              <button class="app-default-btn" mat-raised-button type="submit" id="requisition_submit"
                (click)="logValidationErrors(this.requisitionForm, this.formErrors, this.validationMessages); isSubmit(1)">
                <i class="far fa-save"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--end::Form-->
  </kt-portlet>
</div>