::ng-deep .mat-mdc-radio-group {
    display: flex;
    padding-top: 10px;
}

  /**Switch Css*/
:host ::ng-deep #payroll_item_isActive .mdc-switch {
  margin-right: 8px;
}

/** Toggle track */ 
/** Toggle head ripple shadow in selected state */
:host ::ng-deep .mdc-switch:enabled .mdc-switch__track::after,
:host ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__ripple::after {
  background: #1a6b85 !important;
}

/** Toggle head */
/** Toggle head ripple shadow in un-selected state */
:host ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after,
:host ::ng-deep .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
  background: white !important;
}