<div class="row mb-4">
  <div class="col-md-12 text-right">
    <button *ngIf="(permission.isGranted(permissions.BANK_RECON_CREATE))" id="reconcile" type="button" matTooltip="Reconcile" class="app-default-btn" mat-raised-button (click)="onSubmit()">Reconcile</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ">
    <kt-portlet >
      <kt-portlet-header [sticky]="false" [title]="'Bank Reconciliation'" [class]="'card-head-lg'">
      </kt-portlet-header>
      <kt-portlet-body>
        <form [formGroup]="reconForm" (ngSubmit)="onSubmitBankAccount()" class="kt-form kt-form--label-align-right">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 py-6">
                <div class="row mt-1 mb-0">
                  <div class="col-lg-4">
                    <div class="form-group kt-form__group mb-0">
                      <!-- <label class="col-form-label pt-0">Bank:</label> -->
                      <kt-simple-dropdown searchPlaceholder="Search Bank..." placeholder="Select Bank"
                        formControlName="bankName" id="reconciliation_bankName"
                        (blurEvent)="logValidationErrors(this.reconForm, this.formErrors, this.validationMessages)"
                        propertyValue="id" propertyName="accountTitle" matFormFieldClass="full-width" [errorMessage]="formErrors.bankName"
                        [optionList]="ngxsService.bankAccounts$"></kt-simple-dropdown>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <button id="reconciliation_fetch" class="app-default-btn" mat-raised-button
                      type="submit">Fetch data
                    </button>
                  </div>
                </div>
                <div class="row">
  
                  <div class="col-lg-6 mt-3">
                    <h4 class="all-text-primary" >Bank Statement</h4>
                    <ag-grid-angular
                    class="ag-theme-alpine grid_measurement"
                    [rowData]="bankStatementList"
                    [columnDefs]="columnBankStatement"
                    [overlayLoadingTemplate]="overlayLoadingTemplate"
                    [pagination]="true"
                    [animateRows]="true"
                    [rowSelection]="rowSelectionBankStatement"
                    [rowMultiSelectWithClick]="true"
                    (gridReady)="onStatementGridReady($event)"
                    (rowSelected)="onBankStatementRowClicked($event)"
                    (firstDataRendered)="onFirstDataRendered($event)">
                    </ag-grid-angular>
                  </div>
          
                  <div class="col-lg-6 mt-3">
                    <h4 class="all-text-primary"  >Payments</h4>
                    <ag-grid-angular
                    class="ag-theme-alpine grid_measurement"
                    [rowData]="paymentList"
                    [columnDefs]="columnPayment"
                    [pagination]="true"
                    [animateRows]="true"
                    [rowSelection]="rowSelectionPayment"
                    (rowSelected)="onPaymentRowClicked($event)"
                    [overlayLoadingTemplate]="overlayLoadingTemplate"
                    (firstDataRendered)="onFirstDataRendered($event)"
                    (gridReady)="onPaymentGridReady($event)"
                    [rowMultiSelectWithClick]="true"
                    [isRowSelectable]="isRowSelectable">
                    </ag-grid-angular>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>


























