<div class="row mb-4">
    <div class="col-md-12 text-right">
      <button (click)="addJournalEntry()" *ngIf="(permission.isGranted(permissions.JOURNALENTRY_CREATE))" class="app-default-btn" mat-raised-button matTooltip="Add Journal Entry">Add Journal Entry</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <kt-portlet >
        <kt-portlet-header [sticky]="false" [title]="'Journal Entries'" [class]="'card-head-lg'">
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="col-lg-12 col-md-12 my-5">
                <ag-grid-angular
                    style="width: 100%; height: 400px; margin-top: 10px;"
                    class="ag-theme-alpine"
                    [components]="components"
                    [columnDefs]="columnDefs"
                    (rowDoubleClicked)="onRowDoubleClicked($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                    (paginationChanged)="paginationHelper.onPaginationChanged('journalEntryPageName', gridApi, $event)"
                    [gridOptions]="gridOptions"                 
                    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                    [defaultColDef]="defaultColDef"
                    [tooltipShowDelay]="5"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </kt-portlet-body>
      </kt-portlet>
    </div>
  </div>

