<form [formGroup]="form" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
    <h3 class="kt-portlet__head-text modal-header">
        {{title}}
    </h3>
    <div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
        <!-- form start -->
        <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <!-- first row starts -->

                <div class="row">
                    <div class="col-sm-6">
                        <label>Code:</label>
                        <kt-input-field formControlName="code" placeholder="Enter Code"
                            (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)"
                            [errorMessage]="[{ condition : formErrors.code , error : formErrors.code }]">
                        </kt-input-field>
                    </div>
                    <div class="col-sm-6">
                        <label>Symbol:</label>
                        <kt-input-field formControlName="symbol" placeholder="Enter Symbol"
                            (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)"
                            [errorMessage]="[{ condition : formErrors.symbol , error : formErrors.symbol }]">
                        </kt-input-field>
                    </div>
                    <div class="col-sm-6">
                        <label>Name:</label>
                        <kt-input-field formControlName="name" placeholder="Enter Name"
                            (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)"
                            [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                        </kt-input-field>
                    </div>

                    <div class="col-sm-6">
                        <label>Unit:</label>
                        <kt-input-field formControlName="unit" placeholder="Enter Unit"
                            (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)"
                            [errorMessage]="[{ condition : formErrors.unit , error : formErrors.unit }]">
                        </kt-input-field>

                    </div>

                    <div class="col-sm-6">

                        <label>Subunit:</label>
                        <kt-input-field formControlName="subUnit" placeholder="Enter subunit"
                            (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)"
                            [errorMessage]="[{ condition : formErrors.subUnit , error : formErrors.subUnit }]">
                        </kt-input-field>

                    </div>

                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        <mat-tab label="Rates">
                            <div formArrayName="currencyLines">

                                <mat-divider></mat-divider>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>USD Per Unit</th>
                                            <th>Unit Per USD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let line of currencyLines.controls; let i=index"
                                            [formGroupName]="i">
                                            <td>
                                                <kt-date-input formControlName="date" placeholder="Select Date"
                                                    matFormFieldClass="full-width"
                                                    (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)">
                                                    <!-- [errorMessage]="i.date.errors?.required && i.date.touched ? 'Date is required.' : false " -->
                                                </kt-date-input>
                                            </td>
                                            <td>
                                                <kt-input-field formControlName="usdPerUnit" placeholder="Enter USD per Unit"
                                                    matFormFieldClass="full-width"
                                                    (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)">
                                                    <!-- [errorMessage]="i.date.errors?.required && i.date.touched ? 'Date is required.' : false " -->
                                                </kt-input-field>
                                            </td>
                                            <td>
                                                <kt-input-field formControlName="unitPerUSD" placeholder="Enter Unit per USD"
                                                    matFormFieldClass="full-width"
                                                    (blurEvent)="logValidationErrors(this.form, formErrors, validationMessages)">
                                                </kt-input-field>
                                            </td>

                                            <td>
                                                <i class="fa fa-trash text-danger" style="position: relative; top: 8px;"
                                                    aria-hidden="true" (click)="removeCurrencyLine(i)"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><a role="button" class="cursor-pointer" tabindex="0"
                                                    (click)="addCurrencyLine()">add Line </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__foot p-5">
        <!-- form action starts -->
        <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row">
                <div class="col-lg-12 text-end">
                    <div>
                        <button class="app-default-btn" mat-raised-button type="submit"
                            (click)="logValidationErrors(this.form, this.formErrors, this.validationMessages)">
                            <i class="far fa-save"></i> Submit
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>