body{
    overflow-y: hidden !important;
}
.make-ag-grid-header-sticky .ag-header {
    position: sticky;
    top: 0px;
    z-index: 5;
}

.make-ag-grid-header-sticky .ag-root-wrapper,
.make-ag-grid-header-sticky .ag-root-wrapper-body,
.make-ag-grid-header-sticky .ag-root {
    display: unset;
}