<div class="row mb-4">
  <div class="col-md-12 d-flex">
    <button class="app-default-btn"
    mat-raised-button matTooltip="Add Account" (click)="addNewRow()">Add Account</button> 
    <button class="app-default-btn" style="margin-left: 10px !important;" mat-raised-button *ngIf="showDiscardButton" (click)="discardLastRow()">Discard Row</button>
    <h5 class="p-2">Chart of Account</h5>
  </div>
  
</div>
<div class="row p-0">
  <div class="col-md-12 p-0">
    <kt-portlet class="make-ag-grid-header-sticky">    
      <kt-portlet-body class="p-3">
        <div class="col-lg-12 col-md-12">             
          <form [formGroup]="form">
          <ag-grid-angular
          style="width: auto; height: fit-content;" 
          class="ag-theme-alpine" 
          [gridOptions]="gridOptions"
          [components]="components" 
          [editType]="'fullRow'"
          [rowData]="rowData"
          [domLayout]="domLayout"
          [columnDefs]="columnDefs"
          (gridReady)="onGridReady($event)"
          [overlayNoRowsTemplate]="overlayNoRowsTemplate"          
          (cellValueChanged)="onCellValueChanged($event)"
          (gridReady)="onGridReady($event)"
          >
        </ag-grid-angular>
      </form>
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>