<p>create-grn works!</p>
<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [class]="'card-head-lg'" [sticky]="false"
                         [title]="'Goods Received Note'"></kt-portlet-header>
      <!--begin::Form-->
      <form (ngSubmit)="onSubmit()" [formGroup]="grnForm" class="kt-form kt-form--label-align-right">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label pt-0">Vendor Name:</label>
                    <kt-simple-dropdown
                      [isDisabled]="true"
                      (blurEvent)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages)"
                      [errorMessage]="formErrors.vendorName"
                      [optionList]="businessPartnerService.getBusinessPartners()"
                      formControlName="vendorName"
                      matFormFieldClass="full-width"
                      placeholder="Enter Vendor Name"
                      propertyName="name"
                      propertyValue="id"
                      searchPlaceholder="Search Vendor...">
                    </kt-simple-dropdown>
                  </div>
                </div>
  
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label pt-0">GRN Date:</label>
                    <kt-date-input
                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                      [errorMessage]="formErrors.grnDate"
                      formControlName="grnDate"
                      matFormFieldClass="full-width"
                      placeholder="GRN Date">
                    </kt-date-input>
                  </div>
                </div>
  
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group">
                    <label class="col-form-label pt-0">Contact:</label>
                    <kt-input-field
                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                      [errorMessage]="[{ condition : formErrors.contact , error : formErrors.contact}]"
                      formControlName="contact"
                      matFormFieldClass="full-width"
                      placeholder="Enter Contact">
                    </kt-input-field>
                  </div>
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="example-container  mat-elevation-z8 ">
                    <ng-container formArrayName="GRNLines">
                      <mat-table #table [dataSource]="grnForm.get('GRNLines')['controls']">
                        <!-- Account Column -->
                        <ng-container matColumnDef="itemId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12">
                              <kt-simple-dropdown
                                (selectionChange)="onItemSelected($event.value, i)"
                                [errorMessage]="'Item is Required'"
                                [isDisabled]="true"
                                [optionList]="productService.getProducts()"
                                formControlName="itemId"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Select Item"
                                propertyName="productName"
                                propertyValue="id">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!--Partner Column-->
                        <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Description</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12">
                              <kt-input-field
                                (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                [errorMessage]="[{ condition : grnForm.get('GRNLines')['controls'][i].controls.description.errors?.required &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.description.touched ,
                                                        error : 'Description is required' }]"
                                formControlName="description"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Enter Description">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Description Column -->
                        <ng-container matColumnDef="quantity">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12">
                              <kt-input-field
                                #itemName
                                (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)"
                                [errorMessage]="[{ condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.required &&
                                                                      grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                          error : 'Quantity is required' },
                                                        { condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.min &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                          error : 'Minimum value is one' },
                                                        { condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.max &&
                                                                      grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                          error : 'Value cannot exceed the billed quantity' }]"
                                formControlName="quantity"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Enter Quantity"
                                type="number">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
  
                        <!-- Location Column -->
                        <ng-container matColumnDef="locationId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Location</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12">
                              <kt-group-dropdown
                                [errorMessage]="'Location is Required'"
                                [isDisabled]="true"
                                [optionList]="warehouseService.getWarehouses()"
                                formControlName="locationId"
                                groupChildrenName="locations"
                                groupPropertyName="name"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Select Location"
                                propertyName="name"
                                propertyValue="id">
                              </kt-group-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <!-- <mat-icon class="delete-button" (click)="removeJournalEntryLineClick(i);">delete_forever
                            </mat-icon> -->
  
                            <button (click)="removeGRNLineClick(i);" class=" remove-icon" type="button">
                              <i aria-hidden="true" class="fas fa-trash"></i>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </ng-container>
  
                    <ng-container>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <button (click)="addGRNLineClick()" class=" btn_create" type="button">
                            <i aria-hidden="true" class="fas fa-plus"> </i> Add New Line
                          </button>
                        </div>
                      </div>
                    </ng-container>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <mat-divider class="mt-10"></mat-divider>
  
        <div class="kt-portlet__foot ">
          <div class="kt-form__actions kt-form__actions">
            <div class="row">
              <div class="col-lg-12 text-right">
                <button (click)="reset()" class="mr-3 btn_white" mat-raised-button type="reset">Reset</button>
                <button (click)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages); grnModel.isSubmit = 0" class="sub___btn  mr-3" mat-raised-button
                        type="submit">
                  Save Purchase Order
                </button>
                <button (click)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages); grnModel.isSubmit = 1" class="sub___btn " mat-raised-button
                        type="submit">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </kt-portlet>
  </div>
  
  