<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [sticky]="false" [title]="title" [class]="'card-head-lg'"></kt-portlet-header>
      <!--begin::Form-->
      <form [formGroup]="grnForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
  
            <div class="col-md-12 col-sm-12 col-lg-12 ps-4 pe-4">
              <div class="row mt-1 mb-0">
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Vendor:</label>
                    <kt-simple-dropdown
                    id="grn_vendor_name"
                      [isDisabled]="true"
                      (blurEvent)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages)"
                      [errorMessage]="formErrors.vendorName"
                      [optionList]="ngxsService.businessPartners$"
                      formControlName="vendorName"
                      matFormFieldClass="full-width"
                      placeholder="Select Vendor"
                      [buttonPermission]="permission.isGranted(this.permissions.BUSINESSPARTNER_CREATE)"
                      clickEventButtonName="Add New Vendor"
                      (clickEvent)="addButtonService.openBusinessPartnerDialog()"
                      propertyName="name"
                      propertyValue="id">
                    </kt-simple-dropdown>
                  </div>
                </div>
  
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">GRN Date:</label>
                    <kt-date-input
                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                      [errorMessage]="formErrors.grnDate"
                      formControlName="grnDate"
                      matFormFieldClass="full-width"
                      placeholder="Select GRN Date">
                    </kt-date-input>
                  </div>
                </div>
  
                <div class="col-lg-4 col-sm-4 col-md-4">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Contact:</label>
                    <kt-input-field
                      id="grn_contact"
                      formControlName="contact"
                      hintText="Optional"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                      [errorMessage]="[{ condition : formErrors.contact , error : formErrors.contact }]"
                      placeholder="Enter Contact">
                    </kt-input-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Campus:</label>
                    <kt-simple-dropdown
                    id="grn_campus"
                    formControlName="campusId"
                    [isDisabled]="true"
                    propertyName="name"
                    propertyValue="id"
                    matFormFieldClass="full-width "
                    [errorMessage]="formErrors.campusId"
                    (selectionChange)="onCampusSelected($event.value)"
                    (blurEvent)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages)"
                    [optionList]="ngxsService.campuses$"
                    placeholder="Select Campus">
                  </kt-simple-dropdown>
                  </div>
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="">
                    <ng-container formArrayName="GRNLines">
                      <div class="table-responsive">
                        <mat-table #table [dataSource]="grnForm.get('GRNLines')['controls']">
                          <!-- Item Column -->
                          <ng-container matColumnDef="itemId">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-simple-dropdown
                                      placeholder="Select Item"
                                      [id]="'grn_item_' + i"
                                      formControlName="itemId"
                                      [isDisabled]="true"
                                      [optionList]="ngxsService.products$"
                                      [buttonPermission]="permission.isGranted(this.permissions.PRODUCT_CREATE)"
                                      clickEventButtonName="Add New Item"
                                      (clickEvent)="addButtonService.openProductDialog()"
                                      propertyName="productName"
                                      propertyValue="id"
                                      matFormFieldClass="mobile-label full-width"
                                      [errorMessage]="'Item is required.'"
                                      (selectionChange)="onItemSelected($event.value,i)">
                                    </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!--Description Column-->
                          <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Description</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-input-field
                                [id]="'grn_description_' + i"
                                      formControlName="description"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Description"
                                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : grnForm.get('GRNLines')['controls'][i].controls.description.errors?.required &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.description.touched ,
                                                        error : 'Description is required.' }]">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Quantity Column -->
                          <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-input-field
                                [id]="'grn_quantity_' + i"
                                      formControlName="quantity"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Quantity"
                                      type="number"
                                      #itemName
                                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.required &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                        error : 'Quantity is required.' },
                                                      { condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.min &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                        error : 'Minimum value is one.' },
                                                      { condition : grnForm.get('GRNLines')['controls'][i].controls.quantity.errors?.max &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.quantity.touched ,
                                                        error : 'Can not exceed pending quantity.' }
                                                      ]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Cost Column -->
                          <ng-container matColumnDef="cost">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Cost</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-input-field
                                      formControlName="cost"
                                      [id]="'grn_cost_' + i"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Cost"
                                      [readonly]="true"
                                      type="number"
                                      #itemName
                                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : grnForm.get('GRNLines')['controls'][i].controls.cost.errors?.required &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.cost.touched ,
                                                        error : 'Cost is required.'},
                                                        { condition : grnForm.get('GRNLines')['controls'][i].controls.cost.errors?.min &&
                                                                      grnForm.get('GRNLines')['controls'][i].controls.cost.touched ,
                                                          error : 'Cost cannot be zero.' }]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Tax Column -->
                          <ng-container matColumnDef="tax">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Tax%</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-input-field
                                [id]="'grn_tax_' + i"
                                      formControlName="tax"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Tax %"
                                      [readonly]="true"
                                      #itemName
                                      type="number"
                                      (blurEvent)="logValidationErrors(this.grnForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : (grnForm.get('GRNLines')['controls'][i].controls.tax.errors?.min ||
                                                                    grnForm.get('GRNLines')['controls'][i].controls.tax.errors?.max) &&
                                                                    grnForm.get('GRNLines')['controls'][i].controls.tax.touched ,
                                                        error : 'Percentage % range (0 - 100).'}]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Subtotal Column -->
                          <ng-container matColumnDef="subTotal">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> SubTotal </mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-input-field formControlName="subTotal" [id]="'grn_subtotal_' + i"
                                  matFormFieldClass="mobile-label full-width" placeholder="Subtotal">
                                </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Store Column -->
                          <ng-container matColumnDef="warehouseId">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Store</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 ps-2 pe-2 mt-2">
                                <kt-simple-dropdown 
                                [id]="'grn_store_' + i"
                                      placeholder="Select Store" 
                                      propertyValue="id" 
                                      propertyName="name"
                                      [isDisabled]="true"
                                      (click)="checkCampus()"
                                      formControlName="warehouseId" 
                                      [errorMessage]="'Store is required.'"
                                      matFormFieldClass="full-width" 
                                      [optionList]="warehouseList"
                                      [buttonPermission]="permission.isGranted(this.permissions.WAREHOUSE_CREATE)"
                                      clickEventButtonName="Add New Store"
                                      (clickEvent)="addButtonService.openWarehouseDialog()">
                                    </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Action Column -->
                          <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef [hidden]="hideDeleteButton" class="flex-1">Action</mat-header-cell>
                            <mat-cell [hidden]="hideDeleteButton" *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <button class=" app-remove-btn" type="button" [id]="'grn_remove_' + i"
                                (click)="removeGRNLineClick(i); totalCalculation()">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                              </button>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <mat-divider class="mt-10"></mat-divider>
  
        <div class="kt-portlet__foot p-5">
          <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row">
              <div class="col-lg-12 text-end">
                <button class="app-save-btn  me-2" type="submit" id="grn_save" mat-raised-button
                  (click)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i> Save</button>
                <button class="app-default-btn" mat-raised-button type="submit" id="grn_submit"
                  (click)="logValidationErrors(this.grnForm, this.formErrors, this.validationMessages); isSubmit(1)">
                  <i class="far fa-save"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </kt-portlet>
  </div>