<!-- <div [ktBusy]="isLoading"  class="kt-portlet" style="overflow :hidden;"> -->
<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header">
          Create Transactional Account
        </h3>
      </div>
    </div>
  </div>
  <!-- form start -->
  <form [formGroup]="level4Form" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
    <div class="kt-portlet__body" >
      <div class="kt-form__section kt-form__section--first">
        <!-- first row start -->
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <label class="col-form-label">Transactional Account Name:</label>
              <div class="form-group kt-form__group">
                <kt-input-field
                 formControlName="transactionalAccount"
                 placeholder="Account Name"
                 (blurEvent)="logValidationErrors(this.level4Form, formErrors, validationMessages)"
                 [errorMessage]="[{ condition : formErrors.transactionalAccount , error : formErrors.transactionalAccount }]">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <label class="col-form-label">Head Account:</label>
              <div class="form-group kt-form__group">
                <kt-simple-dropdown
                  formControlName="level3"
                  (blurEvent)="logValidationErrors(this.level4Form, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.level3"
                  searchPlaceholder="Search Head Account..."
                  placeholder="Select Head Account"
                  [optionList]="chartOfAccountService.getLevel3AccountsDropdown()"
                  propertyValue="id"
                  matFormFieldClass="full-width"
                  propertyName="name">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="kt-portlet__foot" >
      <div class="kt-form__actions row">
        <div class="col-lg-12">
          <div class="float-right">
            <button class="mr-3 btn_white" mat-raised-button type="reset" (click)="onCloseLevel4Dialog()">Cancel</button>
            <button mat-raised-button class="sub___btn"
                    type="submit"
                    (click)="logValidationErrors(this.level4Form, this.formErrors, this.validationMessages)">Submit
            </button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- form ends -->
</div>



