:host ::ng-deep .mdc-radio__outer-circle{
  border-radius: 2px;
  border-color: #1a6b85 !important;
}

:host ::ng-deep .mdc-radio__inner-circle{
  border-radius: 2px;
  background-color: transparent!important;
  height: 30px;  
  width: 15px;
  margin-top: -8px;
  margin-left: 3px;
  border-width: unset;
}

:host ::ng-deep .mat-mdc-radio-checked .mdc-radio__outer-circle{
  background-color: #1a6b85;
  background-image: linear-gradient(to right, #1a6b85, #1a6b85);
}

:host ::ng-deep .mat-mdc-radio-checked .mdc-radio__inner-circle{
  transform: rotate(45deg) scale(0.5) !important;
}
    
  
/**Switch Css*/
:host ::ng-deep #payroll_item_isActive .mdc-switch {
  margin-right: 8px;
}

/** Toggle track */ 
/** Toggle head ripple shadow in selected state */
:host ::ng-deep .mdc-switch:enabled .mdc-switch__track::after,
:host ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__ripple::after {
  background: #1a6b85 !important;
}

/** Toggle head */
/** Toggle head ripple shadow in un-selected state */
:host ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after,
:host ::ng-deep .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
  background: white !important;
}