<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header  [sticky]="false" [title]="title" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <!-- <button mat-raised-button class="btn_white" id="statement_download"> -->
          <a [href]="baseUrl + 'BankStmt/getStmtFile'" *ngIf="showButtons" id="statement_download" target="_self" class=" app-default-btn" mat-raised-button>
            Download
          </a>
        <!-- </button> -->
      </ng-container>
    </kt-portlet-header>
    <!--begin::Form-->
    
      <form [formGroup]="bankStatementForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row mt-1 mb-0">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Bank Account:</label>
                      <kt-simple-dropdown 
                      id="statement_account"
                        formControlName="bankAccountId"
                        (blurEvent)="logValidationErrors(this.bankStatementForm, this.formErrors, this.validationMessages)"
                        errorMessage="Bank Account is required." 
                        propertyName="accountTitle" 
                        propertyValue="id"
                        matFormFieldClass="full-width"
                        [optionList]="ngxsService.bankAccounts$" 
                        placeholder="Select Bank Account">
                      </kt-simple-dropdown>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Description:</label>
                      <kt-input-field
                      id="statement_description"
                        formControlName="description"
                        placeholder="Enter Description"
                        (blurEvent)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                        [errorMessage]="[{ condition : formErrors.description , error : formErrors.description}]">
                      </kt-input-field>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Opening Balance:</label>
                      <kt-input-field
                      id="statement_balance"
                        [type]="'number'"
                        formControlName="openingBalance"
                        placeholder="Enter Opening Balance"
                        (blurEvent)="logValidationErrors(this.bankStatementForm, this.formErrors, this.validationMessages); calculateRunningTotal()"
                        [errorMessage]="[{ condition : formErrors.openingBalance , error : formErrors.openingBalance}]"
                        (change)="this.cumulativeBalances[0] = this.openingBalance = $event.target.value">
                      </kt-input-field> 
                  </div>
                </div>
              </div>

              <div class="row mb-10">
                <div *ngIf="!isEdit" class="col-lg-5 col-md-5 col-5">
                  <label class="col-form-label">Attachment:</label>
                  <div class="row" id="upload">
                    <div class="col-lg-12 col-12">
                      <label for="et_pb_contact_brand_file_request_0" class="et_pb_contact_form_label">Enter</label>
                      <input #uploadFileInput type="file" id="et_pb_contact_brand_file_request_0"
                        (change)="uploadFile($event.target?.files)" class="file-upload" accept=".xlsx, .xls">
                    </div>
                    <div class="col-lg-12 col-12" *ngIf="showFileName">
                      <div
                        style="padding: 18px 15px;color: #65c18c;font-weight: 500;background-color: #d1daea; margin-top: 13px;border-radius: 8px;">
                        <span class="">
                          {{fileName}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div *ngIf="showLines" >
                    <ng-container formArrayName="bankStmtLines">
                      <mat-table #table [dataSource]="bankStatementForm.get('bankStmtLines')['controls']">
                          <!-- Account Column -->
                            <ng-container matColumnDef="reference">
                              <mat-header-cell *matHeaderCellDef class="flex-2"> Ref #</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-input-field
                                    [type]="'number'"
                                    [id]="'statement_ref_' + i"
                                    formControlName="reference"
                                    matFormFieldClass="full-width"
                                    placeholder="Enter Ref #"
                                    (blurEvent)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : element.controls.reference.errors?.required &&
                                                                    element.controls.reference.touched , 
                                                        error : 'Ref # is required.' }]">
                                  </kt-input-field>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!--Partner Column-->
                            <ng-container matColumnDef="stmtDate">
                              <mat-header-cell *matHeaderCellDef [ngClass]="'width'" class="flex-2"> Date</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2" [ngClass]="'width'">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-date-input
                                    formControlName="stmtDate"
                                    matFormFieldClass="full-width"
                                    [maxDate]="maxDate"
                                    placeholder="Select Date"
                                    (blur)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                                    [errorMessage]="element.controls.stmtDate.errors?.required &&
                                                    element.controls.stmtDate.touched ? 'Date is required.' : false ">
                                  </kt-date-input>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!-- Description Column -->
                            <ng-container matColumnDef="label">
                              <mat-header-cell *matHeaderCellDef class="flex-2"> Label</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-input-field
                                  [id]="'statement_label_' + i"
                                    formControlName="label"
                                    matFormFieldClass="full-width"
                                    placeholder="Enter Label"
                                    (blurEvent)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : element.controls.label.errors?.required &&
                                                                    element.controls.label.touched , 
                                                        error : 'Label is required.' }]">
                                  </kt-input-field>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!-- Debit Column -->
                            <ng-container matColumnDef="debit">
                              <mat-header-cell *matHeaderCellDef class="flex-2"> Debit</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-input-field
                                  [id]="'statement_debit_' + i"
                                    formControlName="debit"
                                    type="number"
                                    matFormFieldClass="full-width"
                                    placeholder="Enter Debit"
                                    (keyup)="onChangeEvent($event , i); calculateRunningTotal()"
                                    (change)="onChangeEvent($event , i); calculateRunningTotal()"
                                    (blurEvent)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : (element.controls.debit.errors?.required && element.controls.debit.touched),
                                                        error : 'Debit is required.' },
                                                     { condition : (element.controls.debit.errors?.min && element.controls.debit.touched),
                                                        error : 'Minimun value is 0.' }]">
                                  </kt-input-field>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!-- Credit Column -->
                            <ng-container matColumnDef="credit">
                              <mat-header-cell *matHeaderCellDef class="flex-2"> Credit</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-input-field
                                  [id]="'statement_credit_' + i"
                                    formControlName="credit"
                                    type="number"
                                    matFormFieldClass="full-width"
                                    placeholder="Enter Credit"
                                    (keyup)="onChangeEvent($event , i); calculateRunningTotal()"
                                    (change)="onChangeEvent($event , i); calculateRunningTotal()"
                                    (blurEvent)="logValidationErrors(this.bankStatementForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : (element.controls.credit.errors?.required && element.controls.credit.touched),
                                                             error : 'Credit is required.' },
                                                     { condition : (element.controls.credit.errors?.min && element.controls.credit.touched),
                                                             error : 'Minimun value is 0.' }]">
                                    </kt-input-field>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!-- Location Column -->
                            <ng-container matColumnDef="cumulativeBalance">
                              <mat-header-cell *matHeaderCellDef class="flex-2"> Cumulative Balance</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-2">
                                <div class="col-lg-12 col-sm-12 mt-2">
                                  <kt-input-field
                                  [id]="'statement_cumulative_' + i"
                                    formControlName="cumulativeBalance"
                                    matFormFieldClass="full-width"
                                    placeholder="Cumulative Balance"
                                    readonly="true">
                                  </kt-input-field>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                              <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                                <!-- <mat-icon class="delete-button" (click)="removeJournalEntryLineClick(i);">delete_forever
                                </mat-icon> -->

                                <button class=" app-remove-btn" type="button" [disabled]="!showButtons" [id]="'statement_remove_' + i"  (click)="removeBankStatementLine(i); calculateRunningTotal()" >
                                  <i  class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                              </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </ng-container>

                    <ng-container>
                      <div *ngIf="showLines" class="row" style="align-items: center;">
                        <div class="col-lg-5 col-sm-5">
                          <button class="  app-add-new-line-btn" type="button" *ngIf="showButtons" id="statement_add_line" (click)="addBankStatementLineClick()">
                            <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                          </button>
                        </div>
                        <div class="col-lg-7 col-md-7 text-right">
                          <!-- <div class="col-lg-6 amount-font"></div> -->
                          <div class="amount base-colour"> Closing Balance : {{
                            math.sign(calculateClosingBalance()) !== -1
                            ? (calculateClosingBalance() | number: '1.2-2')
                            : '(' + (calculateClosingBalance() | number: '1.2-2')?.replace('-', '') + ')' || 0.00}}</div>
                        </div>
                      </div>
                    </ng-container>

                  </div>
                </div>
                
              </div>
            </div>

            <!--File Upload-->
            


            <!--Journal Entry Lines-->
            
          </div>
        </div>
        
        <mat-divider class="mt-10"></mat-divider>
        <div class="kt-portlet__foot p-5">
          <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row text-right">
              <div *ngIf="showButtons" class="col-lg-12">
                <button class="mr-2 app-reset-btn" type="button"
                  (click)="reset()" mat-raised-button id="statement_reset"><i class="fas fa-undo"></i> Reset</button>
                <button class="app-default-btn" mat-raised-button type="submit" id="statement_submit"
                  (click)="logValidationErrors(this.bankStatementForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    <!--end::Form-->
  </kt-portlet>

</div>