<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Debit Note Detail'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>
        
        <h4 class="overall_statuses {{docStatus[debitNoteMaster?.state]}}"> Status:  {{debitNoteMaster?.status}} </h4>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">

        <div class="row ">
          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >
                <button *ngIf="(debitNoteMaster?.state === docStatus.Draft || debitNoteMaster?.state === docStatus.Rejected)"
                  [disabled]="!(permission.isGranted(permissions.DEBITNOTE_EDIT))" id="debit_note_edit"
                  [ngClass]="!(permission.isGranted(permissions.DEBITNOTE_EDIT)) ? 'disable' : '' "
                  [routerLink]= "'/' + DEBIT_NOTE.ID_BASED_ROUTE ('edit',debitNoteMaster?.id)"
                  [queryParams]="{q: debitNoteMaster?.id, 'isDebitNote': true}" type="button"
                  class="mr-3 btn_public">
                  <i class="fa fa-edit"></i> Edit
                </button>

                <button [routerLink]="'/' + DEBIT_NOTE.ID_BASED_ROUTE ('print',debitNoteMaster?.id) " type="button" 
                  class="btn_public" id="debit_note_print">
                  <i class="fa fa-print"></i> Print Debit Note
                </button>
                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-4 col-lg-4  mt-3">

            <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;">Debit Note No: 
                    <span class="float-right" style="font-weight: 400;">{{debitNoteMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Vendor Name:
                    <span class="float-right" style="font-weight: 400;">{{debitNoteMaster?.vendorName}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Date:
              <span class="float-right" style="font-weight: 400;">{{debitNoteMaster?.noteDate | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 16px;letter-spacing: 3px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Campus:
              <span class="float-right" style="font-weight: 400;">{{debitNoteMaster?.campusName}}</span></h4>
            </div>
          </div>

        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;"
              class="ag-theme-alpine" [rowData]="debitNoteLines" [columnDefs]="columnDefs" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>


        <div class="row mt-5 totalBox">
          <div class="col-lg-4 ml-auto">

              <table class="table  small_table_box" style="margin: 0px -6px;">
                <tr>
                  <td class="text-left" style="width: 70%;">Total Before Tax:</td>
                  <td class="text-right" >
                    {{valueFormatter(totalBeforeTax || 0)}}</td>
                </tr>
                <tr>
                  <td class="text-left">Total Tax:</td>
                  <td class="text-right" >
                    {{valueFormatter(totalTax || 0)}}</td>
                </tr>
                <tr style="border-top: 2px solid #1a6b85;">
                  <th class="text-left"
                    style=" ">Grand Total:</th>
                  <th class="text-right" >
                    {{valueFormatter(totalAmount || 0)}}</th>
                </tr>


              <tr *ngIf="reconciledDocumentList.length > 0">
                <td class="text-right" colspan="2" style="border:0px; padding: 0.75rem 0px;">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header style="padding: 0 10px;">
                        <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                          font-weight: bold;">
                          Reconciled Amount :
                        </mat-panel-title>
                        <mat-panel-description style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                          font-weight: bold; flex-grow: 0;">
                          {{valueFormatter(debitNoteMaster?.reconciledAmount || 0)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="tool col-12">
                        <!-- <ng-container *ngIf="paidAmountList.length > 0; else noEntryFound"> -->
                        <span class="tooltext">
                          <ul class="list">
                            <li class="links-header">Doc# <span style="margin-left: 28px;">Amount</span>
                            </li>
                            <hr>
                            <li *ngFor="let pay of reconciledDocumentList">
                              <div class="row">
                                <div class="col-lg-6">
                                  <a [routerLink]="'/' + BILL.ID_BASED_ROUTE ('details',pay?.id)" class="links"
                                    style="margin-left: 3px;">{{pay?.docNo}}</a>
                                </div>
                                <div class="col-lg-6">
                                  <a [routerLink]="'/' + BILL.ID_BASED_ROUTE ('details',pay?.id)" class="links"
                                    style="margin-left: -20px;">{{valueFormatter(pay.amount || 0)}}</a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </span>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>

              <tr *ngIf="debitNoteMaster?.documentReconcile">
                <td class="text-right" colspan="2" style="border:0px; padding: 0.75rem 0px;">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header style="padding: 0 10px;">
                        <mat-panel-title style="color: #1a6b85;text-indent: initial;font-weight: bold;font-family: Poppins, Helvetica, 'sans-serif'; font-size: 13px !important;
                                          font-weight: bold;">
                          References :
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="tool col-12">
                        <span class="tooltext">
                          <ul class="list">
                            <li class="links-header">Doc#</li>
                            <hr>
                            <li>
                              <a [routerLink]="'/' + BILL.ID_BASED_ROUTE ('details', debitNoteMaster?.documentReconcile?.id)"
                                class="links"
                                style="margin-left: 3px;">{{debitNoteMaster?.documentReconcile?.docNo}}</a>
                            </li>
                          </ul>
                        </span>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions kt-form__actions">
        <div class="row ">
          <div class="col-lg-12 text-right" *ngIf="debitNoteMaster?.isAllowedRole">
            <button (click)="workflow(action.Reject)" id="debit_note_reject" class="mr-5 danger__btn" mat-raised-button>Reject</button>
            <button (click)="workflow(action.Approve)" id="debit_note_approve" class="success__btn" mat-raised-button>Approve</button>
          </div>
        </div>
      </div>
    </div>
  </kt-portlet>
</div>