<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Budget Detail'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <span class="kt-portlet__head-icon kt-hide"> <i class="la la-gear"></i> </span>

      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mx-auto  mb-5">

        <div class="row">

          <div class="col-md-12 col-12 pb-3">
            <ng-container ktPortletTools >

                <button *ngIf="(permission.isGranted(permissions.BUDGET_EDIT))"
                  [routerLink]="'/' + BUDGET.ID_BASED_ROUTE('edit', budgetMaster?.id)" [queryParams]="{q: budgetMaster?.id, 'isBudget': true}"
                  type="button" class="btn_public mr-3">
                  <i class="fa fa-edit" style="color:#65c18c;"></i> Edit
                </button>

                <button [routerLink]="'/' + BUDGET.ID_BASED_ROUTE('print', budgetMaster?.id)" id="budget_print" type="button"
                  class="btn_public">
                  <i class="fa fa-print" style="color:#65c18c;"></i> Print Budget
                </button>
              
                <mat-divider class="mt-5"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-5 col-lg-5  mt-3">

            <div class="print-box">
                <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;">From Date:
                    <span class="float-right" style="font-weight: 400; font-size: 12px">{{budgetMaster?.from | date: 'MMM d, y'}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
                <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">To Date:
                    <span class="float-right" style="font-weight: 400; font-size: 12px">{{budgetMaster?.to | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 13px;letter-spacing: 3px;font-weight: 600;color: #65c18c;margin-top: 10px;">Budget Name:
              <span class="float-right" style="font-weight: 400; font-size: 12px">{{budgetMaster?.budgetName}}</span></h4>
            </div>
            
          </div>

        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass style="width: 100%; height: 200px; font-size: 14px;"
              class="ag-theme-alpine" [rowData]="budgetLines" [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4 ml-auto">
            <table class="table  small_table_box" style="margin: 0px -6px; color: #65c18c;">
              
              <tr style="border-top: 2px solid #65c18c; color: #65c18c;">
                <th class="text-left">Total Amount :</th>
                <th class="text-right" >
                  {{valueFormatter(totalAmount || 0)}}</th>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>