<kt-portlet>
  <kt-portlet-header [sticky]="false" [title]="'Categories'" [class]="'card-head-lg'">
    <ng-container ktPortletTools>
      <button (click)="openDialog()" class="btn_white" id="add_category" mat-raised-button matTooltip="Add Category">Add Category</button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="col-md-12 col-lg-12 col-sm-12 my-5">
    <!-- <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
     [rowData]="categoryList" 
     [columnDefs]="columnDefs" 
     (rowDoubleClicked)="onRowDoubleClicked($event)"
     [gridOptions]="gridOptions" 
     (firstDataRendered)="onFirstDataRendered($event)"
     [frameworkComponents]="frameworkComponents" 
     [defaultColDef]="defaultColDef"
     [tooltipShowDelay]="5">
    </ag-grid-angular> -->

    <ag-grid-angular 
        style="width: 100%; height: 440px; margin-top: 10px;"
        class="ag-theme-alpine"
        [components]="components"
        [columnDefs]="columnDefs"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        [defaultColDef]="defaultColDef"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [tooltipShowDelay]="5"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </kt-portlet-body>
</kt-portlet>