<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> {{title}} 
                    <span (click)="onCloseDialog()" id="category_close" class="dialog-cross" ><i class="fa fa-times text-end"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body" >
            <!-- form first section starts -->
            <div class="kt-form__section kt-form__section--first">
                <!-- first row starts -->
                <div class="col-md-12 col-lg-12 col-sm-12 ps-4 pe-4">
                    <div class="row mt-1 mb-0">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                            <label class="col-form-label pt-0">No Of Increments:</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput formControlName="noOfIncrements" placeholder="Enter No Of Increments" 
                                     id="employee_increment" type="number" (blur)="logValidationErrors(this.employeeForm, this.formErrors, this.validationMessages)">
                                <mat-error *ngIf="formErrors.noOfIncrements">
                                  <strong>{{formErrors.noOfIncrements}}</strong>
                                </mat-error>
                                <mat-hint align="end">Optional</mat-hint>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group mb-0">
                                <label class="col-form-label pt-0">Account Payable:</label>
                                <kt-simple-dropdown
                                  id="employee_payable"
                                  propertyName="name"
                                  propertyValue="id"
                                  matFormFieldClass="full-width"
                                  placeholder="Select Account Payable"
                                  (blurEvent)="logValidationErrors(this.employeeForm, this.formErrors, this.validationMessages)"
                                  [errorMessage]="formErrors.accountPayableId"
                                  formControlName="accountPayableId"
                                  [optionList]="ngxsService.accountsPayable$">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- first row ends -->
                </div>
            </div>
            <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>
        <!-- portlet footer start -->
        <div class="kt-portlet__foot p-5" >
            <!-- form action starts -->
            <div class="kt-form__actions kt-form__actions mb-0">
                <div class="row">
                    <div class="col-lg-12 text-end">
                        <div *ngIf="showButtons" >
                            <button mat-raised-button class=" app-default-btn" type="submit" id="employee_submit"
                            (click)="logValidationErrors(this.employeeForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!-- form action ends-->
        </div>
        <!-- portlet footer ends -->
    </form>
    <!-- form ends -->
</div>