<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
        printSectionId="main"
        printTitle="Goods Dispatch Note"
        ngxPrint
        type="button"
        mat-raised-button
        [useExistingCss]="true"
        class="app-default-btn" mat-raised-button
        style="margin-bottom: 20px;"><i class="fas fa-print" style="color:#fff;"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div class="row">
      <div class="bg-whitee">
        <div class="print_header_area p-s-1">
          <div class="print-col-6 bg__white__logo p-s-1-one" style="padding: 0px;">
            <div class="print-logo"></div>
            <h1 class="top-heading" style="color: #65c18c ;">GOODS DISPATCH NOTE</h1>
          </div>
          <div class="print-col-5 ml-auto p-s-1-two">
            <div class="print-box-one">
              <h4 class="print-box-detail-1">GDN #: <span class="float-right" style="font-weight: 400;">{{gdnMaster?.docNo}}</span></h4>
              <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box-two">
              <h4 class="print-box-detail-2">Dispatch Date: <span class="float-right" style="font-weight: 400;">{{gdnMaster?.gdnDate | date: 'MMM d, y'}}</span></h4>
            </div>
            <div class="print-box p2">
              <h4>Customer Name: </h4>
              <p class="p">{{gdnMaster?.customer}}</p>
              <p>24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
            </div>
          </div>
        </div>

        <div class="print_body_area mt-5 p-s-2">
          <div class="print-col-12 p-s-2-two" style="padding: 0px;">
            <div class="table-responsive">
              <table class="table text-center">
                <thead class="thead-dark_color">
                  <tr>
                    <th>S.No</th>
                    <th>Item:</th>
                    <th>Description:</th>
                    <th>Location:</th>
                    <th>Quantity:</th>
                    <th>Tax:</th>
                    <th>Price:</th>

                  </tr>
                  <tr *ngFor="let line of gdnLines ; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{line?.item}}</td>
                    <td class="description text-left">{{line?.description}}</td>
                    <td>{{line?.location.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                    <td>{{line?.quantity.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                    <td class="text-right">{{line?.tax + '%'}}</td>
                    <td class="text-right">{{line?.price.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>


          <div class="print-col-6 p-s-4-three">
            <div class="print-box">
              <p>Thankyou for your Business</p>
            </div>
          </div>

          <div class="print-col-3 p-s-4-one" style="padding:0px; ">
            <p style="color: #fff;
            font-size: 18px;
            font-weight: bold;">Terms and conditions:</p>
            <div class="print-box p-s-4-two">
              <h4 >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </h4>
            </div>
          </div>

          <div class="print-col-4 ml-auto text-center p-s-5">
            ______________________________
            <p>Authorized Sign</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
