//custom form outline
::ng-deep .mat-form-field {
    .mat-form-field-flex
    {
      box-shadow: 0px 1px 3px rgba(151, 188, 240, 0.63);
      background-color: aliceblue;
      // border-radius: 20px /80%;
      border-right: 2px solid #2b335b;
    }
    .mat-form-field-ripple
    {
      transform: scaleX(0.95) !important;
    }
    .mat-select-arrow-wrapper
    {
      transform: translateY(0%) !important;
    }
    .mat-form-field-outline
    {
      // border-radius: 20px/80% !important;
      background-color: #f3f6f9;
      top:-1px !important;
    }
    
    .mat-form-field-infix
    {
      padding-top: 5px;
    }
    
    .mat-input-element
    {
      font-size: 15px;
      text-transform: capitalize;
    }
    .mat-form-field-outline-thick
    {
      color: transparent;
    }
  
    .mat-form-field-outline-end
    {
      border-radius: 0px !important;
    }
    
    
  }
  
  // .kt-portlet__body
  // {
  //   height: 400px;
  //   overflow-y: scroll;
    
  // }
  
  .kt-portlet__body::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  .kt-portlet__body::-webkit-scrollbar
  {
      width: 8px;
      background-color: #F5F5F5;
  }
  
  .kt-portlet__body::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: rgb(40, 54, 85);
    background-image: linear-gradient(to bottom, #9c9c9c, #afafaf);
    
  }
  
  
  