.kt-portlet__body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(40, 54, 85);
  background-image: linear-gradient(to bottom, #9c9c9c, #afafaf);
  
}

::ng-deep .mat-tab-label-active
{
  background-color: whitesmoke;
  color: #48566c;
}

::ng-deep .mat-tab-body-content
{
  height: auto !important;
  padding-top: 0px !important;
}

::ng-deep .mat-tab-header
{
  margin-bottom: 10px;
}
  
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  // background-color: #1a6b85 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background 
{
  // background-color: #1a6b85;
}
  
::ng-deep .mat-checkbox-label:not(.dontchange)
{
  // color: #1a6b85;
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .mat-checkbox:not(.dontchange)
{
  background-color: #f3f6f9;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #aad7e6;
  padding-bottom: 0px;
}

::ng-deep .mat-checkbox:not(.dontchange) > label
{
  padding: 10px !important;
}

.input-group-append
{
  // background-color: #1a6b85;
  
}

.input_style
{
  background-color: #f6fafb;
  // border: 1px solid #1a6b85;
}

#button-addon1 i
{
margin-left: 4px;
color: #fff;
}



// ::ng-deep mat-tab-body[id^="mat-tab-content"][id$="-1"] > .mat-tab-body-content
// {
//   height: 300px ;
// }

// ::ng-deep mat-tab-body[id^="mat-tab-content"][id$="-2"] > .mat-tab-body-content
// {
//   height: 300px ;
// }

.role-options
{
    height: 250px;
}
