<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
          <h3 class="kt-portlet__head-text modal-header">
            {{titleName}} <span (click)="onCloseUserDialog()" id="user_close" class="dialog-cross"><i class="fa fa-times float-right"></i></span>
          </h3>
        </div>
      </div>
    </div>
    <!-- form start -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
  
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">
          <mat-tab-group [(selectedIndex)]="currentIndex" >
            <mat-tab label="Details">
              <!-- first row start -->
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row mt-8 mb-5">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="col-form-label">Employee:</label>
                    <div class="form-group kt-form__group mb-0">
                      <!-- <kt-input-field 
                        id="user_username"
                        inputClass="input_transform_none"
                        formControlName="userName" 
                        matFormFieldClass="full-width" 
                        placeholder="Username"
                        [errorMessage]="[{condition: formErrors.userName , error: formErrors.userName}]"
                        (blurEvent)="logValidationErrors(this.userForm, formErrors, validationMessages)">
                     </kt-input-field> -->
                     <kt-simple-dropdown 
                       id="user_username"
                       placeholder="Select User" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="employeeId" 
                       (blurEvent)="logValidationErrors(this.userForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width"
                       [errorMessage]="formErrors.employeeId" 
                       [optionList]="ngxsService.employees$">
                     </kt-simple-dropdown>
                    </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="col-form-label">Email:</label>
                    <div class="form-group kt-form__group mb-0">
                      <kt-input-field 
                        id="user_email"
                        inputClass="input_transform_none"
                        formControlName="email" 
                        matFormFieldClass="full-width" 
                        placeholder="Email"
                        [errorMessage]="[{condition: formErrors.email , error: formErrors.email}]"
                        (blurEvent)="logValidationErrors(this.userForm, formErrors, validationMessages)">
                     </kt-input-field>
                    </div>
                  </div>
  
                  <div *ngIf="!_id" class="col-lg-6 col-md-6 col-sm-6">
                    <label class="col-form-label">Password:</label>
                    <div class="form-group kt-form__group mb-0">
                      <kt-input-field 
                        id="user_password"
                        formControlName="password" 
                        inputClass="input_transform_none"
                        matFormFieldClass="full-width" 
                        placeholder="Password"
                        type="password"
                        (blurEvent)="logValidationErrors(this.userForm, formErrors, validationMessages)"
                        [errorMessage2]="[
                            {
                               condition: (userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('minlength')), 
                               error: 'Must be at least 8 characters!'
                            },
                            {
                              condition: (userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasNumber')), 
                              error: 'Must contain at least 1 number!'
                            },
                            {
                              condition: (userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasCapitalCase')), 
                              error: 'Must contain at least 1 Letter in Capital Case!'
                            },
                            {
                              condition: (userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSmallCase')), 
                              error: 'Must contain at least 1 Letter in Small Case!'
                            },
                            {
                              condition: (userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSpecialCharacters')), 
                              error: 'Must contain at least 1 Special Character!'
                            }]">
                     </kt-input-field>
                    </div>
                  </div>
  
                  <div *ngIf="!_id" class="col-lg-6 col-md-6 col-sm-6">
                    <label class="col-form-label">Confirm Password:</label>
                    <div class="form-group kt-form__group mb-0">
                      <kt-input-field 
                        id="user_confirm_password"
                        type="password"
                        inputClass="input_transform_none"
                        formControlName="confirmPassword" 
                        matFormFieldClass="full-width" 
                        placeholder="Confirm Password"
                        [errorMessage]="[{condition: formErrors.confirmPassword , error: formErrors.confirmPassword}]"
                       (blurEvent)="logValidationErrors(this.userForm, formErrors, validationMessages)">
                     </kt-input-field>
                    </div>
                  </div>
                </div>
              </div>
              <!-- second row start -->
            </mat-tab>
            <mat-tab label="Roles">
              <div class="row mx-auto">
                <ng-container>
                  <div class="col-md-12 search_sticky">
                    <div class="p-1 input_style  shadow-sm mb-4">
                      <div class="input-group">
                        <input type="text" id="user_permissions_search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Search Roles..." aria-describedby="button-addon1" class="form-control border-0">
                        <div class="input-group-append">
                          <button id="button-addon1" type="submit" class="btn btn-link text-primary" disabled><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngFor="let role of userRole | filter:searchText">
                  <div class="col-md-6">
                    <!-- <div class="checkbox-with-label"> -->
                    <mat-checkbox [id]="'user_' + role.roleName" [disabled]="isEditButtonShow || !showButtons" [checked]="role.selected"
                      (change)="onRoleChange(role, $event)">
                      {{role.roleName}}
                    </mat-checkbox>
                    <!-- </div> -->
                  </div>
                </ng-container>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
  
  
      <mat-divider></mat-divider>
      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions ">
          <div class="row">
            <div class="col-lg-12 col-md-8 col-sm-8 col-9">
              <div *ngIf="showButtons" class="float-right">

                <!-- <button class="app-reset-btn mr-2 " id="role_reset" (click)="reset()" type="button" ><i class="fas fa-undo"></i> Reset </button>
                <button  class="app-default-btn " type="submit" id="role_submit"
                (click)="logValidationErrors(this.roleForm, this.formErrors, this.validationMessages)">
                   Submit 
                </button> -->
                <button *ngIf="!isEditButtonShow" class="app-reset-btn mr-2" id="user_reset" type="button" (click)="reset()"><i class="fas fa-undo"></i> Reset</button>
                <button *ngIf="!isEditButtonShow" class="app-default-btn mr-2" type="submit" id="user_submit"
                  (click)="logValidationErrors(this.userForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit
                </button>
                <!--Reset Password-->
                <button (click)="resetPassword()" id="user_reset_password" *ngIf="isEditButtonShow" class="mr-2 app-reset-btn" 
                   type="button"><i class="fa fa-lock"></i> Reset Password
                </button>
                <!--Edit Button-->
                <button *ngIf="isEditButtonShow" id="user_edit" class="app-default-btn" type="button"
                  (click)="toggleEdit()"><i class="fa fa-edit"></i> Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- form ends -->
  </div>