//custom form outline
::ng-deep .mat-form-field {
  .mat-form-field-flex
  {
    background-color: whitesmoke;
    padding-left: 15px !important;
    border-radius: 0px 20px 20px 0px;
  }

  .mat-form-field-ripple
  {
    transform: scaleX(0.95) !important;
  }
  .mat-select-arrow-wrapper
  {
    transform: translateY(0%) !important;
  }
  .mat-form-field-outline
  {
    top:-1px !important;
    border-top: 1px solid #d2d2d2 ;
    border-bottom: 1px solid #d2d2d2 ;
    border-right: 1px solid #d2d2d2 ;
    border-radius: 0px 20px 20px 0px;
    border-left: 3px solid #2f365f;
  }
  .mat-form-field-infix
  {
    padding-top: 5px !important;
  }
  .mat-input-element
  {
    font-size: 15px !important;
    text-transform: capitalize !important;
  }
  // .mat-form-field-outline-thick
  // {
  //   color: transparent !important;
  // }
  // .mat-form-field-outline-end
  // {
  //   border-radius: 0px !important;
  // }

  .mat-form-field-outline-start
  {
    border-radius: 0px;
  }
  .mat-form-field-outline-end
  {
    border-radius: 0px 20px 20px 0px ;
  }
  

}
    
  .kt-portlet__body::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .kt-portlet__body::-webkit-scrollbar
  {
    width: 8px;
    background-color: #F5F5F5;
  }
  
  .kt-portlet__body::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(40, 54, 85);
    background-image: linear-gradient(to bottom, #9c9c9c, #afafaf);
    
  }
  
    
  ::ng-deep .mat-tab-body-content
  {
    height: auto !important;
    padding-top: 0px !important;
  }
  
  ::ng-deep .mat-tab-header
  {
    margin-bottom: 10px;
  }
  
    ::ng-deep .mat-tab-label-active
  {
    background-color: whitesmoke;
    color: #48566c;
  }
  
  ::ng-deep .mat-tab-body-content
  {
    height: auto !important;
  }
    
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #283655 !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #283655;
  }
    
  ::ng-deep .mat-checkbox-label
  {
    color: #2b3259;
    font-size: 14px;
    font-weight: bold;
  }
  
  ::ng-deep .mat-checkbox
  {
    background-color: aliceblue;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #b9ddfd;
    padding-bottom: 0px;
  }
  
  ::ng-deep .mat-checkbox > label
  {
    padding: 10px !important;
  }
  
  
  .font-size-11 {
    font-size: 11px;
    vertical-align: middle;
  }
  
  .material-icons
  {
    vertical-align: middle !important;
    margin-right: 2px !important;
  }
  ::ng-deep .mat-form-field-subscript-wrapper
  {
    padding-left: 0px !important;
  }
  
  
  .input-group-append
  {
    background-color: #262933;
    border-radius: 0px 20px 20px 0px;
    
  }
  
  .input_style
  {
    background-color: aliceblue;
    border: 1px solid #b9ddfd;
  }

  .input_transform_none {
    text-transform: none !important;
  }