::ng-deep .mat-form-field {
  .mat-form-field-flex
  {
    background-color: whitesmoke;
    padding-left: 15px !important;
    // border-radius: 0px 20px 20px 0px;
  }
  .mat-form-field-ripple
  {
    transform: scaleX(0.95) !important;
  }
  .mat-select-arrow-wrapper
  {
    transform: translateY(0%) !important;
  }
  .mat-form-field-outline
  {
    top:-1px !important;
    border-top: 1px solid #d2d2d2 ;
    border-bottom: 1px solid #d2d2d2 ;
    border-right: 1px solid #d2d2d2 ;
    // border-radius: 0px 20px 20px 0px;
    border-left: 3px solid #4a8a9e;
  }
  // .mat-form-field-infix
  // {
  //   padding-top: 0px !important;
  //   top: 2px;
  // }
  // .mat-input-element
  // {
  //   font-size: 15px !important;
  // }
  .mat-form-field-outline-start
  {
    border-radius: 0px !important;
  }
  .mat-form-field-outline-end
  {
    border-radius: 0px 0px !important;
  }
  // .mat-form-field-label
  // {
  //     top: 18px;
  //     color: #a9a9a9;
  //     font-size: 15px !important;
  //     font-weight: 300;
  // }

  .mat-date-placeholder
  {
      color: rgb(133, 133, 133);
  }

  .mat-form-field-wrapper
  {
    margin-top: 0px !important;
  }
  .mat-form-field-label-wrapper
  {
    top: -16px !important;
  }

  .mat-icon-button
  {
    height: 28px !important;
  }
}
  

