<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
            <h3 class="kt-portlet__head-text modal-header"> {{title + formName}}
              <span (click)="onCloseDialog()" id="payment_close" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
            </h3>
        </div>
      </div>
    </div>
  
     <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row mt-1 mb-0">
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Payment Type:</label>
                        <kt-simple-dropdown
                          formControlName="paymentType"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          propertyName="viewValue"
                          propertyValue="id"
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.paymentType"
                          [optionList]="groups"
                          searchPlaceholder="Search Payment Types..."
                          placeholder="Select Payment Type">
                        </kt-simple-dropdown>
                    </div>
                  </div> -->
    
                  <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Payment Date:</label>
                        <kt-date-input
                        id="payment_date"
                          formControlName="date"
                          placeholder="Select Payment Date"
                          matFormFieldClass="full-width"
                          [maxDate]="dateLimit"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="formErrors.date">
                        </kt-date-input>
                    </div>
                  </div>

                  <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Description:</label>
                        <kt-input-field
                        id="payment_description"
                          formControlName="description"
                          placeholder="Enter Description"
                          (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Register Type:</label>
                        <mat-radio-group (change)="loadAccountList($event)" formControlName="registerType" aria-label="Select an option">
                          <mat-radio-button [value]="1">Cash Account</mat-radio-button>
                          <mat-radio-button [value]="2">Bank Account</mat-radio-button>
                        </mat-radio-group>
                    </div>
                  </div> -->
                </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Bank Account:</label>
                        <kt-simple-dropdown
                          id="payment_bank"
                          placeholder="Select Bank Account"
                          [propertyValue]="propertyValue"
                          [propertyName]="propertyName"
                          formControlName="bankAccount"
                          matFormFieldClass="full-width"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="formErrors.bankAccount"
                          [optionList]="(bankAccountList) ? bankAccountList : paymentMaster.paymentRegister?.name">
                        </kt-simple-dropdown>
                    </div>
                  </div>
    
                  <div *ngIf="!isPayrollPayment" class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Business Partner:</label>
                        <kt-simple-dropdown 
                        id="payment_partner"
                          formControlName="businessPartner"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          propertyName="name" 
                          propertyValue="id" 
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.businessPartner"
                          [optionList]="ngxsService.businessPartners$"
                          [buttonPermission]="permission.isGranted(this.permissions.BUSINESSPARTNER_CREATE)"
                          clickEventButtonName="Add New Business Partner"
                          (clickEvent)="addButtonService.openBusinessPartnerDialog()" 
                          placeholder="Select Business Partner">
                        </kt-simple-dropdown>
                    </div>
                  </div>

                  <div *ngIf="isPayrollPayment" class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Employee:</label>
                        <kt-simple-dropdown 
                        id="payment_employee"
                          formControlName="businessPartner"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          propertyName="name" 
                          propertyValue="id" 
                          matFormFieldClass="full-width"
                          [errorMessage]="'Employee is Required.'"
                          [optionList]="ngxsService.employeePayments$"
                          placeholder="Select Employee">
                        </kt-simple-dropdown>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">COA:</label>
                        <kt-simple-dropdown
                        id="payment_coa"
                          placeholder="Select Detailed Head"
                          propertyValue="id"
                          propertyName="name"
                          formControlName="account"
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.account"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [optionList]="ngxsService.accountsLevel4$">
                        </kt-simple-dropdown>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Gross Payment:</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="grossPayment" placeholder="Enter Gross Payment" 
                               id="payment_gross" type="number" (blur)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.grossPayment">
                            <strong>{{formErrors.grossPayment}}</strong>
                          </mat-error>
                          <!-- <mat-hint align="end">Optional</mat-hint> -->
                        </mat-form-field>
                        
                        <!-- <kt-input-field
                        id="payment_gross"
                          formControlName="grossPayment"
                          type = "number"
                          [min]="0"
                          placeholder="Enter Gross Payment"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.grossPayment , error : formErrors.grossPayment }]">
                        </kt-input-field> -->
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Sales Tax W/H (%) :</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="salesTax" placeholder="Enter Sales Tax" 
                               id="payment_sales" type="number" (blur)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.salesTax">
                            <strong>{{formErrors.salesTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                        <!-- <kt-input-field
                        id="payment_sales"
                          formControlName="salesTax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.salesTax , error : formErrors.salesTax }]"
                          placeholder="Enter Sales Tax">
                        </kt-input-field> -->
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Income Tax W/H (%) :</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="incomeTax" placeholder="Enter Income Tax" 
                               id="payment_income" type="number" (blur)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.incomeTax">
                            <strong>{{formErrors.incomeTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                        <!-- <kt-input-field
                        id="payment_income"
                          formControlName="incomeTax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.incomeTax , error : formErrors.incomeTax }]"
                          placeholder="Enter Income Tax">
                        </kt-input-field> -->
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">SRB Tax (%) :</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="SRBTax" placeholder="Enter SRB Tax" 
                               id="payment_srb" type="number" (blur)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.SRBTax">
                            <strong>{{formErrors.SRBTax}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                        <!-- <kt-input-field
                        id="payment_srb"
                          formControlName="SRBTax"
                          placeholder="Enter SRB Tax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.SRBTax , error : formErrors.SRBTax }]">
                        </kt-input-field> -->
                    </div>
                  </div>

                  <div *ngIf="!(isPayrollPayment)" class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                        <label class="col-form-label pt-0">Deduction:</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="deduction" placeholder="Enter Deduction" 
                               id="payment_deduction" type="number" (change)="updateValueValidators($event.target.value)"
                               (blur)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)">
                          <mat-error *ngIf="formErrors.deduction">
                            <strong>{{formErrors.deduction}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="!(isPayrollPayment)" class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Deduction Account:</label>
                      <kt-simple-dropdown 
                      id="deduction_account"
                       placeholder="Select Deduction Account" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="deductionAccountId" 
                       (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width"
                       hintText="Optional"
                       [errorMessage]="formErrors.deductionAccountId" 
                       [optionList]="ngxsService.accountsLevel4$">
                       </kt-simple-dropdown>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group kt-form__group mb-0">
                      <label class="col-form-label pt-0">Campus:</label>
                      <kt-simple-dropdown 
                      id="payment_campus"
                       placeholder="Select Campus" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="campusId" 
                       (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width"
                       [errorMessage]="'Campus is required.'" 
                       [optionList]="ngxsService.campuses$">
                       </kt-simple-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="kt-portlet__foot p-5">
            <div class="kt-form__actions kt-form__actions mb-0">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 float-left">
                  <h6 class="footer-tag">Net Payment: <strong>{{ netPayment | number: "1.2-2" }}</strong></h6>
                </div>
                <div class="col-lg-6">
                  <div class="float-right">
                    <button *ngIf="data.docType !== docType.PayrollPayment" class="mr-2 app-reset-btn" type="button" (click)="reset()" mat-raised-button id="payment_reset"><i class="fas fa-undo"></i> Reset</button>
                    <button class="mr-2 app-save-btn" type="submit" id="payment_save" mat-raised-button
                          (click)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i> Save
                  </button>
                    <button class="app-default-btn" mat-raised-button type="submit" id="payment_submit"
                            (click)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages); isSubmit(1)"><i class="far fa-save"></i>
                        Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
  
  