<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
            <h3 class="kt-portlet__head-text modal-header"> {{title + formName}}
              <span (click)="onCloseDialog()" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
            </h3>
        </div>
      </div>
    </div>
  
     <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Payment Type:</label>
                        <kt-simple-dropdown
                          formControlName="paymentType"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          propertyName="viewValue"
                          propertyValue="id"
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.paymentType"
                          [optionList]="groups"
                          searchPlaceholder="Search Payment Types..."
                          placeholder="Select Payment Type">
                        </kt-simple-dropdown>
                    </div>
                  </div> -->
    
                  <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Date:</label>
                        <kt-date-input
                          formControlName="date"
                          placeholder="Payment Date"
                          matFormFieldClass="full-width"
                          [maxDate]="dateLimit"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="formErrors.date">
                        </kt-date-input>
                    </div>
                  </div>

                  <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Description:</label>
                        <kt-input-field
                          formControlName="description"
                          placeholder="Enter Description"
                          (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Register Type:</label>
                        <mat-radio-group (change)="loadAccountList($event)" formControlName="registerType" aria-label="Select an option">
                          <mat-radio-button [value]="1">Cash Account</mat-radio-button>
                          <mat-radio-button [value]="2">Bank Account</mat-radio-button>
                        </mat-radio-group>
                    </div>
                  </div> -->
                </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Payment Register:</label>
                        <kt-simple-dropdown
                          placeholder="Select Payment Register"
                          searchPlaceholder="Search Accounts..."
                          [propertyValue]="propertyValue"
                          [propertyName]="propertyName"
                          formControlName="paymentRegister"
                          matFormFieldClass="full-width"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="formErrors.paymentRegister"
                          [optionList]="paymentRegisterList?paymentRegisterList:paymentMaster.paymentRegister?.name">
                        </kt-simple-dropdown>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Business Partner:</label>
                        <kt-simple-dropdown 
                          formControlName="businessPartner"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          propertyName="name" 
                          propertyValue="id" 
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.businessPartner"
                          [optionList]="ngxsService.businessPartners$"
                          clickEventButtonName="Add New Business Partner"
                          (clickEvent)="openBusinessPartnerDialog()" 
                          searchPlaceholder="Search Business Partners..."
                          placeholder="Select Business Partner">
                        </kt-simple-dropdown>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">COA:</label>
                        <kt-simple-dropdown
                          placeholder="Select Account"
                          searchPlaceholder="Search Accounts..."
                          propertyValue="id"
                          propertyName="name"
                          formControlName="account"
                          matFormFieldClass="full-width"
                          [errorMessage]="formErrors.account"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [optionList]="ngxsService.accountsLevel4$">
                        </kt-simple-dropdown>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Gross Payment:</label>
                        <kt-input-field
                          formControlName="grossPayment"
                          type = "number"
                          [min]="0"
                          placeholder="Enter Gross Payment"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.grossPayment , error : formErrors.grossPayment }]">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Discount:</label>
                        <kt-input-field
                          formControlName="discount"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.discount , error : formErrors.discount }]"
                          placeholder="Enter Discount">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Sales Tax W/H:</label>
                        <kt-input-field
                          formControlName="salesTax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.salesTax , error : formErrors.salesTax }]"
                          placeholder="Enter Sales Tax">
                        </kt-input-field>
                    </div>
                  </div>
    
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">Income Tax W/H:</label>
                        <kt-input-field
                          formControlName="incomeTax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages)"
                          [errorMessage]="[{ condition : formErrors.incomeTax , error : formErrors.incomeTax }]"
                          placeholder="Enter Income Tax">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group kt-form__group">
                        <label class="col-form-label pt-0">SRB Tax:</label>
                        <kt-input-field
                          formControlName="SRBTax"
                          placeholder="Enter SRB Tax"
                          type = "number"
                          hintText="Optional"
                          (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.SRBTax , error : formErrors.SRBTax }]">
                        </kt-input-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group kt-form__group">
                      <label class="col-form-label pt-0">Campus:</label>
                      <kt-simple-dropdown 
                       placeholder="Select Campus" 
                       propertyValue="id" 
                       propertyName="name"
                       formControlName="campusId" 
                       (blurEvent)="logValidationErrors(paymentForm, formErrors, validationMessages)"
                       matFormFieldClass="full-width input_d_1"
                       [errorMessage]="'Campus is Required'" 
                       [optionList]="ngxsService.campuses$">
                       </kt-simple-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 float-left">
                  <h6 style="margin-bottom: 0; color: #2a3259; font-weight: 600;">Net Payment: <strong>{{ netPayment | number: "1.2-2" }}</strong></h6>
                </div>
                <div class="col-lg-6">
                  <div class="float-right">
                    <button class="mr-3 btn_white" mat-raised-button type="reset">Reset</button>
                    <button mat-raised-button  class="mr-3 sub___btn" type="submit"
                          (click)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages); isSubmit(0)">Save
                  </button>
                    <button mat-raised-button class="sub___btn" type="submit"
                            (click)="logValidationErrors(this.paymentForm, this.formErrors, this.validationMessages); isSubmit(1)">
                        Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
  
  