<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'" [sticky]="false"
                       [title]="'Batch Detail'">
      <ng-container class="" ktPortletTools>
        <!--<div class="ribbon-target " ><span class="ribbon-inner {{docStatus[batchMaster?.state]}}"></span> {{batchMaster?.status}}</div>-->
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 ps-4 pe-4 mx-auto mb-5">
        <div class="row ">
          <div class="btn_container">
            <div class="col-md-6 col-6">
              <ng-container ktPortletTools>
                <!--<button *ngIf="(batchMaster?.state === docStatus.Partial || batchMaster?.state === docStatus.Unpaid)
                      && (batchMaster?.ledgerId) && (permission.isGranted(permissions.RECEIPT_CREATE))"
                        type="button" class="me-3 btn_public" (click)="openDialog()" >
                  <i class="fa fa-edit icon-e-p-a"></i> Register Payment
                </button>-->

                <!--<button *ngIf="(batchMaster?.state === docStatus.Partial || batchMaster?.state === docStatus.Unpaid)
                      && (batchMaster?.ledgerId) && (permission.isGranted(permissions.CREDITNOTE_CREATE))"
                        [routerLink]="'/' + CREDIT_NOTE.CREATE" [queryParams]="{q: batchMaster?.id, isProgram: true}"
                        type="button" class="me-3 btn_public">
                  <i class="fa fa-edit icon-e-p-a"></i> Credit Note
                </button>-->

                <!--(batchMaster?.state === docStatus.Draft || batchMaster?.state === docStatus.Rejected)
                      && -->
                <button *ngIf="(permission.isGranted(permissions.INVOICE_EDIT))"
                        [queryParams]="{q: batchMaster?.id, 'isProgram': true}"
                        [routerLink]="'/' + BATCH.ID_BASED_ROUTE('edit', batchMaster?.id)"
                        class="me-3 btn_public" id="program_edit" type="button"><i class="fa fa-edit icon-e-p-a"></i>
                  Edit
                </button>

                <!--<button *ngIf="(permission.isGranted(permissions.INVOICE_EDIT))" class="btn_public me-3" id="program_attachment"
                        (click)="openFileUploadDialog()" type="button"><i class="fas fa-file-upload icon-e-p-a"></i> Attachment
                </button>-->

                <!--<button [routerLink]="'/' + BATCH.ID_BASED_ROUTE('print', batchMaster?.id)" type="button"
                        class="btn_public" id="program_print">
                  <i class="fa fa-print icon-e-p-a"></i> Print Program
                </button>-->
              </ng-container>

            </div>
            <!--<div class="col-lg-6 text-end" *ngIf="batchMaster?.isAllowedRole">
              <button (click)="remarksDialog(action.Reject)" id="program_reject" class="btn btn-outline-danger font-weight-bold me-2" >Reject</button>
              <button (click)="remarksDialog(action.Approve)" id="program_approve" class="btn btn-outline-success font-weight-bold " >Approve</button>
            </div>-->
          </div>

          <div class="col-md-8 col-lg-8 mt-3">
            <div class="print-box">
              <h4 class="print-box-detail-1"><b>Batch Name:</b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.name}}</span></h4>
              <p style="margin-bottom: 0px;"></p>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Start Date: </b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.startDate | date: 'MMM d, yyy'}}</span></h4>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Semester: </b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.semester}}</span></h4>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Campus: </b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.campus}}</span></h4>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Shift: </b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.shift}}</span></h4>
            </div>
            <div class="print-box">
              <h4 class="print-box-detail-2"><b>Admission Open: </b>
                <span class="float-right" style="font-weight: 400;">{{batchMaster?.isAdmissionOpen ? 'Yes' : 'NO'}}</span></h4>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12 col-12">
            <ag-grid-angular #rowClass (firstDataRendered)="onFirstDataRendered($event)"
                             [columnDefs]="columnDefs" [gridOptions]="gridOptions" [rowData]="batchLines"
                             class="ag-theme-alpine" style="width: 100%; height: 200px; font-size: 14px;">
            </ag-grid-angular>
          </div>
        </div>

        <div class="row mt-5">
          <div *ngIf="remarksList && remarksList.length > 0" class="col-md-7 col-7">
            <kt-show-remarks [remarksList]="remarksList"></kt-show-remarks>
          </div>

          <!--<div *ngIf="bpUnReconPaymentList.length > 0" class="col-md-6 col-6 ">
            <table class="table table-bordered text-center styled-table">
              <thead>
              <tr>
                <th>Doc No</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let unReconPay of bpUnReconPaymentList; let i = index">
                <td>
                  <a class="all-text-primary"
                     [routerLink]="(unReconPay?.docType === 15) ? '/' + RECEIPT.ID_BASED_ROUTE ('details', unReconPay?.id) :
                      (unReconPay?.docType === 5) ? '/' + JOURNAL_ENTRY.ID_BASED_ROUTE ('details', unReconPay?.id) :
                      '/' + CREDIT_NOTE.ID_BASED_ROUTE ('details', unReconPay?.id) ">{{unReconPay.docNo}}</a>
                </td>
                <td>{{valueFormatter(unReconPay.amount)}}</td>
                <td>
                  <button (click)="reconcile(i)" class="app-default-btn" mat-raised-button >Reconcile </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>-->

          <!--<div class="col-lg-4 ms-auto">
            <table class="table small_table_box" >
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Before Tax :</td>
                <td class="text-end" >
                  {{valueFormatter(totalBeforeTax || 0)}}</td>
              </tr>
              <tr>
                <td class="text-left Total-Before-Tax-heading">Total Tax :</td>
                <td class="text-end" >
                  {{valueFormatter(totalTax || 0)}}</td>
              </tr>
              <tr class="grand-total">
                <th class="text-left"
                >Grand Total :</th>
                <th class="text-end" >
                  {{valueFormatter(totalProgramAmount || 0)}}</th>
              </tr>

              <tr *ngIf="paidAmountList.length > 0">
                <td colspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="paid-anount">
                          Paid Amount :
                        </mat-panel-title>
                        <mat-panel-description class="paid-anount-flex-grow">
                          {{valueFormatter(paidAmount || 0)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <table class="table text-center table-bordered">
                        <tr>
                          <th>Doc #</th>
                          <th>Amount</th>
                        </tr>
                        <tr *ngFor="let pay of paidAmountList">
                          <td><a [routerLink]="(pay?.docType === 15) ? ('/' + RECEIPT.ID_BASED_ROUTE('details', pay?.id)) : (pay?.docType === 5) ? ('/' + JOURNAL_ENTRY.ID_BASED_ROUTE('details' , pay?.id)) : ('/' + CREDIT_NOTE.ID_BASED_ROUTE('details' , pay?.id))"
                                 class="all-text-primary">{{pay?.docNo}}</a></td>
                          <td>
                            <a [routerLink]="(pay?.docType === 15) ? ('/' + RECEIPT.ID_BASED_ROUTE('details', pay?.id)) : (pay?.docType === 5) ? ('/' + JOURNAL_ENTRY.ID_BASED_ROUTE('details' , pay?.id)) : ('/' + CREDIT_NOTE.ID_BASED_ROUTE('details' , pay?.id))"
                               class="all-text-primary">{{valueFormatter(pay.amount || 0)}}</a>
                          </td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </td>
              </tr>
              <tr *ngIf="(pendingAmount)">
                <th class="text-end pending-amount">Pending Amount :
                </th>
                <td class="text-end Total-Before-Tax">
                  <b>{{valueFormatter(pendingAmount || 0)}}</b></td>
              </tr>
            </table>
          </div>-->
        </div>

      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

  </kt-portlet>
</div>
