<!-- begin:: Brand -->
<div class="brand flex-column-auto" [ngClass]="brandClasses" id="kt-aside">
  <!--begin::Logo-->
  <a href="javascript:;" routerLink="/" class="brand-logo align-items-center">
	  <!-- <img alt="logo" class="deshboard-logo"  src="../../../../assets/media/logos/logo-wr.png"  /> -->
    <div class="deshboard-logo"></div>
    <!-- <p>{{this.edinfini}}</p> -->
     <!-- <h2 class="mb-0 mt-1 ml-3 tagline-h" *ngIf="this.edinfini !== true"></h2>  -->
     <h2 class="mb-0 mt-1 ml-3 tagline-h" *ngIf="this.sbbu == true">SBBU</h2>
     <!-- <h2 class="mb-0 mt-1 ml-3 tagline-h">SBBU</h2> -->
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <!--begin::Toggle-->
    <button class="brand-toggle btn btn-sm px-0 double-right-arow" id="kt_aside_toggle" (click)="toggleAsideClick()" >
      <span class="svg-icon svg-icon-xl" [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-double-left.svg'"></span>
    </button>
    <!--end::Toolbar-->
  </ng-container>
</div>
<!-- end:: Brand -->
