<!-- <div  class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer" [ngClass]="footerClasses">
	<div [ngClass]="footerContainerClasses" class=" d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="text-dark order-2 order-md-1">
			<span class="text-muted font-weight-bold mr-2 footer-year">{{today | date:'yyyy'}} &copy;</span>
      <a href="http://vizalys.com" target="_blank" class="text-dark-75 text-hover-primary footer-name">Vizalys</a>
		</div>

    <div class="nav nav-dark order-1 order-md-2">

			<a href="http://vizalys.com/app/contact" target="_blank" class="nav-link pl-3 pr-0 footer-link">Contact</a>
		</div>
	</div>
</div>
 -->
