<div class="row mb-4">
  <div class="col-md-12 text-right">
    <button (click)="createUserDialog()" mat-raised-button  class="sub___btn" matTooltip="New User">New User</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ">
    <kt-portlet >
      <kt-portlet-header [sticky]="false" [title]="'Users'" [class]="'card-head-lg'">
      </kt-portlet-header>
      <kt-portlet-body>
          <div class="col-lg-12 col-md-12 my-5">
            <ag-grid-angular
              style="width: 100%; height: 500px;"
              class="ag-theme-alpine"
              [rowData]="userList"
              [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)"
              (rowDoubleClicked)= "onRowDoubleClicked($event)"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [gridOptions]="gridOptions"
              [frameworkComponents]="frameworkComponents"
              [defaultColDef]="defaultColDef"
              [tooltipShowDelay]="5">
          </ag-grid-angular>
          </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
<!-- 
<kt-portlet>
	<kt-portlet-header [sticky]="false" [title]="'Users'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
			<button (click)="createUserDialog()" mat-raised-button id="new_user"  class="btn_white" matTooltip="New User">New User</button>
		</ng-container>
	</kt-portlet-header>
  <kt-portlet-body>
    <div class="col-lg-12 col-md-12 col-sm-12 my-5">
      
    </div>
  </kt-portlet-body>
</kt-portlet> -->
