<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
        printSectionId="main"
        printTitle="Sales Order"
        ngxPrint
        type="button"
        mat-raised-button
        class="app-default-btn" mat-raised-button
        [useExistingCss]="true" style="margin-bottom: 20px;"
        > Print
        </button>
    </div>
  </div>
<div class="col-lg-10 mx-auto" id="main">
  <div class="row">
    <div class="bg-whitee">
      <div class="print_header_area p-s-1">
        <div class="print-col-6 bg__white__logo p-s-1-one">
          <img src="../../../../../assets/media/logos/logo-wr.png" style="height: 100px;" alt="">
          <!-- <p class="slogen-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
          <h1 class="top-heading" style="color: #65c18c ;">SALES ORDER</h1>
        </div>
        <div class="print-col-5 ml-auto p-s-1-two">
          <div class="print-box-one">
            <h4 class="print-box-detail-1">Document No: <span class="float-right" style="font-weight: 400;">{{masterData?.docNo}}</span></h4>
            <p style="margin-bottom: 0px;"></p>
          </div>
          <div class="print-box-two">
            <h4 class="print-box-detail-2">S.O Date: <span class="float-right" style="font-weight: 400;">{{masterData?.salesOrderDate | date: 'MMM d, y'}}</span></h4>
          </div>
          <div class="print-box-two">
            <h4 class="print-box-detail-2">Due Date: <span class="float-right" style="font-weight: 400;">{{masterData?.dueDate| date: 'MMM d, y'}}</span></h4>
          </div>
          <div class="print-box-three">
            <h4>Customer Name: </h4>
            <p>{{masterData?.customer}}</p>
            <p class="p2">24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
          </div>
        </div>
      </div>


      <div class="print_body_area mt-5 p-s-2">
        <div class="print-col-12 p-s-2-two">
          <div class="table-responsive">
            <table class="table text-center">
              <thead class="thead-dark_color">
                <tr class="b-s-2-b-c">
                  <th>S.No</th>
                  <th>Item</th>
                  <th>Description:</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Tax</th>
                  <th>SubTotal</th>
                </tr>
                <tr *ngFor="let line of salesOrderLines ; index as i">
                  <td >{{i + 1}}</td>
                  <td>{{line?.item}}</td>
                  <td class="description text-left">{{line?.description}}</td>
                  <td >{{line?.quantity.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                  <td>{{line?.price.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                  <td>{{line?.tax + '%'}}</td>
                  <td>{{line?.subtotal.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>


        <div class="print-col-6 s-p-6">
          <div class="print-box">
            <p>Thankyou for your Business</p>
          </div>
        </div>

        <div class="print-col-5 ml-auto s-p-7">
          <div class="print-box s-p-7-one">
            <h4>Total Before Tax:
              <span class="float-right">{{totalBeforeTax?.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
            </h4>
          </div>
          <div class="print-box s-p-7-two">
            <h4>Total Tax:
              <span class="float-right">{{totalTax?.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
            </h4>
          </div>
          <div class="print-box s-p-7-three">
            <h4>Grand Total:
              <span class="float-right">{{masterData?.total.toLocaleString(undefined, { maximumFractionDigits: 2 })}}</span>
            </h4>
          </div>
        </div>

        <div class="print-col-3 p-s-4">
          <p class="p-s-4-one">Terms and conditions:</p>
          <div class="print-box p-s-4-two">
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
          </div>
        </div>

        <div class="print-col-4 ml-auto text-center p-s-5">
          ______________________________
          <p>Authorized Sign</p>
        </div>

        

        
      </div>

      <!-- <div class="print-foot-area">
        <div class="print-col-12 text-center">
          <p style="margin-bottom: 0px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
</div>