///* You can add global styles to this file, and also import other style files */
//// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//
//// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";
//
//// Metronic styles
@import "./assets/sass/style.angular.scss";
@import "./assets/sass/vendors/angular/material/angular-material";
@import "./assets/sass/vendors/angular/material/include";
//
//// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";

// For Ag Grid
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

// toast
// @import '~ngx-toastr/toastr';

// Header themes
// .header-base-light {
//   @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//   @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//   @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//   @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// $bg-gradient-color: linear-gradient(to right, #1a6b85, #4a8a9e);
// $New-bg-gradient-color: linear-gradient(to right, rgba(101, 193, 140, .2), #65c18c );
$New-bg-gradient-color: linear-gradient(to right, #769157, #65c18c );
$bg-white: #fff;
$text-color:#1a6b85;
$New-primary-color:#65c18c;
$New-primary-light-color:#F3F6F9;
$New-primary-light-color-1:rgba(101, 193, 140, 0.1);
$New-primary-light-color-2:rgba(101, 193, 140, 0.2);
$New-primary-light-color-3:rgba(101, 193, 140, 0.3);
$New-primary-light-color-4:rgba(101, 193, 140, 0.4);
$New-primary-light-color-5:rgba(101, 193, 140, 0.5);
$New-Secondary-color:#141e27;
$New-text-hover-color:rgba(20, 30, 39, 0.5);
$New-Bg-Light-color:rgba(20, 30, 39, 0.1);
$text-color2:#cba058;

.dropdown-toggle::after {
	display: none !important;
}


body
{
  background-color: #fff;
  color: $New-primary-color ;
}

.app-text-primary
{
  color: $New-primary-color !important;
}

// sidebar css
// #kt_aside_menu_wrapper{
//   background-color: $New-primary-color !important; 
//   /* For browsers that do not support gradients */
// }
#kt_aside_menu{
  background-color: $New-primary-color !important; /* For browsers that do not support gradients */
	// background-image: $New-bg-gradient-color;
 height: 90vh !important;
}
.brand-dark .brand{
  background-color: #fff !important; /* For browsers that do not support gradients */
}

// btn-design
.btn_white
{
  background-color: $bg-white !important;
  color: $New-primary-color !important;
  letter-spacing: 1px;
  // border-radius: 15px / 60% !important;
  // box-shadow: 0px 0px 3px #9e9e9e !important;
}
.sub___btn
{
  background-color: $New-primary-color;
  background-image: $New-bg-gradient-color; 
  color: $bg-white !important; 
  font-size: 14px;
  // border-radius: 15px/60% !important;
}
.sub___btn i
{
  font-size: 14px;
}

.save___btn
{
  background-color: #e4e6ef;
  color: #2a3158 !important;
  font-size: 14px;
  border-radius: 15px/60% !important;
  border: 2px solid #2f365f !important;

}

.save___btn i
{
  font-size: 14px;
}



// card box
kt-portlet-header
{
  // background-image: linear-gradient(135deg, #293055 32%, #ffffff 0%);
  color: #1a6b85;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card.card-custom > .card-header
{
  min-height: 50px;
}
.card.card-custom > .card-body
{
  padding: 10px;
}
.card-label
{
  color: $New-primary-color !important;
}

// dialogue body 
.kt-portlet__body
{
  padding: 10px;
}

.kt-portlet__head-text{
  // background-image: linear-gradient(135deg, #49899d 45%, #f2f2f2 0%);
  color: $New-primary-color;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px auto;
}


// ag grid 
.ag-watermark
{
  display: none !important;
}
.ag-header
{
  background-color: #eaf2f4 !important;
}
// .ag-theme-alpine
// {
//   width: 100%; height: 500px; margin-top: 10px;
// }
.ag-header-cell-text
{
  color: $New-primary-color !important;
  // font-family: sans-serif !important;

  // font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: 500;
}
.ag-theme-alpine .ag-header-cell-resize::after
{
  background-color: rgb(186, 191, 199) !important;
}

// custom classes
.full-width
{
  width: 100% !important;
}
.disable {
  color            : grey !important;
  background-color : lightgray !important;
}

.col-form-label
{
  font-weight: 600 !important;
  padding-bottom: 6px;
  color: $New-primary-color !important;
}

.dialog-cross 
{
  cursor: pointer;
}
.dialog-cross i
{
  font-size: 20px;
}

.form-group
{
  margin-bottom: 0px !important;
}

// dialogue
.mat-dialog-container
{
  padding: 0px !important;
}

// sticky footer area
#kt_body
{
  min-height: 100vh;
}
.flex-root
{
  height: 100%;
}
.kt-portlet__foot
{
  padding: 15px 20px;
  background-color: #fff;
}
kt-footer
{
  margin-bottom: -15px;
}





// custom Loading

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $bg-white;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.custom-loading-container {
  background: rgba(0, 0, 0, 0.12) none repeat scroll 0% 0%;
  z-index: 10;
}

.custom-loading-parent-div{
  width: 150px!important;
  height: 150px!important;
}

.custom-loading {
  display: flex;
  justify-content: center;
}

.custom-loading::after {
  content: "";
  border-radius: 50%;
  animation: custom-loading 1s ease infinite;
}

.single-content::after {
  border: 2px solid $bg-white;
  border-top-color: $New-primary-color;
  height: 2rem;
  width: 2rem;
}

.whole-content::after {
  border: 5px solid $bg-white;
  border-top-color: $New-primary-color;
  height: 4rem;
  width: 4rem;
}

@keyframes custom-loading {
  to {
    transform: rotate(1turn);
  }
}



// 
.remove-icon {
  padding: 8px 10px;
  text-align: center;
  border-radius: 20px;
  margin-right: 5px;
  background: #ffffff;
  color: white;
  height: 35px;
  width: 35px;
  border: 0px;
  transition: 0.6s;
  margin-top: -10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.remove-icon i {
  margin-right: 0px;
  color: red;
  padding-right: 0px;
}


.btn_create {
  margin: 10px 0px;
  background: transparent;
  border: 0px;
  color: $New-primary-color;
  font-weight: bold;
  text-decoration: underline;
}

.btn_create i {
  color: #819fcb;
  font-size: 10px;
}

.mat-elevation-z8
{
  box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px !important;
}

// .mat-header-cell:nth-child(even)
// {
//   background-color: #9e9e9e33;
// }



.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}


// print
// .print_main
// {
//   width: 100%;
//   background-color: #fff;
//   padding: 50px 0px !important;

//   .print_header
//   {
//     background-color: #f2f2f2;
//     padding: 20px;
//     display: flex;
//     flex-wrap: nowrap;
//   }
// }
// .p-logo
// {
//   img{
//     height: 80px;
//   }  
// }

.form-group label
{
  width: 100% !important;
}



// table-responsive
.table-responsive {
  
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  
  .mat-cell,
  .mat-header-cell {
      // display: table-cell;
      text-align: center;
      vertical-align: middle;
  }
}


.small_table_box th, .small_table_box td
{
  // border: 1px solid #2B335C1F !important;
}

//Approve and Reject Buttons
.success__btn {
  color: $New-primary-color;
  background: $New-primary-light-color-2 ;
  border: 1px solid $New-primary-color !important;
}

.danger__btn {
  color: #721c24;
  background: #f8d7da linear-gradient(180deg,#f9dde0,#f8d7da) repeat-x;
  border: 1px solid #721c24 !important;
  margin-right: 5px !important;
}




.overall_statuses
{
  position: sticky;
  padding: 10px 15px;
  // border-radius: 15px/60%;
  // box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  margin-bottom: 0px;
  font-weight: 500;
}

.overall_statuses.Approved, .overall_statuses.Paid, .overall_statuses.Submitted
{
  background: $New-primary-light-color-1;
  color: $New-primary-color;
}

.overall_statuses.Draft, .overall_statuses.Reconciled , .overall_statuses.Reviewed, .overall_statuses.In , .overall_statuses.Partial
{
  background: #f5c5192e;
  color: #f5c519;
}

.overall_statuses.Unpaid, .overall_statuses.Rejected
{
  background: #ff6a6a26;
  color: #ff6a6a;
}

// .overall_statuses
// {
//   background: #ff6a6a26;
//   position: sticky;
//   padding: 10px 15px;
//   color: #ff6a6a;
//   border-radius: 15px/60%;
//   box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
//   margin-bottom: 0px;
//   font-weight: 500;
// }


mat-tab-body[id^="mat-tab-content"][id$="-1"] > .mat-tab-body-content
{
  height: 300px !important;
}

mat-tab-body[id^="mat-tab-content"][id$="-2"] > .mat-tab-body-content
{
  height: 300px !important;
}


div.search_sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 100;
  background-color: white;
}


.input_transform_none {
  text-transform: none !important;
}

.ag-noData {
  padding: 8px; 
  border-radius: 5px; 
  border: 1px solid #D3D3D3; 
  background: white
}

.brand
{
  height: 90px;
}

.brand-logo img
{
  height: 44px;
  width: 110px;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item > .menu-link .menu-text
{
  color: #fff;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item > .menu-link .menu-icon
{
  color: $bg-white;
}

// .card-box-dashboard-one,
// .card-box-dashboard-two,
// .card-box-dashboard-three,
// .card-box-dashboard-four{
//   color: $New-primary-color;
// }
// .card-box-dashboard-one .three{
//   color: #1d6d86 !important;
// }
// .card-box-dashboard-two .three{
//   color: #1BC5BD !important;
// }
// .card-box-dashboard-three .three{
//   color: #FFA800 !important;
// }
// .card-box-dashboard-four .three{
//   color: #F64E60 !important;
// }

.footer-brand-name.text-dark-75{
  color: $New-primary-color !important;
}

.deshboard-scrool-top{
background-color: $New-primary-color !important;
}
.deshboard-scrool-top .svg-icon svg path{
  fill: $bg-white !important;
}
.deshboard-scrool-top .svg-icon svg rect{
  fill: $bg-white !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link
{
  background-color: #ffffff38;
}

.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon
{
  color: white;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link
{
  background-color: #ffffff38;
}

.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link
{
  background-color: #ffffff38;
}

// .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon
// {
//   background-color: #ffffff38;
// }


.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link
{
  background-color: #ffffff38;
}

.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon
{
  color: #fff;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link
{
  background-color: #ffffff38;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-dot > span, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span
{
  color: #1a6b85;
  background-color: #1a6b85;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text
{
  color: #fff;
}

.brand-dark .brand .btn .svg-icon svg g [fill]
{
  fill: $New-primary-color;
}

.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon
{
  color: #fff;
}

.aside .aside-menu.ps > .ps__rail-y > .ps__thumb-y {
  background: $New-Secondary-color !important;
  opacity: 1 !important;
}

.ps__thumb-y{
  right: -4px !important;
  position: absolute !important;
}

.home-date-today{
  color: $New-text-hover-color !important;
  // background-color: $New-Bg-Light-color !important;

}


.home-date-today-second{
  color: $New-primary-color !important;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow, .aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow
{
  color: #fff;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span
{
  background-color: #ffffff;
}
// .ag-header
// {
//   min-height: 35px !important;
// }

.ag-header-row
{
  height: 30px !important;
  
}

.ag-header-viewport{
  background-color: $New-primary-light-color;
}

.header-user-name{
  font-size: 16px;
  color: $New-primary-color;
}

.header-user-icon{
  background-color: $New-primary-color;
  color: $bg-white;
  padding: 8px !important;
  font-size: 10px !important;
  border-radius: 20px !important;
}
.header-user-dropdown{
  
  color: $New-text-hover-color !important;
  
}

.btn:hover {
  color: $New-primary-color !important;
  text-decoration: none;
}

// top header
.header .header-menu .menu-nav > .menu-item.menu-item-here > .menu-link, .header .header-menu .menu-nav > .menu-item.menu-item-active > .menu-link
{
  background-color: $New-primary-light-color !important;
}

// .header .header-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text, .header .header-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text
// {
//   color: $New-primary-light-color !important;
// }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
{
  background-color: $New-primary-color;
}

@media (min-width: 992px){
  .header .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
      color: #217089;
      font-weight: 500;
  }
  .header .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text, .header .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text
  {
    color:#217089;
  }
}


.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-dot > span, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span
{
  background-color: #217090 !important;
}

.aside-minimize .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link > .menu-icon, .aside-minimize .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link > .menu-icon
{
  color:#217089;
}


.aside-minimize .aside-menu .menu-nav > .menu-item > .menu-link > .menu-icon
{
  color: #fff;
}



.user-card {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f6fafb;
  border-top: 2px solid $New-primary-color;
}

.user-info .lead-text, .user-info .sub-text {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.user-avatar, [class^=user-avatar]:not([class*=-group]) {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  background: $New-primary-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .06em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
}

.header-changePassword{
  color:$New-primary-color !important;
   cursor: pointer;
}

.user-avatar+.user-info, [class^=user-avatar]:not([class*=-group])+.user-info {
  margin-left: 1rem;
}
.user-card .user-info {
  color: #8094ae;
}

.nk-header .dropdown-menu .lead-text {
  color: #364a63;
}

.lead-text {
  font-size: .875rem;
  font-weight: 700;
  color: #364a63;
  display: block;
}

.sub-text {
  color: #8094ae;
}

.lead-text+.sub-text {
  font-size: 12px;
}

.btn_public
{
  font-size: 14px;
  background: none;
  border: 0;
  color: $New-primary-color;
  // background-color: #f6fafb;
}

.btn_public i
{
  font-size: small;
}

.aside-minimize .tagline-h
{
  display: none !important;
}

// .ag-theme-alpine .ag-cell
// {
//   line-height: 25px !important;
// }
.ag-theme-alpine .ag-ltr .ag-cell
{
  font-size: 13px;
}

// .ag-theme-alpine .ag-row
// {
//   height: 30px !important;
// }

.top-menu-link{
 background-color: $New-primary-light-color !important;
 color: $New-Secondary-color !important;
}
.header-menu .menu-nav .menu-item-rel .menu-link .menu-text{
 color: $New-Secondary-color !important;
}

.brand-toggle .svg-icon svg path{

  fill: $New-primary-color !important;

}

.ag-row-hover:hover{
  background-color: $New-primary-light-color !important;
}

.mat-form-field .mat-form-field-outline {
  top: -1px !important;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-left: 3px solid $New-primary-color !important;
}

.form-input-filed , .input_style{
  background-color: #f6fafb;
    border: 1px solid $New-primary-color !important;
}

.input-group-search-icon ,.input-group-append{
  background-color: $New-primary-color !important;
}

.mat-checkbox-layout .mat-checkbox-label{
  color: $New-primary-color !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px;
}

.ng-star-inserted .mat-checkbox{
  border: 1px solid $New-primary-light-color-4 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: $New-primary-color !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  color: $New-primary-color;
}

.mat-radio-checked .mat-radio-outer-circle {
  background-color:  $New-primary-color !important;
  background-image: linear-gradient(to right, $New-primary-color, $New-primary-color) !important;
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  color:  $New-primary-color !important;
}

.mat-radio-outer-circle {
  border-color: $New-primary-color !important;
}

.appearance {
  background-color: $New-primary-color;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 400;
}

.appearance::after {
  content: "";
  position: absolute;
  top: 27%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $New-primary-color transparent transparent;
}


.Bank-Statement{
  font-weight: bold;
   margin-bottom: 0;
   padding: 15px 0px;
   color: $New-primary-color !important;
}

.mat-checkbox-frame {
  border-color: $New-primary-color !important;
}

.Net-Payment{
  margin-bottom: 0;
   color: $New-primary-color !important;
    font-weight: 600;
}

.mat-header-cell {
  color: $New-primary-color;
  font-weight: bold;
  font-size: 15px;
  border-right: 2px solid #88a9d733;
}

.Total-Debit{
  background-color: whitesmoke;
   color: $New-primary-color;
    padding: 10px 0px;
     font-size: 15px;
}

.Total-Before-Tax{
  background-color:$New-Bg-Light-color;
  font-weight: bold;
  color: $New-primary-color !important;
}

.Total-Before-Tax-heading{
  width: 70%;
  color: $New-primary-color !important;
}
.Total-Before-Tax-heading-last{
  width: 70%;
  background: $New-primary-color !important;
  color: $bg-white;
}

.amount
{
  padding-right: 20px;
  font-weight: 600;
  color: $New-primary-color !important;
  font-size: 16px;
}

.tree_arrow
{
    background-color: $New-primary-color !important;
    color: #ffffff;
    margin-right: 15px;
    border-radius: 25px;
}

mat-tree-node div[id^='demo']
{
    background: #efefef;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px 0px 20px 20px;
    padding: 5px 0px;
    color: $New-primary-color !important;
    font-weight: bold;
}

.mat-header-row
  {
    // background-color: #8aacdb85;
    background-color: $New-primary-light-color-5;
    min-height: 46px;
  }

  .mat-radio-container .mat-radio-outer-circle{
    border-radius:2px;
    border-color: $New-primary-color !important ;
  }

  ::ng-deep .mat-slide-toggle-bar{
    background-color: $New-primary-color !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: $New-primary-color !important;
  }

  .registaer-payment-filter{
    color: $New-primary-color !important;
  }

  .mat-form-field .mat-form-field-flex
  {
    background-color: whitesmoke;
    padding-left: 15px !important;
    height: 32px !important;
  }

  .mat-form-field .mat-input-element {
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.mat-form-field .mat-select {
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.mat-form-field .mat-form-field-infix {
  padding-top: 0px !important;
  top: -3px;
}

.mat-checkbox:not(.dontchange) > label {
  padding: 4px 4px 4px 10px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1.2em !important;
}

.mat-form-field-label
{
    top: 18px;
    color: #a9a9a9;
    font-size: 12px !important;
    font-weight: 300;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.54375em !important;
  margin-top: -0.25em;
}

.ag-header-group-cell-label .ag-header-group-text{
  color: $New-primary-color !important;
}

.ag-header
{
  height: 36px !important;
  min-height: 36px !important;
}
.ag-header-row
{
  height: 100% !important;
}
.ag-theme-alpine .ag-row
{
  height: 30px !important;
}
.ag-theme-alpine .ag-cell
{
  line-height: 30px !important;
}
.ag-header-cell-text
{
  font-weight: 500;
}



.print-formate .bg-white
{
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 5%;
  border-bottom: 10px solid #1e6e87;
}


// Header Area Start


.logo_and_title{
  display: flex;
  align-items: center;
}
.logo_and_title span
{
  margin-left: 12px;
  font-size: 22px;
  font-weight: 500;
  color: $New-primary-color;
}

.printout0-date{
  font-size: 16px; letter-spacing: 3px; font-weight: 600; color: #65c18c; margin-top: 10px;
}

.printout0-date span{
  font-weight: 400;
  color: $New-primary-color;
}
.id_num
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// .id_num span
// {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: right;
//   font-size: 20px;
//   font-weight: 500;
//   color: white;
// }
// header area End

// Body Area Start
.print_body_area
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


// Body Area end



// Columns Area Start
.print-col-3
{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.print-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.print-col-5 {
  flex: 0 0 43.6666666667%;
  max-width: 45.6666666667%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.print-col-6
{
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
  margin: auto;
}
.print-col-12
{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}
// Columns Area END

i {
  font-size: get($icon-sizes, md);
  color: $New-primary-color;
}

.kt-portlet__body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.kt-portlet__body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(40, 54, 85);
  background-image: linear-gradient(to bottom, #9c9c9c, #afafaf);
}

::ng-deep .mat-tab-label-active
{
  background-color: whitesmoke;
  color: #48566c;
}

::ng-deep .mat-tab-body-content
{
  height: auto !important;
  padding-top: 0px !important;
}

::ng-deep .mat-tab-header
{
  margin-bottom: 10px;
}
  
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #1a6b85 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background 
{
  background-color: #1a6b85;
}
  
::ng-deep .mat-checkbox-label:not(.dontchange)
{
  color: #1a6b85;
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .mat-checkbox:not(.dontchange)
{
  background-color: #f3f6f9;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #aad7e6;
  padding-bottom: 0px;
}

// ::ng-deep .mat-checkbox:not(.dontchange) > label
// {
//   padding: 10px !important;
// }

.input-group-append
{
  background-color: $New-primary-color;
}

.input_style
{
  background-color: #f6fafb;
  border: 1px solid $New-primary-color;
}


#button-addon1 i
{
  margin-left: 4px;
  color: #fff;
}

.mat-tab-label{
  color: $New-primary-color !important;
}

.form-control {
		color: $New-Secondary-color !important;
}
.text-primary {
		color: $New-primary-color !important;
}
.small_table_box {
		color: $New-primary-color !important;
}
.text-hover-primary {
		color: $New-primary-color !important;
}
.text-hover-primary:hover {
		color: $New-primary-color !important;
}

.scrolltop{
  background-color: $New-primary-color !important;
}






// .aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow, .aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow
// {
//   color: #fff;
// }