<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-caption">
        <div class="kt-portlet__head-title">
          <h3 class="kt-portlet__head-text modal-header">
            {{title}} <span (click)="onCloseStatusDialog()" id="status_close" class="dialog-cross"><i class="fa fa-times float-right"></i></span>
          </h3>
        </div>
      </div>
    </div>
    <form [formGroup]="statusForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">
          <!-- first row start -->
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="row mt-8 mb-5">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="col-form-label">Status:</label>
                <div class="form-group kt-form__group mb-0">
                  <kt-input-field
                  id="status_name"
                   formControlName="status"
                   placeholder="Enter Status"
                   (blurEvent)="logValidationErrors(this.statusForm, this.formErrors, this.validationMessages)"
                   [errorMessage]="[{ condition : formErrors.status , error : formErrors.status }]">
                  </kt-input-field>
                </div>
              </div>
  
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="col-form-label">Select State:</label>
                <div class="form-group kt-form__group mb-0">
                  <kt-simple-dropdown 
                  id="status_state"
                    formControlName="state"
                    (blurEvent)="logValidationErrors(this.statusForm, this.formErrors, this.validationMessages)"
                    propertyName="viewValue" 
                    propertyValue="id" 
                    matFormFieldClass='full-width'
                    [errorMessage]="formErrors.state" 
                    [optionList]="workflowStates" 
                    searchPlaceholder="Search state..."
                    placeholder="Select state">
                  </kt-simple-dropdown>
                </div>
              </div>
            </div>
          </div>
          <!-- first row end -->
        </div>
        <!-- form section end -->
      </div>
  
      <mat-divider></mat-divider>
      <div class="kt-portlet__foot p-5">
        <div class="kt-form__actions row">
          <div class="col-lg-12 col-md-8 col-sm-8 col-9">
            <div class="float-right">
              <button *ngIf="!isEditButtonShow" class="mr-2 app-reset-btn" id="status_reset" type="button" (click)="reset()"><i class="fas fa-undo"></i> Reset</button>
              <button *ngIf="!isEditButtonShow" class="mr-2 app-default-btn" type="submit" id="status_submit"
                (click)="logValidationErrors(this.statusForm, this.formErrors, this.validationMessages)"><i class="far fa-save"></i> Submit</button>
              <button *ngIf="isEditButtonShow" class="app-edit-btn" id="status_edit" type="button" (click)="toggleEdit()"><i
                  class="fas fa-edit"></i> Edit
              </button>
  
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>