<div [ktBusy]="isLoading" class="kt-portlet" style="overflow : hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <h3 class="kt-portlet__head-text modal-header"> {{title}} 
                    <span (click)="onCloseDialog()" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>                    
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body" >
            <!-- form first section starts -->
            <div class="kt-form__section kt-form__section--first">
               
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- first row starts -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Product Name:</label>
                                <kt-input-field
                                    formControlName="name"
                                    placeholder="Enter Name"
                                    (blurEvent)="logValidationErrors(this.productForm, formErrors, validationMessages)"
                                    [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                                </kt-input-field>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Category:</label>
                                <kt-simple-dropdown
                                    placeholder="Category"
                                    matFormFieldClass="full-width"
                                    formControlName="category"
                                    (blurEvent)="logValidationErrors(this.productForm, this.formErrors, this.validationMessages)"
                                    [optionList]="ngxsService.categories$"
                                    clickEventButtonName="Add New Category"
                                    (clickEvent)="openCategoryDialog()"
                                    propertyValue="id"
                                    propertyName="name"
                                    [errorMessage]="formErrors.category"
                                    searchPlaceholder="Search Category...">
                                </kt-simple-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- first row ends -->
                    <!-- second row starts -->
                    <div class="row mb-4">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Product Type:</label>
                                <div class="kt-radio-list">
                                    <mat-radio-group 
                                    formControlName="productType"
                                    (change)="logValidationErrors(this.productForm, this.formErrors, this.validationMessages)">
                                        <mat-radio-button [value]="0">Consumable</mat-radio-button>
                                        <mat-radio-button [value]="1">Service</mat-radio-button>
                                        <mat-radio-button [value]="2">Fixed Asset</mat-radio-button>
                                        <!-- <mat-radio-button>Consumable</mat-radio-button>
                                        <mat-radio-button>Service</mat-radio-button>
                                        <mat-radio-button>Fixed Asset</mat-radio-button> -->
                                        <mat-error *ngIf="formErrors.productType">
                                            <strong style="font-size: 8px;">{{formErrors.productType}}</strong>
                                        </mat-error>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">&nbsp;</label>
                                <div class="kt-radio-list">
                                    <mat-radio-group 
                                    formControlName="purchasedOrSold"
                                    (change)="logValidationErrors(this.productForm, this.formErrors, this.validationMessages)">
                                        <mat-radio-button [value]="1">Purchased</mat-radio-button>
                                        <mat-radio-button [value]="2">Fixed Asset</mat-radio-button>
                                        <mat-error *ngIf="formErrors.purchasedOrSold">
                                            <strong style="font-size: 8px;">{{formErrors.purchasedOrSold}}</strong>
                                        </mat-error>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- second row ends -->
                    <!-- third row starts -->
                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Sales Price:</label>
                                <kt-input-field
                                    formControlName="salesPrice"
                                    placeholder="Enter Sales Price"
                                    [hintText]="'Optional'">
                                </kt-input-field>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Purchase Price:</label>
                                <kt-input-field
                                    formControlName="purchasePrice"
                                    placeholder="Enter Price"
                                    [hintText]="'Optional'">
                                </kt-input-field>
                            </div>
                        </div>
                    </div>
                    <!-- third row ends -->
                    <!-- fourth row starts -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Sales Tax:</label>
                                <kt-input-field
                                    formControlName="salesTax"
                                    placeholder="Enter Sales Tax"
                                    [hintText]="'Optional'">
                                </kt-input-field>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group kt-form__group">
                                <label class="col-form-label pt-0">Barcode:</label>
                                <kt-input-field
                                    formControlName="barcode"
                                    placeholder="Enter Barcode"
                                    [hintText]="'Optional'">
                                </kt-input-field>
                            </div>
                        </div>
                    </div>
                    <!-- fourth row ends -->
                </div>
                
                
                
                
            </div>
            <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>
        <!-- portlet footer start -->
        <div class="kt-portlet__foot" >
            <!-- form action starts -->
            <div class="kt-form__actions kt-form__actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-right">
                            <button class="mr-3 btn_white" mat-raised-button type="reset" (click)="reset()">Reset</button>
                            <button mat-raised-button class="sub___btn" type="submit"
                            (click)="logValidationErrors(this.productForm, this.formErrors, this.validationMessages)">Submit
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!-- form action ends-->
        </div>
        <!-- portlet footer ends -->
    </form>
    <!-- form ends -->
</div>
