::ng-deep .mat-mdc-radio-group {
  display: flex;
}

:host ::ng-deep .mdc-radio__outer-circle{
  border-radius: 2px;
  border-color: #1a6b85 !important;
}

:host ::ng-deep .mdc-radio__inner-circle{
  border-radius: 2px;
  background-color: transparent!important;
  height: 30px;  
  width: 15px;
  margin-top: -8px;
  margin-left: 3px;
  border-width: unset;
}

:host ::ng-deep .mat-mdc-radio-checked .mdc-radio__outer-circle{
  background-color: #1a6b85;
  opacity: 1 !important;
  background-image: linear-gradient(to right, #1a6b85, #1a6b85);
}

:host ::ng-deep .mat-mdc-radio-checked .mdc-radio__inner-circle{
  opacity: 1 !important;
  transform: rotate(45deg) scale(0.5) !important;
}

.product-type-label {
  width: unset !important;
}

:host ::ng-deep .mdc-label {
  color: #1a6b85 !important;
}