<div [ktBusy]="isLoading">
    <kt-portlet>
      <kt-portlet-header [sticky]="false" [title]="title" [class]="'card-head-lg'"></kt-portlet-header>
      <!--begin::Form-->
  
      <form [formGroup]="purchaseOrderForm" (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right" #formDirective="ngForm">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">
  
            <div class="col-md-12 col-sm-12 col-lg-12">
              <div class="row mt-1 mb-0">
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Vendor:</label>
                      <kt-simple-dropdown
                      propertyName="name"
                      id="purchase_vendor_name"
                      propertyValue="id"
                      placeholder="Select Vendor"
                      matFormFieldClass="full-width"
                      (blurEvent)="logValidationErrors(this.purchaseOrderForm, this.formErrors, this.validationMessages)"
                      formControlName="vendorName"
                      [optionList]="ngxsService.businessPartners$"
                      [buttonPermission]="permission.isGranted(this.permissions.BUSINESSPARTNER_CREATE)"
                      clickEventButtonName="Add New Vendor"
                      (clickEvent)="addButtonService.openBusinessPartnerDialog()" 
                      [errorMessage]="formErrors.vendorName">
                    </kt-simple-dropdown>
                  </div>
                </div>
  
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Contact:</label>
                      <kt-input-field
                      id="purchase_contact"
                        formControlName="contact"
                        placeholder="Enter Contact"
                        hintText="Optional"
                        (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                        [errorMessage]="[{ condition : formErrors.contact , error : formErrors.contact }]">
                        </kt-input-field>
                        <!-- <mat-form-field appearance="outline" class="full-width">
                          <input matInput formControlName="contact" placeholder="Enter Contact" 
                               (blur)="logValidationErrors(this.purchaseOrderForm, this.formErrors, this.validationMessages)"
                               id="purchase_contact" type="number">
                          <mat-error *ngIf="formErrors.contact">
                            <strong>{{formErrors.contact}}</strong>
                          </mat-error>
                          <mat-hint align="end">Optional</mat-hint>
                        </mat-form-field> -->
                  </div>
                </div>
  
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">P.O Date:</label>
                      <kt-date-input
                        formControlName="PODate"
                        placeholder="Select P.O Date"
                        matFormFieldClass="full-width"
                        (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                        [errorMessage]="formErrors.PODate"
                        [maxDate]="maxDate">
                      </kt-date-input>
                  </div>
                </div>
  
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Due Date:</label>
                      <kt-date-input
                        formControlName="dueDate"
                        placeholder="Select Due Date"
                        (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                        [errorMessage]="formErrors.dueDate"
                        [minDate]="minDate"
                        matFormFieldClass="full-width"
                        dateCondition="dateCondition"
                        dateMessage="Purchase Order">
                      </kt-date-input>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="form-group kt-form__group mb-0">
                    <label class="col-form-label pt-0">Campus:</label>
                      <kt-simple-dropdown
                        formControlName="campusId"
                        propertyName="name"
                        id="purchase_campus"
                        propertyValue="id"
                        (selectionChange)="onCampusSelected($event.value)"
                        matFormFieldClass="full-width "
                        [errorMessage]="formErrors.campusId"
                        (blurEvent)="logValidationErrors(this.purchaseOrderForm, this.formErrors, this.validationMessages)"
                        [optionList]="ngxsService.campuses$"
                        placeholder="Select Campus">
                      </kt-simple-dropdown>
                  </div>
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="">
                    <ng-container formArrayName="purchaseOrderLines">
                      <div class="table-responsive">
                        <mat-table #table [dataSource]="purchaseOrderForm.get('purchaseOrderLines')['controls']">
                          <!-- Account Column -->
                          <ng-container matColumnDef="itemId">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-simple-dropdown
                                      placeholder="Select Item"
                                      formControlName="itemId"
                                      [id]="'purchase_item_' + i"
                                      [optionList]="ngxsService.products$"
                                      [buttonPermission]="permission.isGranted(this.permissions.PRODUCT_CREATE)"
                                      clickEventButtonName="Add New Item"
                                      (clickEvent)="addButtonService.openProductDialog()"
                                      propertyName="productName"
                                      propertyValue="id"
                                      matFormFieldClass="mobile-label full-width"
                                      [errorMessage]="'Item is required.'"
                                      (selectionChange)="onItemSelected($event.value,i)">
                                    </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!--Partner Column-->
                          <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Description</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-input-field
                                [id]="'purchase_description_' + i"
                                      formControlName="description"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Description"
                                      (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.description.errors?.required &&
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.description.touched ,
                                                        error : 'Description is required.' }]">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Description Column -->
                          <ng-container matColumnDef="accountId">
                            <mat-header-cell [hidden]="true" *matHeaderCellDef class="flex-1"> COA</mat-header-cell>
                            <mat-cell [hidden]="true" *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-simple-dropdown
                                      placeholder="Select Detailed Head"
                                      [id]="'purchase_account_' + i"
                                      propertyValue="id"
                                      propertyName="name"
                                      formControlName="accountId"
                                      matFormFieldClass="mobile-label full-width"
                                      errorMessage="Account is required."
                                      [optionList]="ngxsService.accountsLevel4$">
                                    </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Debit Column -->
                          <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-input-field
                                      formControlName="quantity"
                                      [id]="'purchase_quantity_' + i"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Quantity"
                                      type="number"
                                      #itemName
                                      (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.quantity.errors?.required &&
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.quantity.touched ,
                                                        error : 'Quantity is required.' },
                                                      { condition : purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.quantity.errors?.min &&
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.quantity.touched ,
                                                        error : 'Minimum value is one.' }]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                                <!-- <kt-input-field formControlName="quantity"
                                matFormFieldClass="mobile-label full-width" placeholder="Enter Quantity"
                                #itemName type="number" [hintText]="'Optional'"
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)">
                              </kt-input-field> -->
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Credit Column -->
                          <ng-container matColumnDef="cost">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Cost</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-input-field
                                      formControlName="cost"
                                      [id]="'purchase_cost_' + i"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Cost"
                                      type="number"
                                      #itemName
                                      (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.cost.errors?.required &&
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.cost.touched ,
                                                        error : 'Cost is required.'},
                                                        { condition : purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.cost.errors?.min &&
                                                                      purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.cost.touched ,
                                                          error : 'Cost cannot be zero.' }]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Location Column -->
                          <ng-container matColumnDef="tax">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Tax%</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-input-field
                                      formControlName="tax"
                                      [id]="'purchase_tax_' + i"
                                      matFormFieldClass="mobile-label full-width"
                                      placeholder="Enter Tax %"
                                      #itemName
                                      (blurEvent)="logValidationErrors(this.purchaseOrderForm, formErrors, validationMessages)"
                                      [errorMessage]="[{ condition : (purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.tax.errors?.min ||
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.tax.errors?.max) &&
                                                                    purchaseOrderForm.get('purchaseOrderLines')['controls'][i].controls.tax.touched ,
                                                        error : 'Percentage % range (0 - 100).'}]"
                                      (change)="onChangeEvent($event , i , itemName)"
                                      (keyup)="onChangeEvent($event , i , itemName)">
                                    </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="subTotal">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> SubTotal </mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-input-field formControlName="subTotal" [id]="'purchase_subtotal_' + i"
                                  matFormFieldClass="mobile-label full-width" placeholder="Subtotal">
                                </kt-input-field>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Location Column -->
                          <!-- <ng-container matColumnDef="locationId">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Location</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2"> -->
                                <!-- <kt-group-dropdown formControlName="locationId" placeholder="Select Location"
                                  matFormFieldClass="mobile-label full-width"
                                  [optionList]="ngxsService.warehouses$"
                                  clickEventButtonName="Add New Location"
                                  groupPropertyName="name" groupChildrenName="locations" propertyName="name"
                                  propertyValue="id">
                                </kt-group-dropdown> -->
                                <!-- <kt-simple-dropdown 
                                placeholder="Select Location" 
                                propertyValue="id" 
                                propertyName="name"
                                formControlName="locationId" 
                                matFormFieldClass="full-width"
                                [errorMessage]="'Location is Required.'" 
                                [optionList]="ngxsService.locations$">
                              </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container> -->
                          <ng-container matColumnDef="warehouseId">
                            <mat-header-cell *matHeaderCellDef class="flex-1"> Store</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <div class="col-lg-12 col-sm-12 mt-2">
                                <kt-simple-dropdown 
                                      placeholder="Select Store" 
                                      [id]="'purchase_store_' + i"
                                      propertyValue="id" 
                                      propertyName="name"
                                      (click)="checkCampus()"
                                      formControlName="warehouseId" 
                                      [errorMessage]="'Store is required.'"
                                      matFormFieldClass="full-width" 
                                      [optionList]="warehouseList"
                                      [buttonPermission]="permission.isGranted(this.permissions.WAREHOUSE_CREATE)"
                                      clickEventButtonName="Add New Store"
                                      (clickEvent)="addButtonService.openWarehouseDialog()">
                                    </kt-simple-dropdown>
                              </div>
                            </mat-cell>
                          </ng-container>
                          <!-- Action Column -->
                          <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                            <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                              <!-- <mat-icon class="delete-button" (click)="removeJournalEntryLineClick(i);">delete_forever
                                    </mat-icon> -->
  
                              <button class=" app-remove-btn" type="button" [id]="'purchase_remove_' + i"
                                (click)="removePurchaseOrderLineClick(i); totalCalculation()">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                              </button>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>
                    </ng-container>
  
                    <ng-container>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <button class=" app-add-new-line-btn" type="button" id="purchase_add_line" (click)="addPurchaseOrderLineClick()">
                            <i class="fas fa-plus" aria-hidden="true"> </i> Add New Line
                          </button>
                        </div>
                      </div>
                    </ng-container>
  
                  </div>
                </div>
              </div>
  
              <div class="row mt-10">
                <!-- <div class="col-lg-4 ml-auto">
                  <table class="table table-bordered small_table_box">
                    <tr>
                      <th class="text-right" style="width: 70%;">Total Before Tax :</th>
                      <td class="text-right total-value">
                        {{valueFormatter(totalBeforeTax || 0)}}
                    </tr>
                    <tr>
                      <th class="text-right">Total Tax :</th>
                      <td class="text-right total-value">
                        {{valueFormatter(totalTax || 0)}}</td>
                    </tr>
                    <tr>
                      <th class="text-right grand-total-two">Grand Total :
                      </th>
                      <td class="text-right total-value">
                        {{valueFormatter(grandTotal || 0)}}</td>
                    </tr>
                  </table>
                </div> -->

                <div class="col-md-4 col-lg-4  ml-auto mt-3" >
                    <div class="print-box">
                      <h4 >Total Before Tax :
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalBeforeTax || 0)}}</span>
                      </h4>
                    </div>
                    <div class="print-box">
                      <h4 >Total Tax :
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalTax || 0)}}</span>
                      </h4>
                    </div>
                    <div class="print-box">
                      <h4 >Grand Total :
                        <span class="float-right" style="font-weight: 400;">{{valueFormatter(grandTotal || 0)}}</span>
                      </h4>
                    </div>
                  </div>
              </div>
  
            </div>
  
            <!--Invoice Lines-->
          </div>
        </div>
  
        <mat-divider class="mt-10"></mat-divider>
  
        <div class="kt-portlet__foot p-5">
          <div class="kt-form__actions kt-form__actions mb-0">
            <div class="row">
              <div class="col-lg-12 text-right">
                <button class="mr-2 app-reset-btn" id="purchase_reset" type="button" (click)="reset()" mat-raised-button><i class="fas fa-undo"></i> Reset</button>
                <button class="mr-2 app-save-btn" type="submit" mat-raised-button id="purchase_save"
                  (click)="logValidationErrors(this.purchaseOrderForm, this.formErrors, this.validationMessages); isSubmit(0)"><i class="far fa-save"></i> Save</button>
                <button class="app-default-btn" mat-raised-button type="submit" id="purchase_submit"
                  (click)="logValidationErrors(this.purchaseOrderForm, this.formErrors, this.validationMessages); isSubmit(1)">
                  <i class="far fa-save"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </kt-portlet>
  </div>