// import login css
@import "../../../../assets/sass/pages/login/login-3.scss";

kt-auth, #kt_login_wrapper {
	height: 100%;

	@media (min-width: 992px) {
		.login.login-3 .login-form {
			width: 100%;
			max-width: 450px;
		}
	 }

	.login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}
	 }
}


kt-auth, .login {
	 height: 100%;

	 .login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}
	 }


	// add extra right padding when displaying spinner in button
 	.spinner {
 		padding-right: 3rem !important;
 	}
}

kt-login, kt-register, kt-forgot-password {
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	flex: 1 0 auto;
	height: 100%;
	display: flex !important;
}

.height-100 {
	height: 100%;
}
//custom login form css


// body::before
// {
// 	content: "";
//     position: absolute;
//     width: 25%;
//     height: 35%;
//     right: 0px;
//     top: 0px;
//     background-color: #1e6d87;
//     border-radius: 0px 0px 0px 350px;
	
// }

// body::after
// {
// 	content: "";
//     position: absolute;
//     width: 25%;
//     height: 35%;
//     left: 0px;
//     bottom: 0px;
//     background-color: #1e6d87;
//     border-radius: 0px 0px 0px 350px;
// 	z-index: -1;
	
// }

.auth-bg-image{
	//@at-root: url("/assets/media/bg/bg-for-login-pic3.jpg");
	background-color:#eef0f8;
	background-size: cover;


}
// h1 {
// 	font-weight: bold;
// 	margin: 0;
// }

// h2 {
// 	text-align: center;
// }

// p {
// 	font-size: 14px;
// 	font-weight: 100;
// 	line-height: 20px;
// 	letter-spacing: 0.5px;
// 	margin: 20px 0 30px;
// }

// span {
// 	font-size: 12px;
// }

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	//margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #2c3355;
	background-color: #4D648D;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

// button:active {
// 	transform: scale(0.95);
// }

button:focus {
	outline: none;
}

// button.ghost {
// 	background-color: transparent;
// 	border-color: #FFFFFF;
// }

// .form1 {
// 	background-color: #FFFFFF;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 50px;
// 	height: 100%;
// 	text-align: center;
// }


// input {
// 	background-color: #eee;
// 	border: none;
// 	padding: 8px 15px;
// 	margin: 6px 0;
// 	width: 80%;
// }

// .container1 {
// 	background-color: #eef0f8;
// 	border-radius: 10px;
//   	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
// 			0 10px 10px rgba(0,0,0,0.22);
// 	position: relative;
// 	overflow: hidden;
// 	width: 768px;
// 	max-width: 100%;
// 	min-height: 480px;
// }

// .form-container1 {
// 	position: absolute;
// 	top: 0;
// 	height: 100%;

// }

// .sign-in-container {
// 	left: 0;
// 	width: 50%;
// 	z-index: 2;
// }

// .container.right-panel-active .sign-in-container {
// 	transform: translateX(100%);
// }

// .sign-up-container {
// 	left: 0;
// 	width: 50%;
// 	opacity: 0;
// 	z-index: 1;
// }

// .container.right-panel-active .sign-up-container {
// 	transform: translateX(100%);
// 	opacity: 1;
// 	z-index: 5;
// 	animation: show 0.6s;
// }



// .overlay-container {
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// 	width: 50%;
// 	height: 100%;
// 	overflow: hidden;
// 	transition: transform 0.6s ease-in-out;
// 	z-index: 100;
// }

// .container.right-panel-active .overlay-container{
// 	transform: translateX(-100%);
// }


// .overlay {

// 	background: -webkit-linear-gradient(to right, #4D648D, #4D648D);
// 	background: linear-gradient(to right, #2d3a52, #4D648D);
// 	//background-image: url("/assets/media/bg/overlay-for-login-pic1.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: 0 0;
// 	color: #FFFFFF;
// 	position: relative;
// 	left: -100%;
// 	height: 100%;
// 	width: 200%;
//   	transform: translateX(0);
// 	transition: transform 0.6s ease-in-out;
// }

// .container.right-panel-active .overlay {
//   	transform: translateX(50%);
// }

// .overlay-panel {
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 40px;
// 	text-align: center;
// 	top: 0;
// 	height: 100%;
// 	width: 50%;
// 	transform: translateX(0);

// }


// .container.right-panel-active .overlay-left {
// 	transform: translateX(0);
// }

// .overlay-right {
// 	right: 0;
// 	transform: translateX(0);
// }

// .container.right-panel-active .overlay-right {
// 	transform: translateX(20%);
// }
//above stylesheet was old//

/*------------------Login form left div styles start------------*/
.bg_full
{
	background-color: #1a6b85 !important;
	background-image:  linear-gradient(to right, #1a6b85, #4a8a9e) !important;
}
.form-left-div-bg
{
	//background-color: indigo;
	// background-color: #1a6b85 !important;
	// background-image:  linear-gradient(to right, #1a6b85, #4a8a9e) !important;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	// box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	// border-radius: 10px;
	min-height: 70vh;
	// background-image: url('../../../../assets/media/logos/bg_login.jpg');
	background-image: url('../../../../assets/media/Login/edinfini-login-image.jpg');
	background-size: cover;
	background-position: center;
	justify-content: right;
	align-items: flex-end;
	border-radius: 5px;
	
}

.form-left-div-bg::before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.7;
    background-color: #141e27;
	border-radius: 5px;
}

// input {
// 	background-color: #eee;
// 	border: none;
// 	padding: 8px 15px;
// 	margin: 6px 0;
// 	width: 80%;
// }

.logo-img{
	width: 50%;
	padding-bottom: 20px;

}
.form-h1
{
	float: center;
}
/*------------------Login form left div styles end------------*/

/*------------------Login form right div styles start------------*/
.form-right-div-bg
{
	background-color: #eef0f8;
	text-align: center;
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
	// background: linear-gradient(-135deg, #2e303e 10%, #2b335b 10%, #2b335a 20%, #fff 20%, #fff 50%, #fff 50%, #fff 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 60px;
	
}

.form-right-div-bg form
{
	width: 100%;
	padding: 0px 20px;
}
/*------------------Login form right div styles end------------*/

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

	// .form-left-div-bg{
	// 	min-height: 120px;
	// 	border-bottom-right-radius: 10px;
	// 	border-bottom-left-radius: 10spx;
	// 	border-top-right-radius: 1px;
	// 	border-top-left-radius: 1px;

	// }
	.form-h1{font-size: 18px;}

	// .form-right-div-bg
	// {
	// 	border-top-right-radius: 1px;
	// 	border-top-left-radius: 1px;
	// }




}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
	// .form-left-div-bg{
	// 	min-height: 120px;
	// 	border-bottom-right-radius: 10px;
	// 	border-bottom-left-radius: 10px;
	// 	border-top-right-radius: 1px;
	// 	border-top-left-radius: 1px;

	// }
	.form-h1{font-size: 18px;}
	// .form-right-div-bg
	// {
	// 	border-top-right-radius: 1px;
	// 	border-top-left-radius: 1px;
	// }
}


/*------------------low resolation tablets desktop and laptop------------*/
@media (min-width:961px)
{
	// .form-left-div-bg
	// 				{

	// 					min-height: 360px;
	// 					border-bottom-right-radius: 10px;
	// 					border-bottom-left-radius: 10px;
	// 					border-top-right-radius: 1px;
	// 					border-top-left-radius: 1px;
	// 				}
}

/*------------------high resolation desktop laptop------------*/
@media (min-width:1025px) {
	// .form-left-div-bg
	// 					{

	// 						min-height: 380px;
	// 					}

 }


/*------------------high resolation desktop laptop------------*/
@media (min-width:1281px)
 {
						// .form-left-div-bg
						// {

						// 	min-height: 400px;
						// }
}





.group__sty input
{
	background-color: #f2f2f2;
	padding: 15px;
	// border-radius: 0px 20px 20px 0px;
	border: 1px solid #d0d0d0;
}

.heading__text
{
	
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 3px 3px rgba(20, 30, 39, 0.3)
	;
	font-size: 45px;
	color: #65c18c;
	letter-spacing: .15em;
	
}


// 

.error_msg
{
  margin-top: 2px;
  padding: 2px 10px;
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 12px;
}

.error_msg i
{
  font-size: 12px;
}

.error_msg_pass
{
  margin-top: 2px;
  padding: 2px 10px;
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 12px;
  
}

.error_msg_pass i
{
  font-size: 12px;
}
