<div class="container " >
  <div class="col-lg-10 mx-auto text-right">
    <div class="row">
      <button
        printSectionId="main"
        printTitle="Goods Received Note"
        id="grn_print"
        ngxPrint
        type="button"
        [useExistingCss]="true"
        class="app-default-btn"
        style="margin-bottom: 20px;"><i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
  <div class="col-lg-10 mx-auto" id="main">
    <div class="row">
      <div class="bg-whitee">

        <div class="print_header_area p-s-1">
          <div class="print-col-6 p-s-1-one">
            <div class="logo_and_title">
              <div class="print-logo"></div>
              <!-- <img src="../../../../../../assets/media/logos/logo-wr.png" style="height: 100px;" alt=""> -->
              <span class="top-heading">Goods Received Note</span>
            </div>
            
          </div>
          <div class="print-col-5 ml-auto p-s-1-two">
            <div class="id_num">
              <div class="print-box-one">
                <h4>Document No: <span class="float-right" style="font-weight: 400;">{{grnMaster?.docNo}}</span></h4>
                <p style="margin-bottom: 0px;"></p>
              </div>
              <div class="print-box-two">
                <h4>GRN Date: <span class="float-right" style="font-weight: 400;">{{grnMaster?.grnDate | date: 'MMM d, y'}}</span></h4>
              </div>
            </div>
            
          </div>
        </div>

        
        <div class="print_body_area p-s-2">

          <div class="print-col-5 p-s-2-one">
            
            <div class="print-box" >
              <h4>{{grnMaster?.vendorName}}</h4>
              <!-- <p style="font-size: 16px;font-weight: 600;color: #1a6b85;margin-bottom: 2px;"></p> -->
              <p>24 Dummy Street Area, Location, Lorem Ipsum, 570xx59x</p>
            </div>
          </div>

          <div class="print-col-12 p-s-2-two">
            <div class="table-responsive">
              <table class="table ">
                <thead class="thead-dark_color">
                  <tr>
                    <th>S.No</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Tax</th>
                    <th>Store</th>
                    <th class="text-center">SubTotal</th>
                    
                    
                  </tr>
                  <tr *ngFor="let detail of grnLines ; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{detail?.item}}</td>
                    <td> {{detail?.description}}</td>
                    <td>{{detail?.quantity}}</td>
                    <td>{{valueFormatter(detail?.cost)}}</td>
                    <td> {{detail?.tax + '%'}}</td>
                    <td>{{detail?.warehouse}}</td>
                    <td class="text-right"><b>{{valueFormatter(detail?.subTotal)}}</b></td>
                  </tr>
                  
                </thead>
              </table>
            </div>
          </div>


          <!-- <div class="print-col-5  ml-auto" style=" margin-top: 2%;">

            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Total Before Tax:
                <span class="float-right" style="font-weight: 500;">{{valueFormatter(grnMaster?.totalBeforeTax)}}</span>
              </h4>
            </div>
            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;">Total Tax:
                <span class="float-right" style="font-weight: 500;">{{valueFormatter(grnMaster?.totalTax)}}</span>
              </h4>
            </div>
    
            <div class="print-box">
              <h4 style="font-size: 14px;letter-spacing: 1px;font-weight: 600;color: #1a6b85;margin-top: 10px;border-top: 2px solid #1a6b85;
              padding-top: 10px;">Grand Total:
                <span class="float-right" style="font-weight: 500;">{{valueFormatter(grnMaster?.totalAmount)}}</span>
              </h4>
            </div>
          </div> -->


          <div class="print-col-12 p-s-4">
            
            <div class="print-box p-s-4-one">
              <p>Terms and conditions:</p>
            </div>
            <div class="print-box p-s-4-two">
              <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </h4>
            </div>

            <div class="print-box p-s-4-three">
              <p>Thankyou for your Business</p>
            </div>
          </div>
          <div class="print-col-4 p-s-5">
            _________________________________
            <p class="text-center">Authorised Sign</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
