<div [ktBusy]="isLoading" class="kt-portlet" style="overflow : hidden;">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
                <span class="kt-portlet__head-icon kt-hide"><i class="la la-gear"></i></span>
                <h3 class="kt-portlet__head-text modal-header"> Create Location 
                  <span (click)="onCloseDialog()" class="dialog-cross" ><i class="fa fa-times float-right"></i></span>
                </h3>
            </div>
        </div>
    </div>
    <!-- form start -->
    <form [formGroup]="locationForm"  (ngSubmit)="onSubmit()" class="kt-form kt-form--label-align-right">
        <!-- portlet body starts -->
        <div class="kt-portlet__body">
            <!-- form first section starts -->
            <div class="kt-form__section kt-form__section--first">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <!-- first row starts -->
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group kt-form__group pt-2 pb-0">
                        <label class="col-form-label pt-0">Name:</label>
                        <kt-input-field
                          formControlName="name"
                          placeholder="Enter Name"
                          (blurEvent)="logValidationErrors(this.locationForm, formErrors, validationMessages)"
                          [errorMessage]="[{ condition : formErrors.name , error : formErrors.name }]">
                        </kt-input-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group kt-form__group pt-2 pb-0">
                        <label class="col-form-label pt-0">Dimension:</label>
                        <kt-input-field
                          formControlName="dimensions"
                          placeholder="Enter Dimension"
                          [hintText]="'Optional'">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
                <!-- first row ends -->
                <!-- second row starts -->
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group kt-form__group pt-2 pb-0">
                        <label class="col-form-label pt-0">Warehouse:</label>
                        <kt-simple-dropdown
                          propertyName="name"
                          propertyValue="id"
                          searchPlaceholder="Search Warehouse"
                          matFormFieldClass="full-width"
                          placeholder="Select Warehouse"
                          (blurEvent)="logValidationErrors(locationForm, formErrors, validationMessages)"
                          formControlName="warehouse"
                          [optionList]="ngxsService.warehouses$"
                          clickEventButtonName="Add New Warehouse"
                          (clickEvent)="openWarehouseDialog()"
                          [errorMessage]="formErrors.warehouse">
                        </kt-simple-dropdown>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="form-group kt-form__group pt-2 pb-0">
                        <label class="col-form-label pt-0">Supervisor/Manager:</label>
                        <kt-input-field
                          formControlName="supervisor"
                          placeholder="Enter Supervisor/Manager"
                          [hintText]="'Optional'">
                        </kt-input-field>
                    </div>
                  </div>
                </div>
                <!-- second row ends -->
              </div>
            </div>
             <!-- form first section ends -->
        </div>
        <!-- portlet body ends -->
        <mat-divider></mat-divider>
        <!-- portlet footer start -->
        <div class="kt-portlet__foot" >
             <!-- form action starts -->
            <div class="kt-form__actions kt-form__actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-right">
                          <button class="mr-3 btn_white" mat-raised-button type="reset">Reset</button>
                          <button mat-raised-button class="sub___btn" type="submit"
                          (click)="logValidationErrors(this.locationForm, this.formErrors, this.validationMessages)">Submit</button>&nbsp;
                      </div>
                    </div>
                </div>
            </div>
             <!-- form action ends-->
        </div>
        <!-- portlet footer ends -->
    </form>
    <!-- form ends -->
</div>
